<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=8,IE=9,IE=10,IE=Edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @{
        var isie8 = false;
        var browse = Request.Browser;
        if (string.Compare(browse.Browser, "IE", true) == 0
            && (string.Compare(browse.Version, "7.0", true) == 0
            || string.Compare(browse.Version, "8.0", true) == 0))
        {
            isie8 = true;
        }

        //var isie = false;
        //var ua = Request.UserAgent;
        //var msie = ua.IndexOf("MSIE ");
        //if (msie > 0)
        //{
        //    // IE 10 or older => return version number
        //    isie = true;
        //}
        //var trident = ua.IndexOf("Trident/");
        //if (trident > 0)
        //{
        //    // IE 11 => return version number
        //    isie = true;
        //}
        //var edge = ua.IndexOf("Edge/");
        //if (edge > 0)
        //{
        //    // Edge (IE 12+) => return version number
        //    isie = true;
        //}
    }


    @if (isie8)
    {
        @Styles.Render("~/Content/css")
    }
    else
    {
        <link href="@Url.Content("~/Content/bootstrap-3.3.7/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    }

    <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/lobilist/dist/lobilist.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/lobilist/lib/lobibox/css/lobibox.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/lobilist/lib/highlight/github.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/themes/bootstrapfileinput.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/intro/introjs.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/intro/introjs-rtl.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/intro/arial-narrow.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/jquery.flexdatalist.min.css")" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/jquery-autocomplete/jquery.auto-complete.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Layout.css")" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/datatables/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />

    @Scripts.Render("~/bundles/modernizr")
    @*@Scripts.Render("~/bundles/jquery")*@
    <script src="~/Scripts/jquery.1.12.4/jquery-1.12.4.min.js" type="text/javascript"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/datatables")

    @if (isie8)
    {
        @Scripts.Render("~/bundles/bootstrap")
    }
    else
    {
        <script src="~/Content/bootstrap-3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
    }

    <script src="~/Scripts/ajaxfileupload.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.base64.js" type="text/javascript"></script>
    <script src="~/Scripts/intro/intro.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.stickytableheaders.js" type="text/javascript"></script>
    <script src="~/Scripts/Prometheus.js" type="text/javascript"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/highcharts-modal.js" type="text/javascript"></script>
    <script src="~/Scripts/highcharts.js"></script>
    <script src="~/Scripts/highcharts-more.js"></script>
    <script src="~/Scripts/exporting.js"></script>
    <script src="~/Scripts/jquery-autocomplete/jquery.auto-complete.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/jquery-bootstrap-loading.js"></script>
    <script type="text/javascript" src="~/Scripts/canvg.js"></script>
    <script type="text/javascript" src="~/Scripts/copy2clipboard.js"></script>

    <script src="~/Scripts/datatables/buttons.html5.min.js"></script>
    <script src="~/Scripts/datatables/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/datatables/jszip.min.js"></script>

    @if (isie8)
    {
        <script src="~/Scripts/oldie.js" type="text/javascript"></script>
    }
    else
    {
        <script src="~/Scripts/offline-exporting.js"></script>
    }

    <script type="text/javascript">
        $(function () {
            Prometheus.init();
        });
    </script>
    <style>
        thead {
            background-color: #006DC0;
            font-family: 'Arial Narrow';
            color: white !important;
        }

        tbody {
            font-family: 'Arial Narrow';
        }

        table.dataTable tbody td {
            padding: 4px 10px;
        }
    </style>
</head>

@{
    var isvideook = true;
    var ua = Request.UserAgent;
    if (ua.IndexOf("MSIE ") > 0)
    { isvideook = false; }
    if (ua.IndexOf("Edge/") > 0 || ua.IndexOf("Trident/") > 0)
    { isvideook = true; }
}

<body>
    <script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover({ html: true, placement: 'bottom' });
    })
    </script>

    <div class="navbar navbar-default navbar-fixed-top div-nav">
        <nav class="navbar navbar-default navbar-fixed-top nav-content">
            <div class="container">
                <div class="row">
                    <div class="navbar-header logo">
                        <a class="navbar-brand" href="#">
                            <img alt="Brand" src="~/Content/images/FinisarLogo.jpg" height="54" width="250">
                        </a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse div-navlink">
                        <ul class="nav navbar-nav" data-toggle="modal" data-target="#myModal">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Projects<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Html.ActionLink("View Projects", "ViewAll", "Project")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Create Projects", "CreateProject", "Project")
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav" data-toggle="modal" data-target="#myModal">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Task<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Html.ActionLink("Create Task", "CreateIssue", "Issue")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Create RMA Task", "CreateRMA", "Issue")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Create FA", "CommitFAData", "CustomerData")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Search Task", "SearchIssue", "Issue")
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav" data-toggle="modal" data-target="#myModal">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">3rd Party Data<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Html.ActionLink("Submit Vcsel PN Info", "CommitVcselPNInfo", "CustomerData")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Submit Vcsel Data", "CommitVcselData", "CustomerData")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Review Vcsel Data", "ReviewVcselData", "CustomerData")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Review RMA Data", "ReviewRMABackupData", "CustomerData")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Review REL Data", "ReviewRelBackupData", "CustomerData")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Review IQE Data", "ReviewIQEBackupData", "CustomerData")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Review Wafer Info", "ReviewWaferInfo", "CustomerData")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Review Wafer Coord Data", "ReviewWaferCoordData", "CustomerData")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Debug Tree", "DebugTree", "DashBoard")
                                    </li>

                                    <li>
                                        @Html.ActionLink("DownLoad ATE", "DownLoadATETestData", "CustomerData")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Module Latest Status", "SNLatestTestStauts", "CustomerData")
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav" data-toggle="modal" data-target="#myModal">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">User Center<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Html.ActionLink("User Center", "UserCenter", "User")
                                    </li>
                                    <li>
                                        @if (ViewBag.RealUserID != null)
                                        {
                                            @Html.ActionLink("Add Project Critical Error", "AddPJCriticalError", "User")
                                        }
                                    </li>
                                    <li>
                                        @if (ViewBag.RealUserID != null)
                                        {
                                            <a href="/User/MyStatus?username=@(ViewBag.RealUserID)">I Status</a>
                                        }
                                    </li>
                                    <li>
                                        @if (ViewBag.RealUserID != null && ViewBag.month != null)
                                        {
                                            <a href="/User/ICare?username=@(ViewBag.RealUserID)&month=@(ViewBag.month)">I Focus</a>
                                        }
                                        else if (ViewBag.RealUserID != null)
                                        {
                                            <a href="/User/ICare?username=@(ViewBag.RealUserID)&month=">I Focus</a>
                                        }
                                    </li>
                                    <li>
                                        @if (ViewBag.IsSuper != null && ViewBag.IsSuper)
                                        {
                                            @Html.ActionLink("UserMatrix", "CommitUserMatrix", "CustomerData")
                                        }
                                    </li>
                                    <li>
                                        @if (ViewBag.IsSuper != null && ViewBag.IsSuper)
                                        {
                                            @Html.ActionLink("I Group", "IGroup", "User")
                                        }
                                    </li>
                                    <li>
                                        @if ((ViewBag.IsSuper != null && ViewBag.IsSuper) || (ViewBag.IsManage != null && ViewBag.IsManage))
                                        {
                                            @Html.ActionLink("I Admire", "IAdmire", "User")
                                        }
                                    </li>
                                    <li>
                                        @if ((ViewBag.IsSuper != null && ViewBag.IsSuper) || (ViewBag.IsManage != null && ViewBag.IsManage))
                                        {
                                            @Html.ActionLink("User Reviewed Info", "UserReviewedInfo", "User")
                                        }
                                    </li>
                                    <li>
                                        @if ((ViewBag.IsSuper != null && ViewBag.IsSuper) || (ViewBag.IsManage != null && ViewBag.IsManage))
                                        {
                                            @Html.ActionLink("User Shared Info", "UserSharedInfo", "User")
                                        }
                                    </li>
                                    <li>
                                        @if ((ViewBag.IsSuper != null && ViewBag.IsSuper) || (ViewBag.IsManage != null && ViewBag.IsManage))
                                        {
                                            @Html.ActionLink("KPI Summary", "GetKPI", "User")
                                        }
                                    </li>
                                    @*<li>
                                        @Html.ActionLink("Permission", "ApplyForPermission", "Permission")
                                    </li>*@
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav" data-toggle="modal" data-target="#myModal">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Analysis<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    @*<li>
                                        @Html.ActionLink("TXO Trend Compare", "TXOTestData", "DataAnalyze")
                                    </li>*@
                                    <li>
                                        @Html.ActionLink("Smart CPK", "CPKAnalysis", "DataAnalyze")
                                    </li>
                                    <li>
                                        @Html.ActionLink("NeoMap Data Analysis", "NeoMapDataAnalysis", "DataAnalyze")
                                    </li>
                                    <li>
                                        @Html.ActionLink("BURN-IN Monthly Yield", "MonthlyVcsel", "DataAnalyze")
                                    </li>
                                    <li>
                                        @Html.ActionLink("BURN-IN Wafer Distribution", "WaferDistribution", "DataAnalyze")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Wafer QUAL Yield", "MonthlyHTOL", "DataAnalyze")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Wafer QUAL Distribution", "HTOLDistribution", "DataAnalyze")
                                    </li>
                                    <li>
                                        @Html.ActionLink("VCSEL RMA", "VcselRMA", "DataAnalyze")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Shipment Distribution", "ShipmentData", "DataAnalyze")
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        @Html.Partial("_LoginPartial")

                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span class="glyphicon glyphicon-link" title="Friendly Links" data-toggle="tooltip"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="http://cn-traceview/" target="_blank">Trace View</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav">
                            <li>
                                @if (isvideook)
                                {
                                    <a tabindex="0" class="btn" role="button" data-toggle="popover" data-container="body" placement="bottom" title="WXUI Engineering Introduce" data-content="<video src='/Content/FAIntroduce.mp4' width='220' height='140' controls type='video/mp4'></video>">
                                        <span class="glyphicon glyphicon-question-sign"></span>
                                    </a>
                                }
                                else
                                {
                                    <a href="javascript:void(0)" onclick="introJs().start()">
                                        <span class="glyphicon glyphicon-question-sign" title="Help" data-toggle="tooltip"></span>
                                    </a>
                                }
                            </li>
                        </ul>
                        <ul class="nav navbar-nav">
                            <li>
                                <a MYTP="HOVER" id="editablebt" name="editablebt" onclick="changepagemode()">
                                    <span class="glyphicon glyphicon-edit" title="Edit Mode" data-toggle="tooltip"></span>
                                </a>
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="container body-content">
        @Html.Partial("~/Views/Shared/_ProjectMenus.cshtml")
        @RenderBody()

        <hr />
        <footer>
            <p class="red-text text-center" style="font-family:'Arial';">&copy; @DateTime.Now.Year - WUXI Engineering System</p>
        </footer>
        <script src="~/Scripts/placeholders.min.js"></script>
        <script src="~/Scripts/intro/intro.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            //$(window).load(function () {
            //    $(".se-pre-con").fadeOut("slow");
            //});
            function SetReplyPeople(reply)
            {
                CKEDITOR.instances.editor1.setData(reply+'&nbsp;');
                $('#commentinput').collapse('show');
                var scrollingElement = (document.scrollingElement || document.body)
                scrollingElement.scrollTop = scrollingElement.scrollHeight;
            }

                        function RealSaveUserContent(myval)
                        {
                            if (myval)
                            {
                                var userdata = {};
                                $.base64.utf8encode = true;
                                userdata['myval'] = $.base64.btoa(myval);

                                $.ajax({
                                    url: "/User/SaveCacheInfo",
                                    data: userdata,
                                    type: 'POST',
                                    dataType: 'text',
                                    success: function (data, e)
                                    {
                                        alert(data);
                                    },
                                    error: function (e)
                                    {
                                        alert(e);
                                    }
                                });
                            }

                            return false;
                        }

                        function UserCacheContent()
                        {
                            var myurl = '/User/UserCachedInfo';
                            window.open(myurl, '_blank');
                        }

                        function npireadmode()
                        {
                            $('.form-control').attr('disabled', 'disabled');
                            $('input').attr('disabled', 'disabled');
                            $('.btn-available').removeAttr('disabled');
                            $('input[type=hidden]').removeAttr('disabled');
                        }

                        function npieditmode()
                        {
                            $('.form-control').removeAttr('disabled');
                            $('input').removeAttr('disabled');
                        }

                        function changepagemode()
                        {
                            if ($("#editablebt").children("span").hasClass("glyphicon-edit")) {
                                $("#editablebt").children("span").removeClass("glyphicon-edit").addClass("glyphicon-eye-open");
                                npieditmode();
                            }
                            else
                            {
                                $("#editablebt").children("span").removeClass("glyphicon-eye-open").addClass("glyphicon-edit");
                                 npireadmode();
                            }
                        }
        </script>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog loading-modal">
            <!--[if lt IE 9]>
            <h1>Loading!  Please waiting...</h1>
            <![endif]-->

            <div class="row">
                <div class="spinner">
                    <div class="cube1"></div>
                    <div class="cube2"></div>
                </div>
            </div>
            <div class="loading-content">
                <h4>
                    <span class="loading-span">F</span>
                    <span class="loading-span loading-span-i-0">I</span>
                    <span class="loading-span">N</span>
                    <span class="loading-span loading-span-i-1">I</span>
                    <span class="loading-span">S</span>
                    <span class="loading-span">A</span>
                    <span class="loading-span">R</span>
                </h4>
            </div>
        </div>
    </div>
    
</body>
</html>
