@model IEnumerable<Prometheus.Models.RELRAWData>

@{
    ViewBag.Title = "ReviewRelBackupData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-4">
        <h2>Review REL Data</h2>
    </div>
    <div class="col-lg-4">
        <h2><button class="form-control" data-toggle="tooltip" title="Export All REL Data" onclick="ShareAllREL()" type="button"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>ALL</button></h2>
    </div>
    <div class="col-lg-4">
    </div>
    <script type="text/javascript">
        function ShareAllREL() {
            var myurl = '/CustomerData/ExportAllRELData';
                window.open(myurl, '_blank');
        }
    </script>
</div>

<style type="text/css">
    th, td {
        white-space: nowrap;
    }
</style>

<hr />

<table id="pndatatable" class="display" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th style="font-size:12px">Rel Failure Case ID</th>
            <th style="font-size:12px">Status</th>
            <th style="font-size:12px">Occurrence Date</th>
            <th style="font-size:12px">Close Date</th>
            <th style="font-size:12px">Qual.Type</th>
            <th style="font-size:12px">Request ID</th>
            <th style="font-size:12px">Line category</th>
            <th style="font-size:12px">Product</th>
            <th style="font-size:12px">Test Type</th>
            <th style="font-size:12px">Failure Interval</th>
            <th style="font-size:12px">SN</th>
            <th style="font-size:12px">QTY(Failure)</th>
            <th style="font-size:12px">Total QTY</th>
            <th style="font-size:12px">Analyst</th>
            <th style="font-size:12px">Rel.Engineer</th>
            <th style="font-size:12px">Test Failure</th>
            <th style="font-size:12px">FA Findings</th>
            <th style="font-size:12px">Containment action</th>
            <th style="font-size:12px">Root Cause</th>
            <th style="font-size:12px">Corrective Action</th>
            <th style="font-size:12px">Location</th>
            <th style="font-size:12px">Due Date</th>
            <th style="font-size:12px">Aging Days</th>
            <th style="font-size:12px">Remark</th>
            <th style="font-size:12px">FA report Link</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var line in Model)
        {
            <tr>
                <th style="font-size:12px">@line.AppV_A.ToString()</th>
                <th style="font-size:12px">@line.AppV_B</th>
                <th style="font-size:12px">@line.AppV_C</th>
                <th style="font-size:12px">@line.AppV_D</th>
                <th style="font-size:12px">@line.AppV_E</th>
                <th style="font-size:12px">@line.AppV_F</th>
                <th style="font-size:12px">@line.AppV_G</th>
                <th style="font-size:12px">@line.AppV_H</th>
                <th style="font-size:12px">@line.AppV_I</th>
                <th style="font-size:12px">@line.AppV_J</th>
                <th style="font-size:12px">@line.AppV_K</th>
                <th style="font-size:12px">@line.AppV_L</th>
                <th style="font-size:12px">@line.AppV_M</th>
                <th style="font-size:12px">@line.AppV_N</th>
                <th style="font-size:12px">@line.AppV_O</th>
                <th style="font-size:12px">@line.AppV_P</th>
                <th style="font-size:12px">@line.AppV_Q</th>
                <th style="font-size:12px">@line.AppV_R</th>
                <th style="font-size:12px">@line.AppV_S</th>
                <th style="font-size:12px">@line.AppV_T</th>
                <th style="font-size:12px">@line.AppV_U</th>
                <th style="font-size:12px">@line.AppV_V</th>
                <th style="font-size:12px">@line.AppV_W</th>
                <th style="font-size:12px">@line.AppV_X</th>
                <th style="font-size:12px">@line.AppV_Y</th>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
        $(document).ready(function() {
            $('#pndatatable').DataTable({
                'scrollX': true,
                'iDisplayLength': 50,
                'aLengthMenu': [[25, 50, 100, -1],
                                [25, 50, 100, "All"]],
                "bAutoWidth": false,
                "aaSorting": [],
                "order": []
            });
                    } );
</script>
