@model Prometheus.Models.IssueViewModels

@{
    ViewBag.Title = "UpdateRel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.isassignee != null && ViewBag.isassignee)
{
}
else
{
    <script type="text/javascript">
            $(document).ready(function () {
                npireadmode();
        });
    </script>
}

<div class="row">
    <div class="nav navbar-nav navbar-left">
        <img src="~/Content/images/PJ/REL.png" style="height:35px; width:35px;margin-right: 15px;">
    </div>
    <div class="nav navbar-nav navbar-left">
        <ol class="breadcrumb" style="width:600px">
            <li><a data-toggle="tooltip" title="Goto ViewAll" href="/Project/ViewAll">All Projects</a></li>
            @if (Model != null)
            {
                <li><a data-toggle="tooltip" title="Goto Project Detail" href="/Project/ProjectDetail?ProjectKey=@(Model.ProjectKey)">Project Detail</a></li>
            }
            @if (Model != null)
            {
                <li><a data-toggle="tooltip" title="Goto Reliability" href="/Project/ProjectReliability?ProjectKey=@Model.ProjectKey">Project Reliability</a></li>
            }
            <li class="active">Update Reliability</li>
        </ol>
    </div>

    <div class="nav navbar-nav navbar-right">
        @if (Model != null && string.IsNullOrEmpty(Model.ParentIssueKey))
        {
            using (Html.BeginForm("PrepareSubIssue", "Issue", FormMethod.Post, new { enctype = "multipart/form-data", id = "subtaskid", name = "subtaskid" }))
            {
                @Html.AntiForgeryToken()
                if (Model != null && !string.IsNullOrEmpty(Model.IssueKey))
                {
                    <input class="form-control text-box single-line" value="@(Model.IssueKey)" id="HIssueKey" name="HIssueKey" type="hidden" />
                }
                else
                {
                    <input class="form-control text-box single-line" id="HIssueKey" name="HIssueKey" type="hidden" value="" />
                }
                if (Model != null && !string.IsNullOrEmpty(Model.ProjectKey))
                {
                    <input class="form-control text-box single-line" value="@(Model.ProjectKey)" id="HProjectKey" name="HProjectKey" type="hidden" />
                }
                else
                {
                    <input class="form-control text-box single-line" id="HProjectKey" name="HProjectKey" type="hidden" value="" />
                }

                <button type="submit" class="btn btn-success" data-intro="Using edit mode to add sub task." data-step="1">Add Sub-Task</button>
            }
        }
        else if (Model != null && !string.IsNullOrEmpty(Model.ParentIssueKey))
        {
           
        }
        <script type="text/javascript">
            function AddSubTask() {
                $("#subtaskid").submit();
                return false;
            }
        </script>
    </div>
</div>

@if (ViewBag.isassignee != null && ViewBag.isassignee)
{
    <div class="row">
        <div class="col-xs-12">&nbsp;</div>
    </div>
}
else
{
    <div class="alert alert-success" role="alert" style="padding:4px!important">
        You are in review mode now.  If you want edit current page, please click  <a MYTP="HOVER" id="editablebt" name="editablebt" onclick="changepagemode()">
            <span class="glyphicon glyphicon-edit" title="Edit Mode" data-toggle="tooltip"></span>
        </a>
    </div>
}



<div class="row">
    <div class="col-xs-3">
    </div>
    <div class="col-xs-4">
    </div>
    <div class="col-xs-3">
    </div>
    <div class="col-xs-2">
        @if (Model != null)
        {
            <input class="form-control text-box single-line" value="@(Model.IssueKey)" id="HIssueKeyForDelete" name="HIssueKeyForDelete" type="hidden" />
        }
    </div>
</div>

<script src="../../ckeditor/ckeditor.js"></script>

@using (Html.BeginForm("UpdateRel", "Issue", FormMethod.Post, new { enctype = "multipart/form-data", id = "issueform", name = "issueform" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-xs-2" MYTP="orange" style="font-family:'Arial Narrow';font-size:18px"><strong>&nbsp;&nbsp;Information</strong></div>
            <div class="col-xs-10">
            @if (Model != null)
            {
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-6">
                                <label class="control-label col-xs-4" for="projectlist">Project</label>
                                <div class="col-xs-8">
                                    @Html.DropDownList("projectlist", null, new { @id = "projectlist", @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <label class="control-label col-xs-4">Summary</label>
                                <div class="col-xs-8">
                                    <input class="form-control" data-toggle="tooltip" title="@Model.Summary" text-box single-line" value="@Model.Summary" readonly="readonly" type="text" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-6">
                                <div class="col-xs-4"><label class="control-label">Case ID</label></div>
                                <div class="col-xs-8">
                                    <input class="form-control text-box single-line" value="@Model.CaseID" readonly="readonly" type="text" />
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="col-xs-4"><label class="control-label">Product</label></div>
                                <div class="col-xs-8">
                                    <input class="form-control text-box single-line" value="@Model.ProductType" readonly="readonly" type="text" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-6">
                                <div class="col-xs-4"><label class="control-label">Issue Open Date</label></div>
                                <div class="col-xs-8">
                                    <input class="form-control text-box single-line" value="@Model.ReportDate.ToString("yyyy-MM-dd")" readonly="readonly" type="text" />
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="col-xs-4"><label class="control-label">Close Date</label></div>
                                <div class="col-xs-8">
                                    @if (string.Compare(Model.ResolvedDate.ToString("yyyy-MM-dd"), "1982-05-06") == 0)
                                    {
                                        <input class="form-control text-box single-line" value="" readonly="readonly" type="text" />
                                    }
                                    else
                                    {
                                        <input class="form-control text-box single-line" value="@Model.ResolvedDate.ToString("yyyy-MM-dd")" readonly="readonly" type="text" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-6">
                                <div class="col-xs-4"><label class="control-label">Line Category</label></div>
                                <div class="col-xs-8">
                                    <input class="form-control text-box single-line" value="@Model.LineCategory" readonly="readonly" type="text" />
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="col-xs-4"><label class="control-label">Qual Type</label></div>
                                <div class="col-xs-8">
                                    <input class="form-control text-box single-line" value="@Model.QualType" readonly="readonly" type="text" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-6">
                                <div class="col-xs-4"><label class="control-label">Test Type</label></div>
                                <div class="col-xs-8">
                                    <input class="form-control text-box single-line" value="@Model.TestType" readonly="readonly" type="text" />
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="col-xs-4"><label class="control-label">Failure Interval</label></div>
                                <div class="col-xs-8">
                                    <input class="form-control text-box single-line" value="@Model.FailureInterval" readonly="readonly" type="text" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-6">
                                <div class="col-xs-4"><label class="control-label">Failure</label></div>
                                <div class="col-xs-8">
                                    <input class="form-control text-box single-line" data-toggle="tooltip" title="@Model.TestFailure" value="@Model.TestFailure" readonly="readonly" type="text" />
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="col-xs-4"><label class="control-label">Location</label></div>
                                <div class="col-xs-8">
                                    <input class="form-control text-box single-line" value="@Model.Location" readonly="readonly" type="text" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-6">
                                <div class="col-xs-4"><label class="control-label">Request ID</label></div>
                                <div class="col-xs-8">
                                    <input class="form-control text-box single-line" value="@Model.RequestID" readonly="readonly" type="text" />
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="col-xs-4"><label class="control-label">Module SN</label></div>
                                <div class="col-xs-8">
                                    <input class="form-control text-box single-line" data-toggle="tooltip" title="@Model.ModuleSN" value="@Model.ModuleSN" readonly="readonly" type="text" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-6">
                                <div class="col-xs-4"><label class="control-label">Fail Rate</label></div>
                                <div class="col-xs-8">
                                    <input class="form-control text-box single-line" value="@Model.FailQTY/@Model.TotalQTY" readonly="readonly" type="text" />
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="col-xs-4"><label class="control-label">Rel Engineer</label></div>
                                <div class="col-xs-8">
                                    <input class="form-control text-box single-line" value="@Model.Reporter" readonly="readonly" type="text" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-6">
                                <label class="control-label col-xs-4" for="prioritylist">Priority</label>
                                <div class="col-xs-8">
                                    @Html.DropDownList("prioritylist", null, new { @id = "prioritylist", @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <label class="control-label col-xs-4" for="assigneelist">Assignee</label>
                                <div class="col-xs-8">
                                    @Html.DropDownList("assigneelist", null, new { @id = "assigneelist", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-6">
                                <label class="control-label col-xs-4" for="resolutionlist">Status<font color="red">*</font></label>
                                <div class="col-xs-8">
                                    @if (ViewBag.isassignee != null && ViewBag.isassignee)
                                    {
                                        @Html.DropDownList("resolutionlist", null, new { @id = "resolutionlist", @class = "form-control", @onchange = "chooseissuetag()" })
                                    }
                                    else
                                    {
                                        @Html.DropDownList("resolutionlist", null, new { @id = "resolutionlist", @class = "form-control", @readonly = "readonly" })
                                    }
                                </div>
                                @if (ViewBag.isassignee != null
                                    && ViewBag.isassignee
                                    && Model.RootCauseCommentList.Count > 0)
                                {
                                    <script type="text/javascript">
                                    function chooseissuetag() {
                                        if (document.getElementById("resolutionlist")
                                            && (document.getElementById("resolutionlist").value === "Fixed"
                                            || document.getElementById("resolutionlist").value === "Done")) {
                                            $('#issuetag').modal({ backdrop: 'static' });
                                        }
                                    }
                                    </script>
                                }
                                else
                                {
                                    <script type="text/javascript">
                                    function chooseissuetag() {
                                    }
                                    </script>
                                }
                            </div>
                            <div class="col-xs-6">
                                <label class="control-label col-xs-4" for="DueDate">DueDate<font color="red">*</font></label>
                                <div class="col-xs-8">
                                    @if (Model != null && string.Compare(Model.DueDate.ToString("yyyy-MM-dd"), "0001-01-01") != 0)
                                    {
                                        <input class="form-control text-box single-line" value="@Model.DueDate.ToString("yyyy-MM-dd")" data-val="true" data-val-required="The DueDate field is required." id="DueDate" name="DueDate" type="text" />
                                    }
                                    else
                                    {
                                        <input class="form-control text-box single-line" data-val="true" data-val-required="The DueDate field is required." id="DueDate" name="DueDate" type="text" value="" />
                                    }
                                    <span class="field-validation-valid text-danger" data-valmsg-for="DueDate" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <script type="text/javascript">
                            $(document).ready(function () {
                                $("#DueDate").datepicker({
                                    changeMonth: true,
                                    changeYear: true,
                                    dateFormat: 'yy-mm-dd'
                                });
                            });
                            </script>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-6">
                                <label class="control-label col-xs-4" for="FVCode">FV</label>
                                <div class="col-xs-8">
                                    @if (Model != null && !string.IsNullOrEmpty(Model.FVCode))
                                    {
                                        <input class="form-control text-box single-line" value="@Model.FVCode" data-val="true" data-val-length="The field must be a string with a minimum length of 2 and a maximum length of 25." data-val-length-max="25" data-val-length-min="2" data-val-regex="The field should not contain \'" data-val-regex-pattern="^(?!.*&#39;).*$" id="FVCode" name="FVCode" type="text" />
                                    }
                                    else
                                    {
                                        <input class="form-control text-box single-line" data-val="true" data-val-length="The field must be a string with a minimum length of 2 and a maximum length of 25." data-val-length-max="25" data-val-length-min="2" data-val-regex="The field should not contain \'" data-val-regex-pattern="^(?!.*&#39;).*$" id="FVCode" name="FVCode" type="text" value="" />
                                    }
                                    <span class="field-validation-valid text-danger" data-valmsg-for="FVCode" data-valmsg-replace="true"></span>
                                </div>
                            </div>

                            <div class="col-xs-6">
                            </div>
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2" style="font-family:'Arial Narrow';font-size:18px"><strong>&nbsp;&nbsp;Related People</strong></div>
            <div class="col-xs-10">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12" data-toggle="tooltip" data-placement="center" title="Exampel: Email Address; Email Address;Email Address;...">
                            @if (Model != null && !string.IsNullOrEmpty(Model.RelativePeoples))
                            {
                                <textarea class="form-control" name="RPeopleAddr" id="RPeopleAddr" onclick="chooserelatedpeople()" style="min-width: 100%;min-height:40px;overflow-y: scroll;overflow-x: scroll;" data-val="true" data-val-length="The field must be a string with a minimum length of 6 and a maximum length of 800." data-val-length-max="800" data-val-length-min="6" data-val-regex="The field should not contain \'" data-val-regex-pattern="^(?!.*&#39;).*$">@Model.RelativePeoples</textarea>
                            }
                            else
                            {
                                <textarea class="form-control" name="RPeopleAddr" id="RPeopleAddr" onclick="chooserelatedpeople()" style="min-width: 100%;min-height:40px;overflow-y: scroll;overflow-x: scroll;" data-val="true" data-val-length="The field must be a string with a minimum length of 6 and a maximum length of 800." data-val-length-max="800" data-val-length-min="6" data-val-regex="The field should not contain \'" data-val-regex-pattern="^(?!.*&#39;).*$"></textarea>
                            }
                        </div>
                        <span class="field-validation-valid text-danger" data-valmsg-for="RPeopleAddr" data-valmsg-replace="true"></span>
                    </div>
                    <script type="text/javascript">
                        function chooserelatedpeople() {
                            document.getElementById("towhoinput1").value = document.getElementById("RPeopleAddr").value;
                        $('#relatedmodal').modal({ backdrop: 'static' });
                    }

                    function fillreleatepeople() {
                        $('#relatedmodal').modal('hide');
                        document.getElementById("RPeopleAddr").value = document.getElementById("towhoinput1").value;
                        document.getElementById("RPeopleAddr").focus();
                    }
                    </script>
                </div>
            </div>
        </div>

        <hr style="border-color:#006DC0;" />

        <div class="row">
            <div MYTP="green" class="row" style="margin-left:3px">
                <div class="col-xs-2">
                    <a data-toggle="collapse" href="#attachwell" aria-expanded="false" aria-controls="collapseExample" style="font-size:18px;font-family:'Arial Narrow';">
                        <font color="black"><strong>&nbsp;&nbsp;@(Model.AttachList.Count) Attachements</strong></font>&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/Content/images/icon/extend.png" style="height:25px; width:auto">
                    </a>
                </div>
                <div class="col-xs-10">
                    <div class="col-xs-3">
                        <span class="btn btn-default btn-file" id="choosefile3" style="padding:0px;background-color:transparent !important;border-color:transparent !important;">
                            <img src="~/Content/images/icon/Add.png" MYTP="HOVER" style="height:25px; width:auto" data-intro="Using edit mode to add attachment." data-step="2"> 
                            <input type="file" name="files3" id="file3" runat="server" onchange="ShowFileNames3(this)" />
                        </span>
                    </div>
                    <div class="col-xs-9">
                        <div class="col-xs-11">
                            <label class="control-label" id="showfile3" name="showfile3"></label>
                        </div>
                        <div class="col-xs-1">
                            <input class="form-control text-box single-line" value="" id="attachmentupload" name="attachmentupload" type="hidden" />
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                function ShowFileNames3(oFile) {
                    $('#showfile3').text(oFile.value);
                    document.getElementById("attachmentupload").value = oFile.value;
                    $('#attachtag').modal({ backdrop: 'static' });
                }

                function attachsubmit() {
                    $('#attachtag').modal('hide');
                    $('#issueform').submit();
                    return false;
                }
                </script>
            </div>
            <div class="row">
                <div class="col-xs-12">&nbsp;</div>
            </div>

            <div class="row" style="margin-left:10px">
                <div class="collapse in" id="attachwell">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12">
                                @if (Model != null && Model.AttachList.Count > 0)
                                {
                                    foreach (var item in Model.AttachList)
                                    {
                                        var realfn = "";
                                        if (item.Contains("<a href"))
                                        {
                                            var tempfn = item.Split(new string[] { "<a href=", "target=" }, StringSplitOptions.None)[1].Replace("\"", "").Trim();
                                            var tempfns = tempfn.Split(new string[] { "/" }, StringSplitOptions.None);
                                            realfn = tempfns[tempfns.Length - 1];
                                        }
                                        else
                                        {
                                            var tempfns = item.Split(new string[] { "/" }, StringSplitOptions.None);
                                            realfn = tempfns[tempfns.Length - 1].Trim();
                                        }

                                        if (item.Contains("<a href"))
                                        {
                                            <div class="row">
                                                @Html.Raw(item);
                                            </div>
                                        }
                                        else
                                        {
                                            var fns = item.Split(new char[] { '/' });
                                            var fn = fns[fns.Length - 1];

                                            <div class="row">
                                                <div class="col-xs-1"></div>
                                                <div class="col-xs-6">
                                                    <a href="@item" target="_blank"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>@fn</a>
                                                </div>
                                                <div class="col-xs-1" data-toggle="tooltip" title="Delete">
                                                    @if (ViewBag.isassignee != null && ViewBag.isassignee)
                                                    {
                                                        <img src="~/Content/images/icon/delete2.png" MYTP="HOVER" style="height:30px; width:18px" onclick="DeleteAttachment('@realfn')">
                                                    }
                                                </div>
                                                <div class="col-xs-4"></div>
                                            </div>
                                        }
                                    }

                                }

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <script type="text/javascript">
                function DeleteAttachment(oBT) {
                    if (confirm("Do you real want to delete this attachment?")) {
                        window.location.href = '/Issue/DeleteAttachment?issuekey=' + document.getElementById("HIssueKeyForDelete").value + '&filename=' + oBT
                    }
                    else {
                        window.location.href = '/Issue/UpdateIssue?issuekey=' + document.getElementById("HIssueKeyForDelete").value
                    }
                }
            </script>
        </div>

        <hr style="border-color:#006DC0;" />

    if (Model != null && Model.GeneralActions.Count > 0)
    {
        <div class="row">
            <div  MYTP="yello"  class="row" style="margin-left:3px">
                <div class="col-xs-12">
                    <a data-toggle="collapse" href="#subtasks" aria-expanded="false" aria-controls="collapseExample" style="font-size:18px;font-family:'Arial Narrow';">
                        <font color="black"><strong>&nbsp;&nbsp;@(Model.GeneralActions.Count) Sub Tasks</strong></font>&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/Content/images/icon/extend.png" style="height:25px; width:auto">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">&nbsp;</div>
            </div>
            <div class="row" style="margin-left:10px">
                <div class="collapse in" id="subtasks">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-1"></div>
                            <div class="col-xs-8">
                                <div class="well" style="margin-bottom:8px;background-color:transparent !important;border-left-color:#006DC0;border-top-color:transparent !important;border-right-color:transparent !important;border-bottom-color:transparent !important;border-top-left-radius:0px;border-bottom-left-radius:0px;padding-top:4px;padding-bottom:4px">
                                    <div class="row">
                                        <div class="col-xs-4">Summary</div>
                                        <div class="col-xs-2">Status</div>
                                        <div class="col-xs-2">Asignee</div>
                                        <div class="col-xs-2">DueDate</div>
                                        <div class="col-xs-2"></div>
                                    </div>
                                    @foreach (var item in Model.GeneralActions)
                                    {
                                        <div class="row">
                                            <div class="col-xs-4"><a href="/Issue/UpdateIssue?issuekey=@item.IssueKey">@item.Summary</a></div>
                                            <div class="col-xs-2">@item.Resolution</div>
                                            <div class="col-xs-2"><a href="/User/UserCenter?username=@item.Assignee">@item.Assignee.Split(new char[] { '@' })[0]</a></div>
                                            <div class="col-xs-2">@item.DueDate.ToString("yyyy-MM-dd")</div>
                                            <div class="col-xs-2"></div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-xs-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr style="border-color:#006DC0;" />
    }

    if (Model != null && Model.FailureVerifyActions.Count > 0)
    {
        <div class="row">
            <div  MYTP="yello"  class="row" style="margin-left:3px">
                <div class="col-xs-12">
                    <a data-toggle="collapse" href="#failureverifytasks" aria-expanded="false" aria-controls="collapseExample" style="font-size:18px;font-family:'Arial Narrow';">
                        <font color="black"><strong>&nbsp;&nbsp;Failure Verification</strong></font>&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/Content/images/icon/extend.png" style="height:25px; width:auto">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">&nbsp;</div>
            </div>
            <div class="row" style="margin-left:10px">
                <div class="collapse in" id="failureverifytasks">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-1"></div>
                            <div class="col-xs-8">
                                <div class="well" style="margin-bottom:8px;background-color:transparent !important;border-left-color:#006DC0;border-top-color:transparent !important;border-right-color:transparent !important;border-bottom-color:transparent !important;border-top-left-radius:0px;border-bottom-left-radius:0px;padding-top:4px;padding-bottom:4px">
                                    <div class="row">
                                        <div class="col-xs-4">Summary</div>
                                        <div class="col-xs-2">Status</div>
                                        <div class="col-xs-2">Asignee</div>
                                        <div class="col-xs-2">DueDate</div>
                                        <div class="col-xs-2"></div>
                                    </div>
                                    @foreach (var item in Model.FailureVerifyActions)
                                    {
                                        <div class="row">
                                            <div class="col-xs-4"><a href="/Issue/UpdateIssue?issuekey=@item.IssueKey">@item.Summary.Replace(Prometheus.Models.RELSubIssueType.FAILVERIFYACTION, "")</a></div>
                                            <div class="col-xs-2">@item.Resolution</div>
                                            <div class="col-xs-2"><a href="/User/UserCenter?username=@item.Assignee">@item.Assignee.Split(new char[] { '@' })[0]</a></div>
                                            <div class="col-xs-2">@item.DueDate.ToString("yyyy-MM-dd")</div>
                                            <div class="col-xs-2"></div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-xs-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr style="border-color:#006DC0;" />
    }


    if (Model != null && Model.ContainmentActions.Count > 0)
    {
        <div class="row">
            <div  MYTP="yello"  class="row" style="margin-left:3px">
                <div class="col-xs-12">
                    <a data-toggle="collapse" href="#containmenttasks" aria-expanded="false" aria-controls="collapseExample" style="font-size:18px;font-family:'Arial Narrow';">
                        <font color="black"><strong>&nbsp;&nbsp;Containment Action</strong></font>&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/Content/images/icon/extend.png" style="height:25px; width:auto">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">&nbsp;</div>
            </div>
            <div class="row" style="margin-left:10px">
                <div class="collapse in" id="containmenttasks">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-1"></div>
                            <div class="col-xs-8">
                                <div class="well" style="margin-bottom:8px;background-color:transparent !important;border-left-color:#006DC0;border-top-color:transparent !important;border-right-color:transparent !important;border-bottom-color:transparent !important;border-top-left-radius:0px;border-bottom-left-radius:0px;padding-top:4px;padding-bottom:4px">
                                    <div class="row">
                                        <div class="col-xs-4">Summary</div>
                                        <div class="col-xs-2">Status</div>
                                        <div class="col-xs-2">Asignee</div>
                                        <div class="col-xs-2">DueDate</div>
                                        <div class="col-xs-2"></div>
                                    </div>
                                    @foreach (var item in Model.ContainmentActions)
                                    {
                                        <div class="row">
                                            <div class="col-xs-4"><a href="/Issue/UpdateIssue?issuekey=@item.IssueKey">@item.Summary.Replace(Prometheus.Models.RELSubIssueType.CONTAINMENTACTION, "")</a></div>
                                            <div class="col-xs-2">@item.Resolution</div>
                                            <div class="col-xs-2"><a href="/User/UserCenter?username=@item.Assignee">@item.Assignee.Split(new char[] { '@' })[0]</a></div>
                                            <div class="col-xs-2">@item.DueDate.ToString("yyyy-MM-dd")</div>
                                            <div class="col-xs-2"></div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-xs-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr style="border-color:#006DC0;" />
    }

    if (Model.RootCauseCommentList.Count > 0)
    {
        <div class="row">
            <div MYTP="blue"  class="row" style="margin-left:3px">
                <div class="col-xs-12">
                    <a data-toggle="collapse" href="#rootcausecom" aria-expanded="false" aria-controls="collapseExample" style="font-size:18px;font-family:'Arial Narrow';">
                        <font color="black"><strong>&nbsp;&nbsp;RootCause Investigation</strong></font>&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/Content/images/icon/extend.png" style="height:25px; width:auto">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">&nbsp;</div>
            </div>
            <div class="row" style="margin-left:10px">
                <div class="collapse in" id="rootcausecom">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-1"></div>
                            <div class="col-xs-11">
                                @foreach (var item in Model.RootCauseCommentList)
                                {
                                    <div class="well" style="margin-bottom:2px;padding-bottom:2px;margin-top:2px;padding-top:2px;background-color:transparent !important;border-left-color:#006DC0;border-top-color:transparent !important;border-right-color:transparent !important;border-bottom-color:transparent !important;border-top-left-radius:0px;border-bottom-left-radius:0px;border-top-width:0px">
                                        <div class="row" style="margin-top:2px;margin-bottom:2px;padding-top:2px;padding-bottom:2px;">
                                            <div class="row" style="margin-top:2px;margin-bottom:2px;padding-top:2px;padding-bottom:2px;">
                                                <div class="col-xs-6">
                                                    <div class="col-xs-10"><a href="/User/UserCenter?username=@item.Reporter">@item.Reporter.Split(new char[] { '@' })[0]</a>&nbsp;&nbsp;@item.CommentDate.ToString("yyyy-MM-dd hh:mm:ss")</div>
                                                    <div class="col-xs-2">
                                                        <a href="/Issue/ModifyIssueComment?IssueKey=@(item.IssueKey)&CommentType=@(item.CommentType)&Date=@(item.CommentDate.ToString())">
                                                            <img src="~/Content/images/icon/edit2.png" MYTP="HOVER" style="height:34px; width:auto">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6"></div>
                                            </div>
                                            <div class="row" style="margin-top:2px;margin-bottom:2px;padding-top:2px;padding-bottom:2px;">
                                                <div class="col-xs-1"></div>
                                                <div class="col-xs-11">@Html.Raw(item.Comment)</div>
                                            </div>
                                        </div>
                                    </div>

                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr style="border-color:#006DC0;" />
    }

    if (Model != null && Model.CorrectiveActions.Count > 0)
    {
        <div class="row">
            <div MYTP="yello"  class="row" style="margin-left:3px">
                <div class="col-xs-12">
                    <a data-toggle="collapse" href="#correctivetasks" aria-expanded="false" aria-controls="collapseExample" style="font-size:18px;font-family:'Arial Narrow';">
                        <font color="black"><strong>&nbsp;&nbsp;Corrective Action</strong></font>&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/Content/images/icon/extend.png" style="height:25px; width:auto">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">&nbsp;</div>
            </div>
            <div class="row" style="margin-left:10px">
                <div class="collapse in" id="correctivetasks">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-1"></div>
                            <div class="col-xs-8">
                                <div class="well" style="margin-bottom:8px;background-color:transparent !important;border-left-color:#006DC0;border-top-color:transparent !important;border-right-color:transparent !important;border-bottom-color:transparent !important;border-top-left-radius:0px;border-bottom-left-radius:0px;padding-top:4px;padding-bottom:4px">
                                    <div class="row">
                                        <div class="col-xs-4">Summary</div>
                                        <div class="col-xs-2">Status</div>
                                        <div class="col-xs-2">Asignee</div>
                                        <div class="col-xs-2">DueDate</div>
                                        <div class="col-xs-2"></div>
                                    </div>
                                    @foreach (var item in Model.CorrectiveActions)
                                    {
                                        <div class="row">
                                            <div class="col-xs-4"><a href="/Issue/UpdateIssue?issuekey=@item.IssueKey">@item.Summary.Replace(Prometheus.Models.RELSubIssueType.CORRECTIVEACTION, "")</a></div>
                                            <div class="col-xs-2">@item.Resolution</div>
                                            <div class="col-xs-2"><a href="/User/UserCenter?username=@item.Assignee">@item.Assignee.Split(new char[] { '@' })[0]</a></div>
                                            <div class="col-xs-2">@item.DueDate.ToString("yyyy-MM-dd")</div>
                                            <div class="col-xs-2"></div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-xs-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr style="border-color:#006DC0;" />
    }

    if (Model != null && Model.CorrectiveVerifyActions.Count > 0)
    {
        <div class="row">
            <div MYTP="yello"  class="row" style="margin-left:3px">
                <div class="col-xs-12">
                    <a data-toggle="collapse" href="#correctiveverifytasks" aria-expanded="false" aria-controls="collapseExample" style="font-size:18px;font-family:'Arial Narrow';">
                        <font color="black"><strong>&nbsp;&nbsp;Corrective/Preventive Verification</strong></font>&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/Content/images/icon/extend.png" style="height:25px; width:auto">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">&nbsp;</div>
            </div>
            <div class="row" style="margin-left:10px">
                <div class="collapse in" id="correctiveverifytasks">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-1"></div>
                            <div class="col-xs-8">
                                <div class="well" style="margin-bottom:8px;background-color:transparent !important;border-left-color:#006DC0;border-top-color:transparent !important;border-right-color:transparent !important;border-bottom-color:transparent !important;border-top-left-radius:0px;border-bottom-left-radius:0px;padding-top:4px;padding-bottom:4px">
                                    <div class="row">
                                        <div class="col-xs-4">Summary</div>
                                        <div class="col-xs-2">Status</div>
                                        <div class="col-xs-2">Asignee</div>
                                        <div class="col-xs-2">DueDate</div>
                                        <div class="col-xs-2"></div>
                                    </div>
                                    @foreach (var item in Model.CorrectiveVerifyActions)
                                    {
                                        <div class="row">
                                            <div class="col-xs-4"><a href="/Issue/UpdateIssue?issuekey=@item.IssueKey">@item.Summary.Replace(Prometheus.Models.RELSubIssueType.VERIFYCORRECTIVEACTION, "")</a></div>
                                            <div class="col-xs-2">@item.Resolution</div>
                                            <div class="col-xs-2"><a href="/User/UserCenter?username=@item.Assignee">@item.Assignee.Split(new char[] { '@' })[0]</a></div>
                                            <div class="col-xs-2">@item.DueDate.ToString("yyyy-MM-dd")</div>
                                            <div class="col-xs-2"></div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-xs-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr style="border-color:#006DC0;" />
    }


    if (Model.GeneralCommentList.Count > 0)
    {
        <div class="row">
            <div MYTP="blue" class="row" style="margin-left:3px">
                <div class="col-xs-12">
                    <a data-toggle="collapse" href="#generalcomment" aria-expanded="false" aria-controls="collapseExample" style="font-size:18px;font-family:'Arial Narrow';">
                        <font color="black"><strong>&nbsp;&nbsp;@(Model.GeneralCommentList.Count) Comments</strong></font>&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/Content/images/icon/extend.png" style="height:25px; width:auto">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">&nbsp;</div>
            </div>
            <div class="row" style="margin-left:10px">
                <div class="collapse in" id="generalcomment">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-1"></div>
                            <div class="col-xs-11">
                                @foreach (var item in Model.GeneralCommentList)
                                {
                                    <div class="well" MYTP="HOVER" style="margin-bottom:2px;padding-bottom:2px;margin-top:2px;padding-top:2px;background-color:transparent !important;border-left-color:#006DC0;border-top-color:transparent !important;border-right-color:transparent !important;border-bottom-color:transparent !important;border-top-left-radius:0px;border-bottom-left-radius:0px;border-top-width:0px">
                                        <div class="row" MYTP="HOVER" style="margin-top:2px;margin-bottom:2px;padding-top:2px;padding-bottom:2px;">
                                            <div class="row" style="margin-top:2px;margin-bottom:2px;padding-top:2px;padding-bottom:2px;">
                                                <div class="col-xs-6">
                                                    <div class="col-xs-10"><a href="/User/UserCenter?username=@item.Reporter">@item.Reporter.Split(new char[] { '@' })[0]</a>&nbsp;&nbsp;@item.CommentDate.ToString("yyyy-MM-dd hh:mm:ss")</div>
                                                    <div class="col-xs-2">
                                                        <a href="/Issue/ModifyIssueComment?IssueKey=@(item.IssueKey)&CommentType=@(item.CommentType)&Date=@(item.CommentDate.ToString())">
                                                            <img src="~/Content/images/icon/edit2.png" MYTP="HOVER" style="height:34px; width:auto">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6"></div>
                                            </div>
                                            <div class="row" style="margin-top:2px;margin-bottom:2px;padding-top:2px;padding-bottom:2px;">
                                                <div class="col-xs-1"></div>
                                                <div class="col-xs-11">@Html.Raw(item.Comment)</div>
                                            </div>
                                        </div>
                                    </div>

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr style="border-color:#006DC0;" />
    }

    <script type="text/javascript">
        function DeleteSPIssueComment(oBT) {
            if (oBT.value) {
                if (confirm("Do you really want to delete this comment?")) {
                    window.location.href = "/Issue/DeleteSPIssueComment?" + oBT.value;
                }
            }
        }

        function ModifyIssueComment(oBT) {
            if (oBT.value) {
                window.location.href = "/Issue/ModifyIssueComment?" + oBT.value;
            }
        }
    </script>


    <div class="row">
        <div MYTP="red"  class="row" style="margin-left:3px">
            <div class="col-xs-12">
                <a data-toggle="collapse" href="#commentinput" aria-expanded="false" aria-controls="collapseExample" style="font-size:18px;font-family:'Arial Narrow';">
                    <font color="black"><strong>&nbsp;&nbsp;Comment Input</strong></font>&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/Content/images/icon/extend.png" style="height:25px; width:auto">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">&nbsp;</div>
        </div>
        <div class="row" style="margin-left:10px">
            <div class="collapse" id="commentinput">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-1"></div>
                        <div class="col-xs-10">
                            <div class="form-group">
                                <div>
                                    @if (Model != null && !string.IsNullOrEmpty(Model.Description))
                                    {
                                        <textarea name="editor1" id="editor1" rows="10" cols="80">@(Model.Description)</textarea>
                                    }
                                    else
                                    {
                                        <textarea name="editor1" id="editor1" rows="10" cols="80"></textarea>
                                    }
                                    <script>
                                CKEDITOR.replace('editor1', { htmlEncodeOutput: true, filebrowserUploadUrl: '/userfiles/Upload.ashx', skin: 'moono-lisa' });
                                    </script>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="col-xs-4">
                                            <span class="btn btn-default btn-file" id="choosefile9">
                                                Editor Attachment <input type="file" name="file9" id="file9" runat="server" onchange="ShowFileNames9(this)" />
                                            </span>
                                        </div>
                                        <div class="col-xs-8"></div>
                                    </div>
                                    <script type="text/javascript">
                                            function ShowFileNames9(oFile) {
                                                ajaxFileUpload9();
                                            }
                                            function ajaxFileUpload9() {
                                                $.ajaxFileUpload
                                                (
                                                    {
                                                        url: '/userfiles/ImageUpload.ashx',
                                                        secureuri: false,
                                                        fileElementId: 'file9',
                                                        dataType: 'HTML',
                                                        success: function (data, status)
                                                        {
                                                            var wholeval = CKEDITOR.instances.editor1.getData() + data;
                                                            CKEDITOR.instances.editor1.setData(wholeval);
                                                        },
                                                        error: function (e)
                                                        {
                                                            alert(e);
                                                        }
                                                    }
                                                )
                                                return false;
                                            }
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">&nbsp;</div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="row col-xs-12">
                <div class="col-xs-2">
                    <input style="background-color:#006DC0;color:white;" type="submit" value="Submit" id="updaterma" name="updaterma" class="btn btn-default" />
                </div>
                <div class="col-xs-2">
                    @if (ViewBag.isassignee != null && ViewBag.isassignee)
                    {
                        <input style="background-color:#CC0000;color:white;" type="submit" value="Delete" id="deleterma" name="deleterma" class="btn btn-default" />
                    }
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-success" type="button" value="IssueKey=@(Model.IssueKey)&ToWho=" onclick="PushTask(this)">Push</button>
                    <input class="form-control text-box single-line" value="" id="pushtowho" name="pushtowho" type="hidden" />
                </div>
                <div class="col-xs-6"></div>
            </div>
        </div>
        <script type="text/javascript">
                            function PushTask(oBT)
                            {
                                document.getElementById("pushtowho").value = oBT.value;
                                if (document.getElementById("RPeopleAddr").value)
                                {
                                    document.getElementById("towhoinput").value = document.getElementById("RPeopleAddr").value;
                                }

                                if (CKEDITOR.instances.editor1.getData())
                                {
                                    document.getElementById("issuereason").value = 'WITHCOMMENT:' + CKEDITOR.instances.editor1.getData();
                                }

                                $('#towhotag').modal({ backdrop: 'static' });
                            }

                            function realpush() {
                                var myurl = ""
                                $.base64.utf8encode = true;
                                var tempreason = '';
                                if (document.getElementById("issuereason").value)
                                {
                                    tempreason = $.base64.btoa(document.getElementById("issuereason").value);
                                }

                                if (document.getElementById("towhoinput").value) {
                                    myurl = "/Issue/IPush?" + document.getElementById("pushtowho").value + document.getElementById("towhoinput").value + "&Reason=" + tempreason;
                                }
                                else {
                                    myurl = "/Issue/IPush?" + document.getElementById("pushtowho").value + document.getElementById("towholist").value + "&Reason=" + tempreason;
                                }

                                $('#towhotag').modal('hide');

                                window.location.href = myurl;
                            }
        </script>
    </div>

    <div class="form-group">
        <div class="col-xs-6">
            @if (Model != null && !string.IsNullOrEmpty(Model.IssueKey))
            {
                <input class="form-control text-box single-line" value="@(Model.IssueKey)" id="IssueKey" name="IssueKey" type="hidden" />
            }
            else
            {
                <input class="form-control text-box single-line" id="IssueKey" name="IssueKey" type="hidden" value="" />
            }
        </div>
        <div class="col-xs-6"></div>
    </div>

                <div class="modal" id="attachtag" tabindex="-1" role="dialog" aria-labelledby="attachtagLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="attachtagLabel">Share Document Tag</h4>
                            </div>
                            <div class="row"></div>
                            <hr />
                            <div class="row"></div>
                            @if (ViewBag.tobechoosetags != null)
                {
                    for (var idx = 0; idx < ViewBag.tobechoosetags.Count; idx++)
                    {
                        <div class="col-xs-4">
                            <div class="col-xs-3">
                                @if (string.Compare(ViewBag.tobechoosetags[idx], "Rel", true) == 0)
                                        {
                                        <input type="checkbox" id="attachtagcheck@(idx)" checked="checked" name="attachtagcheck@(idx)" value="@(ViewBag.tobechoosetags[idx])" />
                                        }
                                        else
                                        {
                                        <input type="checkbox" id="attachtagcheck@(idx)" name="attachtagcheck@(idx)" value="@(ViewBag.tobechoosetags[idx])" />
                                        }
                            </div>
                            <div class="col-xs-9">
                                <label class="control-label">@(ViewBag.tobechoosetags[idx])</label>
                            </div>
                        </div>
                            }
                        }
                            <div class="row"></div>
                            <hr />
                            <div class="row"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                                <button type="button" class="btn btn-success" onclick="attachsubmit()">Upload Now</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal" id="issuetag" tabindex="-1" role="dialog" aria-labelledby="issuetagLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="issuetagLabel">Share Issue Tag</h4>
                            </div>
                            <div class="row"></div>
                            <hr />
                            <div class="row"></div>
                            @if (ViewBag.tobechoosetags != null)
                {
                    for (var idx = 0; idx < ViewBag.tobechoosetags.Count; idx++)
                    {
                        <div class="col-xs-4">
                            <div class="col-xs-3">
                                @if (string.Compare(ViewBag.tobechoosetags[idx], "Rel", true) == 0)
                                        {
                                        <input type="checkbox" id="issuetagcheck@(idx)" checked="checked" name="issuetagcheck@(idx)" value="@(ViewBag.tobechoosetags[idx])" />
                                        }
                                        else
                                        {
                                        <input type="checkbox" id="issuetagcheck@(idx)" name="issuetagcheck@(idx)" value="@(ViewBag.tobechoosetags[idx])" />
                                        }
                            </div>
                            <div class="col-xs-9">
                                <label class="control-label">@(ViewBag.tobechoosetags[idx])</label>
                            </div>
                        </div>
                            }
                        }
                            <div class="row"></div>
                            <hr />
                            <div class="row"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal" id="towhotag" tabindex="-1" role="dialog" aria-labelledby="towhoLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="towhoLabel">Push Task</h4>
                            </div>
                            <div class="row"></div>
                            <div class="row col-xs-12">
                                <div class="col-xs-3">
                                    <label class="control-label">To Who</label>
                                </div>
                                <div class="col-xs-9">
                                    @Html.DropDownList("towholist", null, new { @id = "towholist", @class = "form-control", @onchange = "chooseapusher()" })
                                </div>
                                <script type="text/javascript">
                                    function chooseapusher()
                                    {
                                        document.getElementById("towhoinput").value = document.getElementById("towhoinput").value + ';' + document.getElementById("towholist").value;
                                    }
                                </script>
                            </div>
                            <hr />
                            <div class="row col-xs-12">
                                <div class="col-xs-3">
                                    <label class="control-label">To who Input</label>
                                </div>
                                <div class="col-xs-9" data-toggle="tooltip" data-placement="center" title="Exampel: Email Address; Email Address;Email Address;...">
                                    <textarea class="form-control col-xs-12" name="towhoinput" id="towhoinput" style="height:100px;min-width:300px;"></textarea>
                                </div>
                            </div>
                            <hr />
                            <div class="row col-xs-12">
                                <div class="col-xs-3">
                                    <label class="control-label">Push Comment<font color="red">*</font></label>
                                </div>
                                <div class="col-xs-9" data-toggle="tooltip" data-placement="center" title="Your Comment">
                                    <textarea class="form-control col-xs-12" name="issuereason" id="issuereason" style="height:100px;min-width:300px;"></textarea>
                                </div>
                            </div>
                            <div class="row"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-success" onclick="realpush()">Push</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal" id="relatedmodal" tabindex="-1" role="dialog" aria-labelledby="relatedmodalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="relatedmodalLabel">Choose People</h4>
                            </div>
                            <div class="row"></div>
                            <div class="row col-xs-12">
                                <div class="col-xs-3">
                                    <label class="control-label">To Who</label>
                                </div>
                                <div class="col-xs-9">
                                    @Html.DropDownList("towholist1", null, new { @id = "towholist1", @class = "form-control", @onchange = "chooseapusher1()" })
                                </div>
                                <script type="text/javascript">
                            function chooseapusher1()
                            {
                                document.getElementById("towhoinput1").value = document.getElementById("towhoinput1").value + ';' + document.getElementById("towholist1").value;
                            }
                                </script>
                            </div>
                            <hr />
                            <div class="row col-xs-12">
                                <div class="col-xs-3">
                                    <label class="control-label">To who Input</label>
                                </div>
                                <div class="col-xs-9" data-toggle="tooltip" data-placement="center" title="Exampel: Email Address; Email Address;Email Address;...">
                                    <textarea class="form-control col-xs-12" name="towhoinput1" id="towhoinput1" style="height:100px;min-width:300px;"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" onclick="fillreleatepeople()">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
}



