
@{
    ViewBag.Title = "HTOLDistribution";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<link type="text/css" rel="stylesheet" href="~/Content/bootstrap-datepicker/bootstrap-datepicker.min.css" />
<link type="text/css" rel="stylesheet" href="~/Scripts/jquery-autocomplete/jquery.auto-complete.css" />
<link type="text/css" rel="stylesheet" href="~/Content/burnin.css" />
<link type="text/css" rel="stylesheet" href="~/Scripts/bootstrap-tagsinput/bootstrap-tagsinput.css" />

<script type="text/javascript" src="~/Scripts/jquery-autocomplete/jquery.auto-complete.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>

<script type="text/javascript" src="~/Scripts/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-tagsinput/bootstrap3-typeahead.js"></script>

<script type="text/javascript" src="~/Scripts/HTOL.js"></script>

<script type="text/javascript">
    $(function () {
        HTOL.distribution();
    })
</script>

<div class="row">
    <div class="nav navbar-nav navbar-left">
        <img src="~/Content/images/PJ/Yield.png" style="height:40px; width:40px">
    </div>
    <div class="nav navbar-nav navbar-left">
        <ol class="breadcrumb" style="width:600px">
            <li class="active">Wafer QUAL Distribution</li>
        </ol>
    </div>
</div>
<div class="row">
    <nav class="col-xs-2 nav-sidebar">
        <ul class="nav">
            <li>
                <a href="/DataAnalyze/MonthlyVcsel">
                    <span class="item-show">BurnIn Yield</span>
                </a>
            </li>
            <li>
                <a href="/DataAnalyze/WaferDistribution">
                    <span class="item-show">BurnIn Wafer</span>
                </a>
            </li>
            <li>
                <a href="/DataAnalyze/MonthlyHTOL">
                    <span class="item-show">Wafer QUAL Yield</span>
                </a>
            </li>
            <li class="active">
                <a href="/DataAnalyze/HTOLDistribution">
                    <span class="item-show">Wafer QUAL Distribution</span>
                </a>
            </li>
            <li>
                <a href="/DataAnalyze/VcselRMA">
                    <span class="item-show">Vcsel RMA</span>
                </a>
            </li>
            <li>
                <a href="/DataAnalyze/ShipmentData">
                    <span class="item-show">Shipment Distribution</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="col-xs-10">
        <div class="w-container">
            <div class="w-filter">
                <div class="row row-margin">
                    <label class="col-xs-3">Date Period</label>
                    <div class="col-xs-3">
                        <div class="input-group date" data-date=""
                             data-date-format="yyyy-mm">
                            <input type="text" class="form-control"
                                   id="sdate" name="sdate" value="@ViewBag.DefaultDate" readonly>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-1 text-center">~</div>
                    <div class="col-xs-3">
                        <div class="input-group date" data-date=""
                             data-date-format="yyyy-mm">
                            <input type="text" class="form-control"
                                   id="edate" name="edate" value="@ViewBag.DefaultDate" readonly>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row row-margin">
                    <label class="col-xs-3">Wafer#</label>
                    <div class="col-xs-7">
                        <input type="text" class="wafer-no" data-provide="typeahead"
                               id="wf-no" name="wf-no" autocomplete="off" placeholder="Wafer #" value="@ViewBag.DefaultWafer">
                    </div>
                </div>
                <div class="row row-margin">
                    <label class="col-xs-3">Wafer Type</label>
                    <div class="col-xs-2">
                        @Html.DropDownList("vcseltypeselectlist", null, new { @id = "vcseltypeselectlist", @class = "form-control" })
                    </div>
                    <div class="col-xs-4">
                        <div class="col-xs-6">
                            @Html.DropDownList("mathrectlist", null, new { @id = "mathrectlist", @class = "form-control" })
                        </div>
                        <div class="col-xs-6">
                            <select class="form-control" id="outlier" name="outlier">
                                <option value="YES" selected>With Outlier</option>
                                <option value="NO">No Outlier</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-1 box-search" style="padding-left:0">
                        <input type="button" class="btn btn-success" name="btn-search" id="btn-search" value="Search">
                    </div>
                </div>
            </div>
            <div id="v-content" name="v-content" class="v-content">
            </div>
            <span id="loadcomplete" name="loadcomplete" class="hide">FALSE</span>
        </div>
    </div>
</div>

<div class="hidden">
    <a id="exportLink"></a>
</div>
<div class="modal fade" id="boxplot-alert" tabindex="-1" role="dialog" style="margin-top:10%">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Wafer Analyze</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" name="m-wf-no" id="m-wf-no">
                <div class="row" style="padding-left:10px;padding-bottom:10px;">
                    <div class="col-xs-8"><input class="form-control" type="text" id="dl_wafers" name="" value="dl_wafers"></div>
                    <div class="col-xs-2"><button type="button" class="btn btn-primary" id="btn-wf-download" name="btn-wf-download">Raw Data</button></div>
                    <div class="col-xs-2"><button type="button" class="btn btn-primary" id="btn-wf-fdownload" name="btn-wf-fdownload">Filtered Data</button></div>
                    @*<button type="button" class="btn btn-primary" id="btn-wf-download" name="btn-wf-download">Download Wafer Data</button>*@
                </div>
                <div class="row" style="padding:10px;">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title" style="display:inline-block">Report</h3>
                            @if (!string.IsNullOrEmpty(ViewBag.Updater))
                            {
                                <span id="editreport" name="editreport" class="glyphicon glyphicon-edit" style="display:inline-block;float:right;color:#428bca;font-size:22px;cursor:pointer;"></span>
                            }
                        </div>
                        <div class="panel-body">
                            <div class="row" id="rc-info" style="padding-left:10px;padding-right:10px;">Report</div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-3 col-xs-offset-6">
                                    Reporter: <span id="rc-reporter">System</span>
                                </div>
                                <div class="col-xs-3">
                                    <span id="rc-datetime">@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btn-wf-cancel" name="btn-wf-cancel" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


