@{
    ViewBag.Title = "Module TXO Analysis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery.flexdatalist.min.js" type="text/javascript"></script>

<div class="row">
    <ol class="breadcrumb" style="font-size:18px">
        <li><a href="/User/UserCenter?username=@(ViewBag.RealUserID)">@ViewBag.UserName Center</a></li>
        <li class="active">Module TXO Analysis</li>
    </ol>
</div>

<script src="~/Scripts/highcharts.js"></script>
<script src="~/Scripts/heatmap.js"></script>
<script src="~/Scripts/exporting.js"></script>
<script src="~/Scripts/highcharts-more.js"></script>

@using (Html.BeginForm("ModuleTestData", "DataAnalyze", FormMethod.Post, new { enctype = "multipart/form-data", id = "moduletxoform", name = "moduletxoform" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <div class="col-xs-9">
                    @if (ViewBag.ModuleSn != null)
                    {
                        <input id="ModuleSNList" name="ModuleSNList" list="leftquerys" placeholder="Please input module sn" class="form-control text-box single-line" type="text" value="@ViewBag.ModuleSn" />
                    }
                    else
                    {
                        <input id="ModuleSNList" name="ModuleSNList" list="leftquerys" placeholder="Please input module sn" class="form-control text-box single-line" type="text" />
                    }
                    <datalist id="leftquerys">
                        @foreach (var item in ViewBag.modulequeryvallist)
                        {
                            <option value="@item">@item</option>
                        }
                    </datalist>

                    <script type="text/javascript">
                    $(document).ready(function () {
                        $("#ModuleSNList").flexdatalist({
                            minLength: 0,
                            searchContain: true,
                            maxShownResults: 300
                        });
                    });
                    </script>
                </div>
                <div class="col-xs-3">
                    <input type="checkbox" id="moredata" name="moredata" value="true" data-toggle="tooltip" title="More data will be more precise,but response slow">
                    <label  data-toggle="tooltip" title="More data will be more precise,but response slow">More Data</label>
                </div>
            </div>
            <div class="col-xs-6">

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">&nbsp;</div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-xs-12">
                <div class="row"><a data-toggle="collapse" href="#CommentInput" aria-expanded="false" aria-controls="collapseExample" style="font-size:18px;font-family:'Arial Narrow';text-decoration: none;"><font color="black">Module Chart Condition (Optional)</font>&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/Content/images/icon/extend.png" style="height:20px; width:12px"></a></div>
                <div class="row">
                    <div class="col-xs-12">&nbsp;</div>
                </div>
                <div class="collapse in" id="CommentInput">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="col-xs-6">
                                    @Html.DropDownList("leftmdchannellist", null, new { @id = "leftmdchannellist", @name = "leftmdchannellist", @class = "form-control" })
                                </div>
                                <div class="col-xs-6">
                                    @Html.DropDownList("leftmdtemplist", null, new { @id = "leftmdtemplist", @name = "leftmdtemplist", @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-xs-6">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="col-xs-6">
                                    @Html.DropDownList("leftmdstationlist", null, new { @id = "leftmdstationlist", @name = "leftmdstationlist", @class = "form-control" })
                                </div>
                                <div class="col-xs-6">
                                    @Html.DropDownList("leftaligntestlist", null, new { @id = "leftaligntestlist", @name = "leftaligntestlist", @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="col-xs-6">
                                    @Html.DropDownList("leftbistationlist", null, new { @id = "leftbistationlist", @name = "leftbistationlist", @class = "form-control" })
                                </div>
                                <div class="col-xs-6">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">&nbsp;</div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-xs-12">
                <button MYTP="BT" type="button" onclick="moduletxo()" class="btn btn-default" style="width:10.5em;">Submit</button>
            </div>
        </div>
        <script type="text/javascript">
            function moduletxo() {
                if (document.getElementById("ModuleSNList").value && document.getElementById("ModuleSNList").value.indexOf("Please") == -1) {
                    $('#moduletxoform').submit();
                    return false;
                }
            }
        </script>
    </div>

    <div class="row">
        <div class="col-xs-12">&nbsp;</div>
    </div>
    <div class="form-group">
        <div class="row">
            @if (ViewBag.hasdata != null && ViewBag.hasdata)
            {
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>TxPower</th>
                            <th>TestName</th>
                            <th>Channel</th>
                            <th>Temperature</th>
                            <th>TestTimeStamp</th>
                            <th>Wafer</th>
                            <th>JO</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.bitestdata != null)
                        {
                            foreach (var item in ViewBag.bitestdata)
                            {
                                <tr style="font-size:10px;color:#fdb078;">
                                    <td>@item.SN</td>
                                    <td>@item.PO_LD.ToString("0.00")</td>
                                    <td>@item.TestName</td>
                                    <td>@item.Channel</td>
                                    <td>&nbsp;</td>
                                    <td>@item.TestTimeStamp</td>
                                    <td>@item.Wafer</td>
                                    <td>@item.JO</td>
                                </tr>
                            }
                        }
                        @if (ViewBag.aligntestdata != null)
                        {
                            foreach (var item in ViewBag.aligntestdata)
                            {
                                <tr style="font-size:10px;color:#f36273;">
                                    <td>@item.SN</td>
                                    <td>@item.TxPower.ToString("0.00")</td>
                                    <td>@item.TestName</td>
                                    <td>@item.Channel</td>
                                    <td>&nbsp;</td>
                                    <td>@item.TestTimeStamp</td>
                                    <td>@item.Wafer</td>
                                    <td>@item.JO</td>
                                </tr>
                            }
                        }
                        @if (ViewBag.moduletestdata != null)
                        {
                            foreach (var item in ViewBag.moduletestdata)
                            {
                                <tr style="font-size:10px;color:#2a9c9d;">
                                    <td>@item.SN</td>
                                    <td>@item.TxPower.ToString("0.00")</td>
                                    <td>@item.TestName</td>
                                    <td>@item.Channel</td>
                                    <td>@item.Temperature</td>
                                    <td>@item.TestTimeStamp</td>
                                    <td>@item.Wafer</td>
                                    <td>@item.JO</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">&nbsp;</div>
    </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-12">
                                    @if (ViewBag.leftbinormaldistr != null)
                                    {
                                        @Html.Raw(ViewBag.leftbinormaldistr)
                                        <div id="leftbinormaldistr" style="min-width: 310px; height: 600px; margin: 0 auto"></div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-12">
                                    @if (ViewBag.alignnormaldistr != null)
                                    {
                                        @Html.Raw(ViewBag.alignnormaldistr)
                                        <div id="alignnormaldistr" style="min-width: 310px; height: 600px; margin: 0 auto"></div>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-12">
                                    @if (ViewBag.modulenormaldistr != null)
                                    {
                                        @Html.Raw(ViewBag.modulenormaldistr)
                                        <div id="modulenormaldistr" style="min-width: 310px; height: 600px; margin: 0 auto"></div>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
            }
