@{
    ViewBag.Title = "TXO Trend Compare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery.flexdatalist.min.js" type="text/javascript"></script>

<div class="row">
    <ol class="breadcrumb" style="width:600px">
        <li><a href="/User/UserCenter?username=@(ViewBag.RealUserID)">@ViewBag.UserName Center</a></li>
        <li class="active">TXO Trend Compare</li>
    </ol>
</div>

<script src="~/Scripts/highcharts.js"></script>
<script src="~/Scripts/heatmap.js"></script>
<script src="~/Scripts/exporting.js"></script>
<script src="~/Scripts/highcharts-more.js"></script>

@using (Html.BeginForm("TXOTestData", "DataAnalyze", FormMethod.Post, new { enctype = "multipart/form-data",id = "txoform",name = "txoform" }))
{
@Html.AntiForgeryToken()
<div class="form-group">
    <div class="row">
        <div class="col-lg-6">
            <div class="col-lg-7">
                @*@Html.DropDownList("leftquerylist", null, new { @id = "leftquerylist", @name = "leftquerylist", @class = "form-control" })*@
                <input id="leftquerylist" name="leftquerylist" list="leftquerys" placeholder = "Please input query key"  class="form-control text-box single-line" type="text" />
                <datalist id="leftquerys">
                    @foreach (var item in ViewBag.queryvallist)
                    {
                        <option value="@item">@item</option>
                    }
                </datalist>
            </div>
            <div class="col-lg-5">
                @Html.DropDownList("leftdatafieldlist", null, new { @id = "leftdatafieldlist", @name = "leftdatafieldlist", @class = "form-control"})
            </div>
            <script type="text/javascript">
                            $(document).ready(function () {
                                $("#leftquerylist").flexdatalist({
                                    minLength: 0,
                                    searchContain: true,
                                    maxShownResults:300
                                });
                            });
            </script>
        </div>
        <div class="col-lg-6">
            <div class="col-lg-7">
                @*@Html.DropDownList("rightquerylist", null, new { @id = "rightquerylist", @name = "rightquerylist", @class = "form-control"})*@
                <input id="rightquerylist" name="rightquerylist" list="rightquerys" placeholder="Please input compare query key" class="form-control text-box single-line" type="text" />
                <datalist id="rightquerys">
                    @foreach (var item in ViewBag.queryvallist)
                    {
                        <option value="@item">@item</option>
                    }
                </datalist>
            </div>
            <div class="col-lg-5">
                @Html.DropDownList("rightdatafieldlist", null, new { @id = "rightdatafieldlist", @name = "rightdatafieldlist", @class = "form-control"})
            </div>
            <script type="text/javascript">
                            $(document).ready(function () {
                                $("#rightquerylist").flexdatalist({
                                    minLength: 0,
                                    searchContain: true,
                                    maxShownResults:300
                                });
                            });
            </script>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">&nbsp;</div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-lg-12">
            <div class="row"><a data-toggle="collapse" href="#CommentInput" aria-expanded="false" aria-controls="collapseExample" style="font-size:18px;font-family:'Arial Narrow';text-decoration: none;"><font color="black">Module Test Data Condition (Optional)</font>&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/Content/images/icon/extend.png" style="height:20px; width:12px"></a></div>
            <div class="row">
                <div class="col-lg-12">&nbsp;</div>
            </div>
            <div class="row">
                <div class="collapse" id="CommentInput">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="col-lg-7">
                                    @Html.DropDownList("leftmdstationlist", null, new { @id = "leftmdstationlist", @name = "leftmdstationlist", @class = "form-control" })
                                </div>
                                <div class="col-lg-5">
                                    @Html.DropDownList("leftmdchannellist", null, new { @id = "leftmdchannellist", @name = "leftmdchannellist", @class = "form-control" })
                                </div>

                            </div>
                            <div class="col-lg-6">
                                <div class="col-lg-7">
                                    @Html.DropDownList("rightmdstationlist", null, new { @id = "rightmdstationlist", @name = "rightmdstationlist", @class = "form-control" })
                                </div>
                                <div class="col-lg-5">
                                    @Html.DropDownList("rightmdchannellist", null, new { @id = "rightmdchannellist", @name = "rightmdchannellist", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="col-lg-7">
                                    @Html.DropDownList("leftmdtemplist", null, new { @id = "leftmdtemplist", @name = "leftmdtemplist", @class = "form-control" })
                                </div>
                                <div class="col-lg-5">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="col-lg-7">
                                    @Html.DropDownList("rightmdtemplist", null, new { @id = "rightmdtemplist", @name = "rightmdtemplist", @class = "form-control" })
                                </div>
                                <div class="col-lg-5">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">&nbsp;</div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-lg-12">
            <div class="row"><a data-toggle="collapse" href="#aligncond" aria-expanded="false" aria-controls="collapseExample" style="font-size:18px;font-family:'Arial Narrow';text-decoration: none;"><font color="black">Alignment Test Data Condition (Optional)</font>&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/Content/images/icon/extend.png" style="height:20px; width:12px"></a></div>
            <div class="row">
                <div class="col-lg-12">&nbsp;</div>
            </div>
            <div class="row">
                <div class="collapse" id="aligncond">

                    <div class="col-lg-6">
                        <div class="col-lg-7">
                            @Html.DropDownList("leftaligntestlist", null, new { @id = "leftaligntestlist", @name = "leftaligntestlist", @class = "form-control" })
                        </div>
                        <div class="col-lg-5">
                            @Html.DropDownList("leftalignchannellist", null, new { @id = "leftalignchannellist", @name = "leftalignchannellist", @class = "form-control" })
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="col-lg-7">
                            @Html.DropDownList("rightaligntestlist", null, new { @id = "rightaligntestlist", @name = "rightaligntestlist", @class = "form-control" })
                        </div>
                        <div class="col-lg-5">
                            @Html.DropDownList("rightalignchannellist", null, new { @id = "rightalignchannellist", @name = "rightalignchannellist", @class = "form-control" })
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">&nbsp;</div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-lg-12">
            <div class="row"><a data-toggle="collapse" href="#bicond" aria-expanded="false" aria-controls="collapseExample" style="font-size:18px;font-family:'Arial Narrow';text-decoration: none;"><font color="black">Burn-In Test Data Condition (Optional)</font>&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/Content/images/icon/extend.png" style="height:20px; width:12px"></a></div>
            <div class="row">
                <div class="col-lg-12">&nbsp;</div>
            </div>
            <div class="row">
                <div class="collapse" id="bicond">

                    <div class="col-lg-6">
                        <div class="col-lg-7">
                            @Html.DropDownList("leftbistationlist", null, new { @id = "leftbistationlist", @name = "leftbistationlist", @class = "form-control" })
                        </div>
                        <div class="col-lg-5">
                            @Html.DropDownList("leftbichannellist", null, new { @id = "leftbichannellist", @name = "leftbichannellist", @class = "form-control" })
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="col-lg-7">
                            @Html.DropDownList("rightbistationlist", null, new { @id = "rightbistationlist", @name = "rightbistationlist", @class = "form-control" })
                        </div>
                        <div class="col-lg-5">
                            @Html.DropDownList("rightbichannellist", null, new { @id = "rightbichannellist", @name = "rightbichannellist", @class = "form-control" })
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

    <div class="form-group">
        <div class="row">
            <div class="col-lg-12">
                <button  MYTP="BT"  type="button" onclick="compairtxo()" class="btn btn-default" style="width:10.5em;">Submit</button>
            </div>
        </div>
        <script type="text/javascript">
            function compairtxo() {
                if ((document.getElementById("leftquerylist").value && document.getElementById("leftdatafieldlist").value.indexOf("Please") == -1)
                    || (document.getElementById("rightquerylist").value && document.getElementById("rightdatafieldlist").value.indexOf("Please") == -1)) {
                    $('#txoform').submit();
                    return false;
                }
            }
        </script>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-11">
                            @if (ViewBag.lefthotscript != null)
                            {
                                @Html.Raw(ViewBag.lefthotscript)
                                <div id="lefthotscript" style="min-width: 310px; height: 600px; margin: 0 auto"></div>
                            }
                        </div>
                        <div class="col-1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-1">
                        </div>
                        <div class="col-11">
                            @if (ViewBag.righthotscript != null)
                            {
                                @Html.Raw(ViewBag.righthotscript)
                                <div id="righthotscript" style="min-width: 310px; height: 600px; margin: 0 auto"></div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-11">
                            @if (ViewBag.leftnormaldistr != null)
                            {
                                @Html.Raw(ViewBag.leftnormaldistr)
                                <div id="leftnormaldistr" style="min-width: 310px; height: 600px; margin: 0 auto"></div>
                            }
                        </div>
                        <div class="col-1">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-1">
                        </div>
                        <div class="col-11">
                            @if (ViewBag.rightnormaldistr != null)
                            {
                                @Html.Raw(ViewBag.rightnormaldistr)
                                <div id="rightnormaldistr" style="min-width: 310px; height: 600px; margin: 0 auto"></div>
                            }
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-10">
                <div class="form-group">
                    <div class="row">
                        @if (ViewBag.combinenormaldistr != null)
                        {
                            @Html.Raw(ViewBag.combinenormaldistr)
                            <div id="combinenormaldistr" style="min-width: 600px; height: 600px; margin: 0 auto"></div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-1">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-11">
                            @if (ViewBag.leftboxplot != null)
                            {
                                @Html.Raw(ViewBag.leftboxplot)
                                <div id="leftboxplot" style="min-width: 310px; height: 600px; margin: 0 auto"></div>
                            }
                        </div>
                        <div class="col-1">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-1">
                        </div>
                        <div class="col-11">
                            @if (ViewBag.rightboxplot != null)
                            {
                                @Html.Raw(ViewBag.rightboxplot)
                                <div id="rightboxplot" style="min-width: 310px; height: 600px; margin: 0 auto"></div>
                            }
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-10">
                <div class="form-group">
                    <div class="row">
                        @if (ViewBag.combineboxplot != null)
                        {
                            @Html.Raw(ViewBag.combineboxplot)
                            <div id="combineboxplot" style="min-width: 600px; height: 600px; margin: 0 auto"></div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-1">
            </div>
        </div>

    </div>
    }
