
@{
    ViewBag.Title = "AddBlogDoc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="nav navbar-nav navbar-left">
        <img src="~/Content/images/ucicon/IBlogIcons.png" style="height:40px; width:40px">
    </div>
    <div class="nav navbar-nav navbar-left">
        <ol class="breadcrumb">
            <li><a href="/User/UserCenter?username=@(ViewBag.RealUserID)">@ViewBag.UserName Center</a></li>
            <li><a href="/User/IBLOG">I BLOG</a></li>
            <li class="active">Add Blog Document</li>
        </ol>

    </div>
</div>

<script src="../../ckeditor/ckeditor.js"></script>

@using (Html.BeginForm("AddBlogDoc", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-horizontal">

        <div class="form-group">
            <div class="row" data-intro="Select Blog Category." data-step="1">
                <div class="col-lg-3" MYTP="orange" style="font-family:'Arial Narrow';font-size:18px"><strong>&nbsp;&nbsp;Blog Category*</strong></div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-6">
                            <label class="control-label col-lg-2" for="Tag">Category</label>
                            <div class="col-lg-10">
                                <input class="form-control text-box single-line" data-toggle="tooltip" title="Tag1;Tag2;Tag3" id="Tag" name="Tag" type="text" onclick="PopTag()" />
                            </div>
                        </div>
                        <div class="col-lg-6"></div>
                        <script type="text/javascript">
                            function PopTag() {
                                $('#attachtag').modal({ backdrop: 'static' });
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>


        <hr />

        <div class="form-group">
            <div class="row" data-intro="Share DOC by document." data-step="2">
                <div class="col-lg-3" MYTP="orange" style="font-family:'Arial Narrow';font-size:18px"><strong>&nbsp;&nbsp;Share DOC by document*</strong></div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="col-lg-11">
                                <label class="control-label" id="showfile3" name="showfile3">Select a document</label>
                                <div class="nav navbar-nav navbar-right">
                                    <span class="btn btn-default btn-file " id="choosefile3">
                                        Share Document <input type="file" name="files3" id="file3" runat="server" onchange="ShowFileNames3(this)" />
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <input class="form-control text-box single-line" value="" id="attachmentupload" name="attachmentupload" type="hidden" />
                            </div>
                        </div>
                        <script type="text/javascript">
                            function ShowFileNames3(oFile) {
                                $('#showfile3').text(oFile.value);
                                document.getElementById("attachmentupload").value = oFile.value;
                            }
                        </script>

                        <div class="col-lg-6"><input type="submit" value="Submit" class="btn btn-primary" /></div>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <div class="form-group">
            <div class="row" data-intro="Share DOC by Editor." data-step="3">

                <div class="col-lg-3" MYTP="orange" style="font-family:'Arial Narrow';font-size:18px"><strong>&nbsp;&nbsp;Share DOC by Editor*</strong></div>
                <div class="col-lg-9"></div>
                <div class="row">
                    <div class="col-lg-12" style="margin-left: 40px;margin-right: 40px;">
                        <div class="form-group"></div>
                        <div class="form-group">
                                <label class="control-label col-lg-1 text-left">Title</label>
                                <input class="form-control text-box single-line" id="DocTitle" name="DocTitle" type="text" />
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12">
                                <textarea name="docinputeditor" id="docinputeditor" rows="30" cols="80"></textarea>
                                <script>
                                    CKEDITOR.replace('docinputeditor', { htmlEncodeOutput: true, filebrowserUploadUrl: '/userfiles/Upload.ashx', skin: 'moono-lisa' });
                                </script>
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-4">
                                        <span class="btn btn-success btn-file" id="choosefile6">
                                            Editor Attachment <input type="file" name="file6" id="file6" runat="server" onchange="ShowFileNames6(this)" />
                                        </span>
                                    </div>
                                    <div class="col-lg-1"></div>
                                    <div class="col-lg-1">@*<button class="form-control" type="button" data-toggle="tooltip" title="Save User Info" onclick="SaveUserContent()"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span></button>*@</div>
                                    <div class="col-lg-1">@*<button class="form-control" type="button" data-toggle="tooltip" title="Retrieve User Info" onclick="UserCacheContent()"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></button>*@</div>
                                    <div class="col-lg-5"></div>
                                </div>
                                <script type="text/javascript">
                                    function ShowFileNames6(oFile) {
                                        ajaxFileUpload();
                                    }
                                    function ajaxFileUpload() {
                                        $.ajaxFileUpload
                                        (
                                            {
                                                url: '/userfiles/ImageUpload.ashx',
                                                secureuri: false,
                                                fileElementId: 'file6',
                                                dataType: 'HTML',
                                                success: function (data, status) {
                                                    var wholeval = CKEDITOR.instances.docinputeditor.getData() + data;
                                                    CKEDITOR.instances.docinputeditor.setData(wholeval);
                                                },
                                                error: function (e) {
                                                    alert(e);
                                                }
                                            }
                                        )
                                        return false;
                                    }

                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="row">
                <div class="col-lg-3">
                    <input type="submit" value="Submit" class="btn btn-primary" data-intro="Submit here." data-step="4" />
                </div>
                <div class="col-lg-9"></div>
            </div>
        </div>
    </div>

                <div class="modal" id="attachtag" tabindex="-1" role="dialog" aria-labelledby="attachtagLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="attachtagLabel">Category</h4>
                            </div>
                            <div class="row"></div>
                    
                            <div class="row"></div>
                            @if (ViewBag.tobechoosetags != null)
                {
                    for (var idx = 0; idx < ViewBag.tobechoosetags.Count; idx++)
                    {
                                    <div class="col-lg-4">
                                        <div class="col-lg-3">
                                            <input type="checkbox" id="attachtagcheck@(idx)" name="attachtagcheck@(idx)" value="@(ViewBag.tobechoosetags[idx])" />
                                        </div>
                                        <div class="col-lg-9">
                                            <label class="control-label">@(ViewBag.tobechoosetags[idx])</label>
                                        </div>
                                    </div>
                                }
                            }

                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" onclick="settag(this)">Done</button>
                            </div>
                        </div>
                    </div>

                    <script type="text/javascript">
                        function settag(oBT) {
                            var tagstr = "";
                            for (var i = 0; i < 100; i++) {
                                if (document.getElementById("attachtagcheck" + i)) {
                                    if (document.getElementById("attachtagcheck" + i).checked) {
                                        tagstr = tagstr + document.getElementById("attachtagcheck" + i).value + ";";
                                    }
                                }
                            }
                            document.getElementById("Tag").value = tagstr;
                            $('#attachtag').modal('hide');
                            document.getElementById("Tag").focus();
                        }
                    </script>
                </div>
            }
