@model IEnumerable<Prometheus.Models.ProjectCriticalErrorVM>

@{
    ViewBag.Title = "Add Project Critical Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="nav navbar-nav navbar-left">
        <ol class="breadcrumb" style="width:600px">
            <li><a href="/User/UserCenter?username=@(ViewBag.RealUserID)">@ViewBag.UserName Center</a></li>
            <li class="active">Add Project Critical Error</li>
        </ol>
    </div>
</div>

@using (Html.BeginForm("AddPJCriticalError", "User", FormMethod.Post, new { enctype = "multipart/form-data", id = "igroupform", name = "igroupform" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-lg-4" MYTP="orange" style="font-family:'Arial Narrow';font-size:18px"><strong>&nbsp;&nbsp;Add Project Critical Error</strong></div>
        <div class="col-lg-8"></div>
    </div>

    <div class="row">
        <div class="col-lg-12">&nbsp;</div>
    </div>

        <div class="form-group">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-6">
                        <div class="col-lg-6">
                            @Html.DropDownList("pjlist", null, new { @id = "pjlist", @name = "pjlist", @class = "form-control" })
                        </div>
                        <div class="col-lg-6">
                            @Html.DropDownList("errorlist", null, new { @id = "errorlist", @name = "errorlist", @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <input id="testcase" name="testcase" data-toggle="tooltip" title="Test Case Name In TraceView" placeholder="Please input test case name" class="form-control text-box single-line" type="text" data-val="true" data-val-length="The field must be a string with a minimum length of 2 and a maximum length of 180." data-val-length-max="180" data-val-length-min="2" data-val-regex="The field should not contain \'" data-val-regex-pattern="^(?!.*&#39;).*$" data-val-required="The field is required." />
                    </div>
                    <div class="col-lg-2">
                        <input id="matchcond" name="matchcond" data-toggle="tooltip" title="DataField Name U Want 2 Match" placeholder="Please input datafield" class="form-control text-box single-line" type="text"  data-val="true" data-val-length="The field must be a string with a minimum length of 2 and a maximum length of 180." data-val-length-max="180" data-val-length-min="2" data-val-regex="The field should not contain \'" data-val-regex-pattern="^(?!.*&#39;).*$" data-val-required="The field is required." />
                    </div>
                    <div class="col-lg-2">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-6">
                        <div class="col-lg-6">
                            @Html.DropDownList("templist", null, new { @id = "templist", @name = "templist", @class = "form-control" })
                        </div>
                        <div class="col-lg-6">
                            @Html.DropDownList("channellist", null, new { @id = "channellist", @name = "channellist", @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-lg-6">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-1">
                        <div class="col-lg-6">
                        </div>
                        <div class="col-lg-6">
                            <input type="checkbox" id="withlimit" name="withlimit" value="withlimit" />
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <label class="control-label" style="font-family:'Arial Narrow'">With Limit</label>
                    </div>
                    <div class="col-lg-3">
                        <div class="col-lg-6">
                            <input id="lowlimit" name="lowlimit" placeholder="low limit" class="form-control text-box single-line" type="text" data-val="true" data-val-regex="The field should not contain \'" data-val-regex-pattern="^(?!.*&#39;).*$" />
                        </div>
                        <div class="col-lg-6">
                            <input id="highlimit" name="highlimit" placeholder="high limit" class="form-control text-box single-line" type="text" data-val="true" data-val-regex="The field should not contain \'" data-val-regex-pattern="^(?!.*&#39;).*$" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-1">
                        <div class="col-lg-6">
                        </div>
                        <div class="col-lg-6">
                            <input type="checkbox" id="withalgorithm" name="withalgorithm" value="withalgorithm" />
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <label class="control-label" style="font-family:'Arial Narrow'">With Algorithm</label>
                    </div>
                    <div class="col-lg-3">
                        @Html.DropDownList("algorithmlist", null, new { @id = "algorithmlist", @name = "algorithmlist", @class = "form-control" })
                    </div>
                    <div class="col-lg-3">
                        <input id="algorithmparam" name="algorithmparam"  data-toggle="tooltip" title="Uniformity is (MAX-MIN)/MEAN,value range (0~infinity). STDDEV algorithm,3 means RANG(MEAN-3*stddev,MEAN+3*stddev). " placeholder="algorithm params" class="form-control text-box single-line" type="text" />
                    </div>
                    <div class="col-lg-3">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-lg-2" style="font-family:'Arial Narrow';font-size:18px"><strong>&nbsp;&nbsp;Related People</strong></div>
                <div class="col-lg-10">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-12" data-toggle="tooltip" data-placement="center" title="Exampel: Email Address; Email Address;Email Address;...">
                                <textarea class="form-control" name="RPeopleAddr" id="RPeopleAddr" onclick="chooserelatedpeople()" style="min-width: 100%;min-height:40px;overflow-y: scroll;overflow-x: scroll;" data-val="true" data-val-length="The field must be a string with a minimum length of 6 and a maximum length of 800." data-val-length-max="800" data-val-length-min="6" data-val-regex="The field should not contain \'" data-val-regex-pattern="^(?!.*&#39;).*$"></textarea>
                            </div>
                            <span class="field-validation-valid text-danger" data-valmsg-for="RPeopleAddr" data-valmsg-replace="true"></span>
                        </div>
                        <script type="text/javascript">
                    function chooserelatedpeople() {
                        document.getElementById("towhoinput1").value = document.getElementById("RPeopleAddr").value;
                        $('#relatedmodal').modal({ backdrop: 'static' });
                    }

                    function fillreleatepeople() {
                        $('#relatedmodal').modal('hide');
                        document.getElementById("RPeopleAddr").value = document.getElementById("towhoinput1").value;
                        document.getElementById("RPeopleAddr").focus();
                    }
                        </script>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="relatedmodal" tabindex="-1" role="dialog" aria-labelledby="relatedmodalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="relatedmodalLabel">Choose People</h4>
                    </div>
                    <div class="row"></div>
                    <div class="row col-lg-12">
                        <div class="col-lg-3">
                            <label class="control-label">To Who</label>
                        </div>
                        <div class="col-lg-9">
                            @Html.DropDownList("towholist1", null, new { @id = "towholist1", @class = "form-control", @onchange = "chooseapusher1()" })
                        </div>
                        <script type="text/javascript">
                            function chooseapusher1()
                            {
                                document.getElementById("towhoinput1").value = document.getElementById("towhoinput1").value + ';' + document.getElementById("towholist1").value;
                            }
                        </script>
                    </div>
                    <hr />
                    <div class="row col-lg-12">
                        <div class="col-lg-3">
                            <label class="control-label">To who Input</label>
                        </div>
                        <div class="col-lg-9" data-toggle="tooltip" data-placement="center" title="Exampel: Email Address; Email Address;Email Address;...">
                            <textarea class="form-control col-lg-12" name="towhoinput1" id="towhoinput1" style="height:100px;min-width:300px;"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" onclick="fillreleatepeople()">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-2">
                        <button  MYTP="BT"  type="button" class="btn btn-default" style="width:10.5em;" onclick="submitform()">Submit</button>
                    </div>
                    <div class="col-lg-10"></div>
                </div>
            </div>
            <script type="text/javascript">
                    function submitform()
                    {
                        if (document.getElementById("pjlist").value.indexOf("Please") == -1 
                            && document.getElementById("errorlist").value.indexOf("Please") == -1
                            && document.getElementById("testcase").value
                            && document.getElementById("matchcond").value
                            && document.getElementById("testcase").value.indexOf("Please") == -1
                            && document.getElementById("matchcond").value.indexOf("Please") == -1
                            &&((document.getElementById("withlimit").checked
                            && document.getElementById("lowlimit").value
                            && document.getElementById("highlimit").value
                            && document.getElementById("lowlimit").value.indexOf("limit") == -1
                            && document.getElementById("highlimit").value.indexOf("limit") == -1)
                            || (document.getElementById("withalgorithm").checked
                            && document.getElementById("algorithmlist").value.indexOf("Please") == -1
                            && document.getElementById("algorithmlist").value.indexOf("algorithm") == -1))) {
                            $('#igroupform').submit();
                            return false;
                        }
                    }
            </script>
        </div>

    if (Model != null && Model.Count() > 0)
    {
        <div class="form-group">
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Project</th>
                                <th>Error Code</th>
                                <th>Test Case</th>
                                <th>Data Field</th>
                                <th>Temperature</th>
                                <th>Channel</th>
                                <th>Low Limit</th>
                                <th>High Limit</th>
                                <th>Algorithm</th>
                                <th>Algorithm Param</th>
                                <th>Related People</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.ProjectKey</td>
                                    <td>@item.ErrorCode</td>
                                    <td>@item.TestCaseName</td>
                                    <td>@item.MatchCond</td>
                                    <td>@item.Temperature</td>
                                    <td>@item.Channel</td>
                                    @if (item.WithLimit == 1)
                                    {
                                        <td>@item.LowLimit</td>
                                        <td>@item.HighLimit</td>
                                    }
                                    else
                                    {
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    }
                                    @if (item.WithAlgorithm == 1)
                                    {
                                        <td>@item.Algorithm</td>
                                        <td>@item.AlgorithmParam</td>
                                    }
                                    else
                                    {
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    }

                                    <td>@item.Appv_4.Replace("@FINISAR.COM","")</td>
                                    <td><img src="~/Content/images/icon/delete2.png" MYTP="HOVER" style="height:30px; width:18px" onclick="DeletePJCriticalError('PJKey=@(item.ProjectKey)&ErrorCode=@(item.ErrorCode)&TestCase=@(item.TestCaseName)&MatchCond=@(item.MatchCond)')"></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <script type="text/javascript">
                        function DeletePJCriticalError(obt)
                        {
                            if (confirm("Do you really want to delete this condition?"))
                            {
                                window.location.href = '/User/DeletePJCriticalError?' + obt;
                            }
                        }
                    </script>
                </div>
            </div>
        </div>
    }

}
