@model IEnumerable<Prometheus.Models.ProjectCriticalErrorVM>

@{
    ViewBag.Title = "Add Project Critical Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ruleidx = 0;
}
<script src="~/Scripts/autocompletefill.js"></script>

<div class="row">
    <div class="nav navbar-nav navbar-left">
        <ol class="breadcrumb" style="width:600px">
            <li><a href="/User/UserCenter?username=@(ViewBag.RealUserID)">@ViewBag.UserName Center</a></li>
            <li class="active">Add Project Critical Error</li>
        </ol>
    </div>
</div>

@using (Html.BeginForm("AddPJCriticalError", "User", FormMethod.Post, new { enctype = "multipart/form-data", id = "igroupform", name = "igroupform" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-xs-4" MYTP="orange" style="font-family:'Arial Narrow';font-size:18px"><strong>&nbsp;&nbsp;Add Project Critical Error</strong></div>
        <div class="col-xs-8"></div>
    </div>

    <div class="row">
        <div class="col-xs-12">&nbsp;</div>
    </div>

        <div class="form-group">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-6">
                        <div class="col-xs-6">
                            @Html.DropDownList("pjlist", null, new { @id = "pjlist", @name = "pjlist", @class = "form-control" })
                        </div>
                        <div class="col-xs-6">
                            @Html.DropDownList("errorlist", null, new { @id = "errorlist", @name = "errorlist", @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <input id="testcase" name="testcase" data-toggle="tooltip" title="Test Case Name In TraceView, 'ALL' means match datafield in all test case" placeholder="Please input test case name" class="form-control text-box single-line" type="text" data-val="true" data-val-length="The field must be a string with a minimum length of 2 and a maximum length of 180." data-val-length-max="180" data-val-length-min="2" data-val-regex="The field should not contain \'" data-val-regex-pattern="^(?!.*&#39;).*$" data-val-required="The field is required." />
                    </div>
                    <div class="col-xs-2">
                        <input id="matchcond" name="matchcond" data-toggle="tooltip" title="DataField Name U Want 2 Match" placeholder="Please input datafield" class="form-control text-box single-line" type="text"  data-val="true" data-val-length="The field must be a string with a minimum length of 2 and a maximum length of 180." data-val-length-max="180" data-val-length-min="2" data-val-regex="The field should not contain \'" data-val-regex-pattern="^(?!.*&#39;).*$" data-val-required="The field is required." />
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-6">
                        <div class="col-xs-6">
                            @Html.DropDownList("templist", null, new { @id = "templist", @name = "templist", @class = "form-control" })
                        </div>
                        <div class="col-xs-6">
                            @Html.DropDownList("channellist", null, new { @id = "channellist", @name = "channellist", @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-xs-6">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-1">
                        <div class="col-xs-6">
                        </div>
                        <div class="col-xs-6">
                            <input type="checkbox" id="withlimit" name="withlimit" value="withlimit" />
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <label class="control-label" style="font-family:'Arial Narrow'">With Limit</label>
                    </div>
                    <div class="col-xs-3">
                        <div class="col-xs-6">
                            <input id="lowlimit" name="lowlimit" placeholder="low limit" class="form-control text-box single-line" type="text" data-val="true" data-val-regex="The field should not contain \'" data-val-regex-pattern="^(?!.*&#39;).*$" />
                        </div>
                        <div class="col-xs-6">
                            <input id="highlimit" name="highlimit" placeholder="high limit" class="form-control text-box single-line" type="text" data-val="true" data-val-regex="The field should not contain \'" data-val-regex-pattern="^(?!.*&#39;).*$" />
                        </div>
                    </div>
                    <div class="col-xs-6">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-1">
                        <div class="col-xs-6">
                        </div>
                        <div class="col-xs-6">
                            <input type="checkbox" id="withalgorithm" name="withalgorithm" value="withalgorithm" />
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <label class="control-label" style="font-family:'Arial Narrow'">With Algorithm</label>
                    </div>
                    <div class="col-xs-3">
                        @Html.DropDownList("algorithmlist", null, new { @id = "algorithmlist", @name = "algorithmlist", @class = "form-control" })
                    </div>
                    <div class="col-xs-3">
                        <input id="algorithmparam" name="algorithmparam"  data-toggle="tooltip" title="Uniformity is (MAX-MIN)/MEAN,value range (0~infinity). STDDEV algorithm,3 means RANG(MEAN-3*stddev,MEAN+3*stddev). " placeholder="algorithm params" class="form-control text-box single-line" type="text" />
                    </div>
                    <div class="col-xs-3">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-1">
                        <div class="col-xs-6">
                        </div>
                        <div class="col-xs-6">
                            <input type="checkbox" id="withwildmatch" name="withwildmatch" value="withwildmatch" />
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <label class="control-label" style="font-family:'Arial Narrow'">Wild Match</label>
                    </div>
                    <div class="col-xs-3">
                        <input id="wildmatchparam" name="wildmatchparam" data-toggle="tooltip" title="match parameter can be a string or lowlimit##highlimit" placeholder="wild match params" class="form-control text-box single-line" type="text" />
                    </div>
                    <div class="col-xs-3">
                    </div>
                    <div class="col-xs-3">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-xs-2" style="font-family:'Arial Narrow';font-size:18px"><strong>&nbsp;&nbsp;Related People</strong></div>
                <div class="col-xs-10">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-xs-12" data-toggle="tooltip" data-placement="center" title="Exampel: Email Address; Email Address;Email Address;...">
                                <textarea class="form-control" name="RPeopleAddr" id="RPeopleAddr" onclick="chooserelatedpeople()" style="min-width: 100%;min-height:40px;overflow-y: scroll;overflow-x: scroll;" data-val="true" data-val-length="The field must be a string with a minimum length of 6 and a maximum length of 800." data-val-length-max="800" data-val-length-min="6" data-val-regex="The field should not contain \'" data-val-regex-pattern="^(?!.*&#39;).*$"></textarea>
                            </div>
                            <span class="field-validation-valid text-danger" data-valmsg-for="RPeopleAddr" data-valmsg-replace="true"></span>
                        </div>
                        <script type="text/javascript">
                    function chooserelatedpeople() {
                        document.getElementById("towhoinput1").value = document.getElementById("RPeopleAddr").value;
                        $('#relatedmodal').modal({ backdrop: 'static' });
                    }

                    function fillreleatepeople() {
                        $('#relatedmodal').modal('hide');
                        document.getElementById("RPeopleAddr").value = document.getElementById("towhoinput1").value;
                        document.getElementById("RPeopleAddr").focus();
                    }
                        </script>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row" style="margin-bottom:5px">
                <div class="col-xs-2" style="font-family:'Arial Narrow';font-size:18px"><strong>&nbsp;&nbsp;Failure Symptom</strong></div>
                <div class="col-xs-10"></div>
            </div>
            <div class="row">
                @if (ViewBag.tobechoosetags != null)
                {
                    for (var idx = 0; idx < ViewBag.tobechoosetags.Count; idx++)
                    {
                        <div class="col-xs-4">
                            <div class="col-xs-3">
                                <input class="reasontags" type="checkbox" id="issuetagcheck@(idx)" name="issuetagcheck@(idx)" value="@(ViewBag.tobechoosetags[idx])" />
                            </div>
                            <div class="col-xs-9">
                                <label class="control-label">@(ViewBag.tobechoosetags[idx])</label>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

        <div class="modal" id="relatedmodal" tabindex="-1" role="dialog" aria-labelledby="relatedmodalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="relatedmodalLabel">Choose People</h4>
                    </div>
                    <div class="row"></div>
                    <div class="row col-xs-12">
                        <div class="col-xs-3">
                            <label class="control-label">To Who</label>
                        </div>
                        <div class="col-xs-9">
                            <input class="form-control" id="towholist1" name="towholist1"
                                   type="text" value="" />
                        </div>
                        <script type="text/javascript">
                            autoCompleteFill('towholist1', @Html.Raw(ViewBag.AllUserList), true, 'towhoinput1');
                        </script>
                    </div>
                    <hr />
                    <div class="row col-xs-12">
                        <div class="col-xs-3">
                            <label class="control-label">To who Input</label>
                        </div>
                        <div class="col-xs-9" data-toggle="tooltip" data-placement="center" title="Exampel: Email Address; Email Address;Email Address;...">
                            <textarea class="form-control col-xs-12" name="towhoinput1" id="towhoinput1" style="height:100px;min-width:300px;"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" onclick="fillreleatepeople()">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <input id="HiddenRuleID" name="HiddenRuleID" type="hidden">
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-2">
                        <button  MYTP="BT"  type="button" class="btn btn-default" style="width:10.5em;" onclick="submitform()">Submit</button>
                    </div>
                    <div class="col-xs-10"></div>
                </div>
            </div>
            <script type="text/javascript">
                    function submitform()
                    {
                        if (document.getElementById("pjlist").value.indexOf("Please") == -1 
                            && document.getElementById("errorlist").value.indexOf("Please") == -1
                            && document.getElementById("testcase").value
                            && document.getElementById("matchcond").value
                            && document.getElementById("testcase").value.indexOf("Please") == -1
                            && document.getElementById("matchcond").value.indexOf("Please") == -1
                            &&((document.getElementById("withlimit").checked
                            && document.getElementById("lowlimit").value
                            && document.getElementById("highlimit").value
                            && document.getElementById("lowlimit").value.indexOf("limit") == -1
                            && document.getElementById("highlimit").value.indexOf("limit") == -1)
                            || (document.getElementById("withalgorithm").checked
                            && document.getElementById("algorithmlist").value.indexOf("Please") == -1
                            && document.getElementById("algorithmlist").value.indexOf("algorithm") == -1)
                            || (document.getElementById("withwildmatch").checked
                            && document.getElementById("wildmatchparam").value
                            && document.getElementById("wildmatchparam").value.indexOf("wild match") == -1))) {
                              $('#igroupform').submit();
                            return false;
                        }
                    }
            </script>
        </div>

    if (Model != null && Model.Count() > 0)
    {
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-bordered table-hover"  style="font-size:10px;">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>Project</th>
                                <th>Failure Symptom</th>
                                <th>Error Code</th>
                                <th>Test Case</th>
                                <th>Data Field</th>
                                <th>Temperature</th>
                                <th>Channel</th>
                                <th>Low Limit</th>
                                <th>High Limit</th>
                                <th>Algorithm</th>
                                <th>Algorithm Param</th>
                                <th>Wild Match Param</th>
                                <th>FA Switch</th>
                                <th>Rule Owner</th>
                                <th>Related People</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><input class="transferruleids" type="checkbox" id="rulecheck@(ruleidx)" name="issuetagcheck@(ruleidx)" value="@(item.RuleID)" /></td>
                                    <td>@item.ProjectKey</td>
                                    <td>@item.SettingReason</td>
                                    <td>@item.ErrorCode</td>
                                    <td>@item.TestCaseName</td>
                                    <td>@item.MatchCond</td>
                                    <td>@item.Temperature</td>
                                    <td>@item.Channel</td>
                                    @if (item.WithLimit == 1)
                                    {
                                        <td>@item.LowLimit</td>
                                        <td>@item.HighLimit</td>
                                    }
                                    else
                                    {
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    }
                                    @if (item.WithAlgorithm == 1)
                                    {
                                        <td>@item.Algorithm</td>
                                        <td>@item.AlgorithmParam</td>
                                    }
                                    else
                                    {
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    }
                                    @if (item.WithWildMatch == 1)
                                    {
                                        <td>@item.WildMatchParam</td>
                                    }
                                    else
                                    {
                                        <td>&nbsp;</td>
                                    }
                                    <td>
                                        @if (item.Appv_1 > 0)
                                        {
                                            <button class="form-control" type="button" data-toggle="tooltip" style="border:0px;border-color:transparent!important;background-color:transparent!important;" title="red means no FA will be create after test data fail to match this rule" onclick="OpenFASwitch('RuleID=@(item.RuleID)')">
                                                <span class="glyphicon glyphicon-filter" aria-hidden="true" style="color:red"></span>
                                            </button>
                                        }
                                        else
                                        {
                                            <button class="form-control" type="button" data-toggle="tooltip" style="border:0px;border-color:transparent!important;background-color:transparent!important;" title="green means FA will be create after test data fail to match this rule" onclick="CloseFASwitch('RuleID=@(item.RuleID)')">
                                                <span class="glyphicon glyphicon-filter" aria-hidden="true" style="color:green"></span>
                                            </button>
                                        }
                                    </td>
                                    <td>@item.Creater.Replace("@FINISAR.COM", "")</td>
                                    <td>@item.Appv_4.Replace("@FINISAR.COM","")</td>
                                    <td><img src="~/Content/images/icon/edit2.png" MYTP="HOVER" style="height:30px; width:18px" onclick="EditPJCriticalError('@(item.RuleID)')"></td>
                                    <td><img src="~/Content/images/icon/delete2.png" MYTP="HOVER" style="height:30px; width:18px" onclick="DeletePJCriticalError('RuleID=@(item.RuleID)')"></td>
                                </tr>

                                ruleidx = ruleidx + 1;
                            }
                        </tbody>
                    </table>
                    <script type="text/javascript">
                        function DeletePJCriticalError(obt)
                        {
                            if (confirm("Do you really want to delete this condition?"))
                            {
                                window.location.href = '/User/DeletePJCriticalError?' + obt;
                            }
                        }

                        function EditPJCriticalError(obt)
                        {
                            $.post('/User/RetrieveOneRule',
                            { rid: obt },
                            function (output) {
                                if (output.RuleID) {

                                    $('#withlimit').prop("checked", false);
                                    $('#lowlimit').val("");
                                    $('#highlimit').val("");

                                    $('#withalgorithm').prop("checked", false);
                                    $('#algorithmlist').val("");
                                    $('#algorithmparam').val("");
                                    $('.reasontags').prop("checked", false);


                                    $('#pjlist').val(output.ProjectKey);
                                    $('#errorlist').val(output.ErrorCode);
                                    $('#testcase').val(output.TestCaseName);
                                    $('#matchcond').val(output.MatchCond);
                                    $('#templist').val(output.Temperature);
                                    $('#channellist').val(output.Channel);

                                    if (output.WithLimit && output.WithLimit == 1)
                                    {
                                        $('#withlimit').prop("checked", true);
                                        $('#lowlimit').val(output.LowLimit);
                                        $('#highlimit').val(output.HighLimit);
                                    }

                                    if (output.WithAlgorithm && output.WithAlgorithm == 1)
                                    {
                                        $('#withalgorithm').prop("checked", true);
                                        $('#algorithmlist').val(output.Algorithm);
                                        $('#algorithmparam').val(output.AlgorithmParam);
                                    }

                                    if (output.WithWildMatch && output.WithWildMatch == 1)
                                    {
                                        $('#withwildmatch').prop("checked", true);
                                        $('#wildmatchparam').val(output.WildMatchParam);
                                    }

                                    $('#RPeopleAddr').val(output.Appv_4);

                                    $('.reasontags').each(function () {
                                        if (output.SettingReason.indexOf($(this).val()) != -1) {
                                            $(this).prop("checked", true);
                                        }
                                    });

                                    $('#HiddenRuleID').val(output.RuleID);
                                    return false;
                                }
                                else {
                                    return false;
                                }
                            });
                        }

                        function OpenFASwitch(obt)
                        {
                            window.location.href = '/User/Open2ndCheckFASwitch?' + obt;
                        }
                        function CloseFASwitch(obt)
                        {
                            window.location.href = '/User/Close2ndCheckFASwitch?' + obt;
                        }
                    </script>
                </div>
            </div>
        </div>
    }


    <div class="form-group">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-2">
                    <button MYTP="BT" type="button" class="btn btn-default" style="width:10.5em;" onclick="transferrules()">Transfer To</button>
                </div>
                <div class="col-xs-10">
                    <input class="form-control" id="transferpeople" name="transferpeople"
                           type="text" value="" />
                </div>
                <script type="text/javascript">
                    autoCompleteFill('transferpeople', @Html.Raw(ViewBag.AllUserList),false,'defaultid');

                    function transferrules()
                    {
                        var transpeople = $.trim($('#transferpeople').val());
                        if(transpeople === '')
                        {
                            alert('Transfer people should be input!');
                            return false;
                        }
                        var transid = new Array();
                        $('.transferruleids:checked').each(function () {
                            transid.push($(this).val());
                        })
                        if(transid.length == 0)
                        {
                            alert('At least one rule should be choose');
                            return false;
                        }

                        $.post('/User/TransferRule',
                        {
                            transpeople:transpeople,
                            transid:transid
                        },
                        function(){
                            $('#transferpeople').val('');
                            $('.transferruleids').prop('checked',false);
                            window.location.href = window.location.href;
                        });
                    }
                </script>
            </div>
        </div>
    </div>
 }
