
@{
    ViewBag.Title = "GetKPI";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<div>
    @if (ViewBag.data1 != null)
    {
        if (ViewBag.flg == 1)
        {
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>UserName</th>
                        <th>Item</th>
                        <th>Half-Year Count</th>
                        <th>Half-Year Rank</th>
                        <th>Year Count</th>
                        <th>Year Rank</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var idx = 0;
                        foreach (var item in ViewBag.data2)
                        {
                            if(idx < ViewBag.data2.Count - 2) {
                                <tr>
                                    <td rowspan="5">@item.Key.Split(new char[] { '@' })[0]</td>
                                    <td>Task</td>
                                    <td>@item.Value.Task</td>
                                    <td>@(Math.Round(item.Value.Task / ViewBag.data2["h_avg"].Task, 4) * 100) %</td>
                                    <td>@(ViewBag.data1[item.Key].Task)</td>
                                    <td>@(Math.Round(ViewBag.data1[item.Key].Task / ViewBag.data2["y_avg"].Task, 4) * 100) %</td>
                                </tr>
                                <tr>
                                    <td>CriticalTask</td>
                                    <td>@item.Value.CriticalTask</td>
                                    <td>@(Math.Round(item.Value.CriticalTask / ViewBag.data2["h_avg"].CriticalTask, 4) * 100) %</td>
                                    <td>@(ViewBag.data1[item.Key].CriticalTask)</td>
                                    <td>@(Math.Round(ViewBag.data1[item.Key].CriticalTask / ViewBag.data2["y_avg"].CriticalTask, 4) * 100) %</td>
                                </tr>
                                <tr>
                                    <td>Bug</td>
                                    <td>@item.Value.Bug</td>
                                    <td>@(Math.Round(item.Value.Bug / ViewBag.data2["h_avg"].Bug, 4) * 100) %</td>
                                    <td>@(ViewBag.data1[item.Key].Bug)</td>
                                    <td>@(Math.Round(ViewBag.data1[item.Key].Bug / ViewBag.data2["y_avg"].Bug, 4) * 100) %</td>
                                </tr>
                                <tr>
                                    <td>RMA</td>
                                    <td>@item.Value.RMA</td>
                                    <td>@(Math.Round(item.Value.RMA / ViewBag.data2["h_avg"].RMA, 4) * 100) %</td>
                                    <td>@(ViewBag.data1[item.Key].RMA)</td>
                                    <td>@(Math.Round(ViewBag.data1[item.Key].RMA / ViewBag.data2["y_avg"].RMA, 4) * 100) %</td>
                                </tr>
                                <tr>
                                    <td>DebugTree</td>
                                    <td>@item.Value.DebugTree</td>
                                    <td>@(Math.Round(item.Value.DebugTree / ViewBag.data2["h_avg"].DebugTree, 4) * 100) %</td>
                                    <td>@(ViewBag.data1[item.Key].DebugTree)</td>
                                    <td>@(Math.Round(ViewBag.data1[item.Key].DebugTree / ViewBag.data2["y_avg"].DebugTree, 4) * 100) %</td>
                                </tr>
                                idx++;
                            }
                        }
                    }
                </tbody>
            </table>
        }
        else{
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>UserName</th>
                        <th>Item</th>
                        <th>Count</th>
                        <th>Rank</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var idx = 0;
                        foreach (var item in ViewBag.data1)
                        {
                            if(idx < ViewBag.data1.Count - 2) {
                                <tr>
                                    <td rowspan="5">@item.Key.Split(new char[] { '@' })[0]</td>
                                    <td>Task</td>
                                    <td>@item.Value.Task</td>
                                    <td>@(Math.Round(item.Value.Task / ViewBag.data1["h_avg"].Task, 4) * 100) %</td>
                                </tr>
                                <tr>
                                    <td>CriticalTask</td>
                                    <td>@item.Value.CriticalTask</td>
                                    <td>@(Math.Round(item.Value.CriticalTask / ViewBag.data1["h_avg"].CriticalTask, 4) * 100) %</td>
                                </tr>
                                <tr>
                                    <td>Bug</td>
                                    <td>@item.Value.Bug</td>
                                    <td>@(Math.Round(item.Value.Bug / ViewBag.data1["h_avg"].Bug, 4) * 100) %</td>
                                </tr>
                                <tr>
                                    <td>RMA</td>
                                    <td>@item.Value.RMA</td>
                                    <td>@(Math.Round(item.Value.RMA / ViewBag.data1["h_avg"].RMA, 4) * 100) %</td>
                                </tr>
                                <tr>
                                    <td>DebugTree</td>
                                    <td>@item.Value.DebugTree</td>
                                    <td>@(Math.Round(item.Value.DebugTree / ViewBag.data1["h_avg"].DebugTree, 4) * 100) %</td>
                                </tr>
                                idx++;
                            }
                        }
                    }
                </tbody>
            </table>
        }
    }
</div>

