
@{
    ViewBag.Title = "ILearn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">&nbsp;</div>
</div>

<div class="row">
    <div class="col-lg-12">&nbsp;</div>
</div>

<div class="row">
    <div class="col-lg-1 text-right">
        <img src="~/Content/images/ucicon/ILearnIcons.png" style="height:60px; width:60px">
    </div>
    <div class="col-lg-11">
        <ol class="breadcrumb" style="font-size:18px">
            <li><a href="/User/UserCenter?username=@(ViewBag.RealUserID)">@ViewBag.UserName Center</a></li>
            <li class="active">I Learn</li>
        </ol>
    </div>
</div>

<hr />

<script src="~/Scripts/highcharts.js"></script>
<script src="~/Scripts/exporting.js"></script>


<ul class="nav nav-pills nav-stacked col-lg-2" >
    <li class="active"><a href="#tab_a" data-toggle="pill">I Learn</a></li>
    <li><a href="#tab_b" data-toggle="pill">I Share</a></li>
    <li><a href="#tab_c" data-toggle="pill">Weekly Report</a></li>
</ul>
<div class="tab-content col-lg-10">
    <div class="tab-pane active" id="tab_a">
    @using (Html.BeginForm("ILearnOperate", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        if(ViewBag.ILearn != null)
        {
            var i = 0;

        <table id="ilearndatatable" class="display" cellspacing="0">
            <thead style="background-color:#006DC0;font-family:'Arial Narrow';">
                    <tr>
                        <th style="text-align:center;font-size:16px"><font color="white">
                            <input type="checkbox" readonly="readonly" />
                        </font></th>
                        <th style="text-align:center;font-size:16px"><font color="white">Share Summary</font></th>
                        <th style="text-align:center;font-size:16px"><font color="white">ITag</font></th>
                        <th style="text-align:center;font-size:16px"><font color="white">Product</font></th>
                        <th style="text-align:center;font-size:16px"><font color="white">Creator</font></th>
                        <th style="text-align:center;font-size:16px"><font color="white">Favor</font></th>
                        <th style="text-align:center;font-size:16px"><font color="white"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></font></th>
                        <th style="text-align:center;font-size:16px"><font color="white">Date</font></th>
                        <th style="text-align:center;font-size:16px"><font color="white">ILike</font></th>
                        <th style="text-align:center;font-size:16px"><font color="white">IPush</font></th>
                    </tr>
            </thead>

            <tbody>
                @foreach (var line in ViewBag.ILearn)
                {
                    <tr>
                        <td style="text-align:center;font-size:12px">

                                <input type="checkbox" id="check@(i)" name="check@(i)" value="true" />

                            <input class="form-control text-box single-line" value="@line.DOCKey" id="HDocKey@(i)" name="HDocKey@(i)" type="hidden" />
                        </td>

                        <td style="text-align:center;font-size:12px"><a href="@(line.DocURL)" target="_blank">@(line.Summary)</a></td>
                        <td style="text-align:center;font-size:12px">@(line.DOCTag)</td>
                        <td style="text-align:center;font-size:12px">@(line.DOCPJK)</td>
                        <td style="text-align:center;font-size:12px">@(line.DOCCreator.Split(new char[] { '@' })[0])</td>
                        <td style="text-align:center;font-size:12px">@(line.DOCFavorTimes)</td>

                        @if (!string.IsNullOrEmpty(line.DOCFavor))
                        {
                            <td style="text-align:center;font-size:12px"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></td>
                        }
                        else
                        {
                            <td style="text-align:center;font-size:12px"></td>
                        }
                        
                        <td style="text-align:center;font-size:12px">@(line.DOCDate.ToString("dd/MM"))</td>
                        <td style="text-align:center;font-size:12px"><button class="form-control" type="button" value="DOCPJK=@(line.DOCPJK)&DOCKey=@(line.DOCKey)" onclick="LikeThisDoc(this)"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></button></td>
                        <td style="text-align:center;font-size:12px"><button class="form-control" type="button" value="DOCPJK=@(line.DOCPJK)&DOCKey=@(line.DOCKey)&ToWho=" onclick="PushThisDoc(this)">Push</button></td>
                    </tr>

                    i = i + 1;
                }
            </tbody>
        </table>

        <hr/>

        <div class="row">
            <div class="col-lg-1 text-center">

                    <input type="checkbox" id="checkall" name="checkall" onclick="ChooseAll(this)" />

            </div>
            <div class="col-lg-2 text-center">
                <input type="submit" value="Remove" id="removeilearn" name="removeilearn" class="btn btn-default" />
            </div>
            <div class="col-lg-9 text-center"></div>
        </div>

        <script type="text/javascript">
        $(document).ready(function() {
            $('#ilearndatatable').DataTable({
                'iDisplayLength': 50,
                'aLengthMenu': [[25, 50, 100, -1],
                                [25, 50, 100, "All"]],
                "bAutoWidth": false,
                "aaSorting": [],
                "order": [],
                "aoColumns": [
                { sWidth: '5%' },
                { sWidth: '16%' },
                { sWidth: '15%' },
                { sWidth: '8%' },
                { sWidth: '8%' },
                { sWidth: '5%' },
                { sWidth: '5%' },
                { sWidth: '10%' },
                { sWidth: '10%' },
                { sWidth: '10%' }]
            });
        });

        function ChooseAll(oBox) {
            if (oBox.checked === true) {
                for (var idx = 0; idx < 600; idx++) {
                    if (document.getElementById("check" + idx)) {
                        document.getElementById("check" + idx).checked = true;
                    }
                }
            }
            else {
                for (var idx = 0; idx < 600; idx++) {
                    if (document.getElementById("check" + idx)) {
                        document.getElementById("check" + idx).checked = false;
                    }
                }
            }
        }

        </script>
        }
    }
    </div>
    <div class="tab-pane" id="tab_b">
        @if (ViewBag.IShare != null)
        {
            
            <table id="isharedatatable" class="display" cellspacing="0">
                <thead style="background-color:#006DC0;font-family:'Arial Narrow';">
                    <tr>
                        <th style="text-align:center;font-size:16px"><font color="white">Summary</font></th>
                        <th style="text-align:center;font-size:16px"><font color="white">ITag</font></th>
                        <th style="text-align:center;font-size:16px"><font color="white">Product</font></th>
                        <th style="text-align:center;font-size:16px"><font color="white">Favor</font></th>
                        <th style="text-align:center;font-size:16px"><font color="white">Date</font></th>
                        <th style="text-align:center;font-size:16px"><font color="white">Remove</font></th>
                        <th style="text-align:center;font-size:16px"><font color="white">IPush</font></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var line in ViewBag.IShare)
                    {
                        <tr>
                            <td style="text-align:center;font-size:12px"><a href="@(line.DocURL)" target="_blank">@(line.Summary)</a></td>
                            <td style="text-align:center;font-size:12px">@(line.DOCTag)</td>
                            <td style="text-align:center;font-size:12px">@(line.DOCPJK)</td>
                            <td style="text-align:center;font-size:12px">@(line.DOCFavorTimes)</td>
                            <td style="text-align:center;font-size:12px">@(line.DOCDate.ToString("dd/MM"))</td>
                            <td style="text-align:center;font-size:12px"><button class="form-control" type="button" value="DOCPJK=@(line.DOCPJK)&DOCKey=@(line.DOCKey)" onclick="RemoveThisDoc(this)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
                            <td style="text-align:center;font-size:12px"><button class="form-control" type="button"  value="DOCPJK=@(line.DOCPJK)&DOCKey=@(line.DOCKey)&ToWho=" onclick="PushThisDoc(this)">Push</button></td>
                        </tr>
                    }
                </tbody>
            </table>

            <script type="text/javascript">
        $(document).ready(function() {
            $('#isharedatatable').DataTable({
                'iDisplayLength': 50,
                'aLengthMenu': [[25, 50, 100, -1],
                                [25, 50, 100, "All"]],
                "bAutoWidth": false,
                "aaSorting": [],
                "order": [],
                "aoColumns": [
                { sWidth: '20%' },
                { sWidth: '15%' },
                { sWidth: '10%' },
                { sWidth: '10%' },
                { sWidth: '10%' },
                { sWidth: '10%' },
                { sWidth: '10%' }]
            });
        });

        function RemoveThisDoc(oBT) {
            window.location.href = '/User/RemoveSharedDoc?' + oBT.value;
        }
            </script>
        }
    </div>
    <div class="tab-pane" id="tab_c">
        @using (Html.BeginForm("ILearnOperate", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            if (ViewBag.IWeeklyReport != null)
            {
                <table id="iweeklyreporttable" class="display" cellspacing="0">
                    <thead style="background-color:#006DC0;font-family:'Arial Narrow';">
                        <tr>
                            <th style="text-align:center;font-size:16px"><font color="white">Share Summary</font></th>
                            <th style="text-align:center;font-size:16px"><font color="white">ITag</font></th>
                            <th style="text-align:center;font-size:16px"><font color="white">Product</font></th>
                            <th style="text-align:center;font-size:16px"><font color="white">Creator</font></th>
                            <th style="text-align:center;font-size:16px"><font color="white">Favor</font></th>
                            <th style="text-align:center;font-size:16px"><font color="white"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></font></th>
                            <th style="text-align:center;font-size:16px"><font color="white">Date</font></th>
                            <th style="text-align:center;font-size:16px"><font color="white">ILike</font></th>
                            <th style="text-align:center;font-size:16px"><font color="white">IPush</font></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var line in ViewBag.IWeeklyReport)
                        {
                            <tr>
                                <td style="text-align:center;font-size:12px"><a href="@(line.DocURL)" target="_blank">@(line.Summary)</a></td>
                                <td style="text-align:center;font-size:12px">@(line.DOCTag)</td>
                                <td style="text-align:center;font-size:12px">@(line.DOCPJK)</td>
                                <td style="text-align:center;font-size:12px">@(line.DOCCreator.Split(new char[] { '@' })[0])</td>
                                <td style="text-align:center;font-size:12px">@(line.DOCFavorTimes)</td>

                                @if (!string.IsNullOrEmpty(line.DOCFavor))
                        {
                                    <td style="text-align:center;font-size:12px"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></td>
                                }
                                else
                                {
                                    <td style="text-align:center;font-size:12px"></td>
                                }

                                <td style="text-align:center;font-size:12px">@(line.DOCDate.ToString("dd/MM"))</td>
                                <td style="text-align:center;font-size:12px"><button class="form-control" type="button" value="DOCPJK=@(line.DOCPJK)&DOCKey=@(line.DOCKey)" onclick="LikeThisDoc(this)"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></button></td>
                                <td style="text-align:center;font-size:12px"><button class="form-control" type="button" value="DOCPJK=@(line.DOCPJK)&DOCKey=@(line.DOCKey)&ToWho=" onclick="PushThisDoc(this)">Push</button></td>
                            </tr>

                        }
                    </tbody>
                </table>


                <script type="text/javascript">
        $(document).ready(function() {
            $('#iweeklyreporttable').DataTable({
                'iDisplayLength': 50,
                'aLengthMenu': [[25, 50, 100, -1],
                                [25, 50, 100, "All"]],
                "bAutoWidth": false,
                "aaSorting": [],
                "order": [],
                "aoColumns": [
                { sWidth: '18%' },
                { sWidth: '15%' },
                { sWidth: '8%' },
                { sWidth: '8%' },
                { sWidth: '5%' },
                { sWidth: '5%' },
                { sWidth: '10%' },
                { sWidth: '10%' },
                { sWidth: '10%' }]
            });
        });

                </script>
            }
        }
    </div>
</div>

<div class="row">
<input class="form-control text-box single-line" value="" id="pushtowho" name="pushtowho" type="hidden" />
    <script type="text/javascript">
        function LikeThisDoc(oBT) {
            window.location.href = '/User/ILike?' + oBT.value;
        }

        function PushThisDoc(oBT)
        {
            document.getElementById("pushtowho").value = oBT.value;
            $('#attachtag').modal({ backdrop: 'static' });
        }

        function realpush()
        {
            var myurl = ""

            if (document.getElementById("towhoinput").value) {
                myurl = "/User/IPush?" + document.getElementById("pushtowho").value + document.getElementById("towhoinput").value;
            }
            else
            {
                myurl = "/User/IPush?" + document.getElementById("pushtowho").value + document.getElementById("towholist").value;
            }

            $('#attachtag').modal('hide');

            window.location.href = myurl
        }
    </script>
</div>

<div class="modal" id="attachtag" tabindex="-1" role="dialog" aria-labelledby="attachtagLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="attachtagLabel">Push Doc</h4>
            </div>
            <div class="row"></div>
            <div class="row col-lg-12">
                <div class="col-lg-3">
                    <label class="control-label">To Who</label>
                </div>
                <div class="col-lg-9">
                    @Html.DropDownList("towholist", null, new { @id = "towholist", @class = "form-control" })
                </div>
            </div>
            <hr/>
            <div class="row col-lg-12">
                <div class="col-lg-3">
                    <label class="control-label"></label>
                </div>
                <div class="col-lg-9" data-toggle="tooltip" data-placement="center" title="Exampel: Email Address; Email Address;Email Address;...">
                    <textarea  class="form-control col-lg-12" name="towhoinput" id="towhoinput" style="height:100px;min-width:300px;"></textarea>
                </div>
            </div>
            <div class="row"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" onclick="realpush()" >Push</button>
            </div>
        </div>
    </div>
</div>