@model Prometheus.Models.UserViewModels

@{
    ViewBag.Title = "LoginUser";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<link rel="stylesheet" href="~/Content/Login.css" />

<div class="row">
    <div class="login-welcome"><h2>Welcome to WUXI Engineering</h2></div>
</div>

@Html.Raw(string.IsNullOrEmpty(ViewBag.loginerror) ? "&nbsp;" : ViewBag.loginerror)
@if (!string.IsNullOrEmpty(ViewBag.loginerror))
{
    ViewBag.loginerror = "";
}

@using (Html.BeginForm("LoginUser", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="row login-content">
        <div class="login-form">
            <div class="form-group">
                <div data-intro = "Input your Finisar Email"  data-step="1">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control login-input", @placeholder = "FINISAR Email"})
                </div>
            </div>
            <div class="form-group">
                <div data-intro = "Default Password:abc@123"  data-step="2">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control login-input", @placeholder = "Password: abc@123" })
                </div>
            </div>
            <div class="form-group">
                <div data-intro="You can login from this" data-step="3">
                    <input type="submit" class="btn btn-default login-submit" id="Login" name="Login" value="Log in" />
                </div>
            </div>
            <div class="form-group">
                <div data-intro="You can change password here" data-step="4">
                    <input type="submit" class="btn btn-default login-forget-pwd" id="ForgetPassword" name="ForgetPassword" value="Change Password" />
                </div>
            </div>
        </div>
    </div>
}

