@model System.Collections.Generic.List<Prometheus.Models.ShareDocVM>

@{
    ViewBag.Title = "UserSharedInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="nav navbar-nav navbar-left">
        <img src="~/Content/images/usercenter/IKPI.png" style="height:35px; width:35px;margin-right: 15px;">
    </div>
    <div class="nav navbar-nav navbar-left">
        <ol class="breadcrumb" style="width:600px">
            <li><a href="/User/UserCenter?username=@(ViewBag.RealUserID)">@ViewBag.UserName Center</a></li>
            <li class="active">User Reviewed Info</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">&nbsp;</div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-xs-3 text-left">
            @Html.DropDownList("monthlylist", null, new { @id = "monthlylist", @class = "form-control", @onchange = "ShowMonthShare()" })
        </div>
        <div class="col-xs-9 text-left"></div>
        <script type="text/javascript">
            function ShowMonthShare() {
                if (document.getElementById("monthlylist").value) {
                    window.location.href = "/User/UserSharedInfo?month=" + document.getElementById("monthlylist").value;
                }
            }
        </script>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">&nbsp;</div>
</div>

<div class="form-group">
    <div class="row">
        <table id="isharedatatable" class="display" cellspacing="0">
            <thead style="background-color:#006DC0;font-family:'Arial Narrow';">
                <tr>
                    <th style="text-align:center;font-size:16px"><font color="white">UserName</font></th>
                    <th style="text-align:center;font-size:16px"><font color="white">Summary</font></th>
                    <th style="text-align:center;font-size:16px"><font color="white">ITag</font></th>
                    <th style="text-align:center;font-size:16px"><font color="white">Product</font></th>
                    <th style="text-align:center;font-size:16px"><font color="white">Favor</font></th>
                    <th style="text-align:center;font-size:16px"><font color="white">Date</font></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var line in Model)
                {
                    <tr>
                        <td style="text-align:center;font-size:12px">@(line.DOCCreator.Split('@')[0])</td>
                        <td style="text-align:center;font-size:12px"><a href="@(line.DocURL)" target="_blank">@(line.Summary)</a></td>
                        <td style="text-align:center;font-size:12px">@(line.DOCTag)</td>
                        <td style="text-align:center;font-size:12px">@(line.DOCPJK)</td>
                        <td style="text-align:center;font-size:12px">@(line.DOCFavorTimes)</td>
                        <td style="text-align:center;font-size:12px">@(line.DOCDate.ToString())</td>
                    </tr>
                }
            </tbody>
        </table>

        <script type="text/javascript">
        $(document).ready(function() {
            $('#isharedatatable').DataTable({
                'iDisplayLength': 50,
                'aLengthMenu': [[25, 50, 100, -1],
                                [25, 50, 100, "All"]],
                "bAutoWidth": false,
                "aaSorting": [],
                "order": [],
                "aoColumns": [
                { sWidth: '10%' },
                { sWidth: '20%' },
                { sWidth: '15%' },
                { sWidth: '10%' },
                { sWidth: '10%' },
                { sWidth: '10%' }]
            });
        });

        </script>
    </div>
</div>
