@model IEnumerable<Prometheus.Models.IssueViewModels>

@{
    ViewBag.Title = "UserCenter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.UserName Center</h2>

<hr />

@{
    var pendinglist = new List<Prometheus.Models.IssueViewModels>();
    var workinglist = new List<Prometheus.Models.IssueViewModels>();
    var donelist = new List<Prometheus.Models.IssueViewModels>();
    var iassignlist = (List<Prometheus.Models.IssueViewModels>)ViewBag.iassignlist;
}

@if (Model != null)
{
    foreach (var item in Model)
    {
        if (string.Compare(item.Resolution, Prometheus.Models.Resolute.Pending) == 0)
        {
            pendinglist.Add(item);
        }
        if (string.Compare(item.Resolution, Prometheus.Models.Resolute.Working) == 0)
        {
            workinglist.Add(item);
        }
        if (string.Compare(item.Resolution, Prometheus.Models.Resolute.Done) == 0)
        {
            donelist.Add(item);
        }
    }
}
<ul class="nav nav-pills nav-stacked col-md-2">
    <li class="active"><a href="#tab_a" data-toggle="pill">My Blog</a></li>
    <li><a href="#tab_b" data-toggle="pill">Assigned To Me</a></li>
    <li><a href="#tab_c" data-toggle="pill">I Assign</a></li>
</ul>
<div class="tab-content col-md-10">
    <div class="tab-pane active" id="tab_a">
        My Blog
    </div>

    <div class="tab-pane" id="tab_b">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Pending</h3>
                    </div>

                    <div class="panel-body" style="overflow-y: scroll;overflow-x: scroll;height:420px;">
                        @foreach (var item in pendinglist)
                        {
                            <div class="panel-body">
                                <a href="/Project/ProjectDetail?ProjectKey=@item.ProjectKey">[@item.ProjectKey]</a> <a href="/Issue/UpdateIssue?issuekey=@item.IssueKey">@item.Summary</a>
                            </div>
                            <div class="panel-body text-right" style="max-height:10px;min-height:10px;">
                                Reporter: <a href="/User/UserCenter?username=@item.Reporter">@item.Reporter.Split(new char[] { '@' })[0]</a> @item.ReportDate.ToString()
                            </div>
                            <hr />
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Working</h3>
                    </div>

                    <div class="panel-body" style="overflow-y: scroll;overflow-x: scroll;height:420px;">
                        @foreach (var item in workinglist)
                        {
                            <div class="panel-body">
                                <a href="/Project/ProjectDetail?ProjectKey=@item.ProjectKey">[@item.ProjectKey]</a> <a href="/Issue/UpdateIssue?issuekey=@item.IssueKey">@item.Summary</a>
                            </div>
                            <div class="panel-body text-right" style="max-height:10px;min-height:10px;">
                                Reporter: <a href="/User/UserCenter?username=@item.Reporter">@item.Reporter.Split(new char[] { '@' })[0]</a> @item.ReportDate.ToString()
                            </div>
                            <hr />
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Done</h3>
                    </div>

                    <div class="panel-body" style="overflow-y: scroll;overflow-x: scroll;height:420px;">
                        @foreach (var item in donelist)
                        {
                            <div class="panel-body">
                                <a href="/Project/ProjectDetail?ProjectKey=@item.ProjectKey">[@item.ProjectKey]</a> <a href="/Issue/UpdateIssue?issuekey=@item.IssueKey">@item.Summary</a>
                            </div>
                            <div class="panel-body text-right" style="max-height:10px;min-height:10px;">
                                Reporter: <a href="/User/UserCenter?username=@item.Reporter">@item.Reporter.Split(new char[] { '@' })[0]</a> @item.ReportDate.ToString()
                            </div>
                            <hr />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane" id="tab_c">

    @if (iassignlist != null && iassignlist.Count > 0)
    {
        <div class="col-md-12">
            @foreach (var item in iassignlist)
            {
                <div class="panel panel-default">
                    <div class="panel-heading" style="min-height:40px;max-height:40px;">
                        <div class="col-md-3 text-left">
                            <a href="/Project/ProjectDetail?ProjectKey=@item.ProjectKey">
                                <span class="glyphicon glyphicon-home" aria-hidden="true"></span> @item.ProjectKey
                            </a>
                        </div>
                        <div class="col-md-10"></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6 text-left">Summary</div>
                            <div class="col-md-2 text-left">Asignee</div>
                            <div class="col-md-2 text-left">Status</div>
                            <div class="col-md-2 text-left">DueDate</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-left"><a href="/Issue/UpdateIssue?issuekey=@item.IssueKey">@item.Summary</a></div>
                            <div class="col-md-2 text-left"><a href="/User/UserCenter?username=@item.Assignee">@item.Assignee.Split(new char[] { '@' })[0]</a></div>
                            <div class="col-md-2 text-left">@item.Resolution</div>
                            <div class="col-md-2 text-left">@item.DueDate.ToString("yyyy-MM-dd")</div>
                        </div>

                        @if (item.SubIssues.Count > 0)
                        {
                            <div class="row">
                                <div class="col-md-12 text-left">Sub Issues</div>
                            </div>
                            foreach (var sub in item.SubIssues)
                            {
                                <div class="row">
                                    <div class="col-md-6 text-left"><a href="/Issue/UpdateIssue?issuekey=@sub.IssueKey">@sub.Summary</a></div>
                                    <div class="col-md-2 text-left"><a href="/User/UserCenter?username=@sub.Assignee">@sub.Assignee.Split(new char[] { '@' })[0]</a></div>
                                    <div class="col-md-2 text-left">@sub.Resolution</div>
                                    <div class="col-md-2 text-left"></div>
                                </div>
                            }
                        }
                      </div>
                </div>
            }
        </div>
     }

     </div>
</div>


