
@{
    ViewBag.Title = "WeeklyReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var idx = 0;
    var m = 0;
    //var colors = new String[] { "success", "primary", "warning", "info", "danger" };
    var colors = new String[] { "#428BCA", "#FF6161", "#009999", "#0F4FA8",  "#FF9F00", "#05BCFE" };
}

<link href="~/Content/common.css" rel="stylesheet" type="text/css" />
<div class="row">
    <div class="nav navbar-nav navbar-left">
        <img src="~/Content/images/ucicon/ILearnIcons.png" style="height:40px; width:40px">
    </div>
    <div class="nav navbar-nav navbar-left">
        <ol class="breadcrumb">
            <li><a href="/User/UserCenter?username=@(ViewBag.RealUserID)">@ViewBag.UserName Center</a></li>
            <li><a href="/User/WeeklyReportList">Weekly Report</a></li>
            <li class="active">@ViewBag.cUserName</li>
        </ol>
    </div>
</div>
<input type="hidden" id="current_user" name="current_user" value="@ViewBag.cUserID" />

<script src="~/Scripts/weeklyreport.js"></script>


<ul class="nav nav-pills nav-stacked col-xs-2">
    <li><a href="/User/ILearn">I Learn</a></li>
    <li class="active"><a href="/User/WeeklyReportList">Weekly Report</a></li>
    <li><a href="/User/WeeklyReportShare">Weekly Report Share</a></li>
    <li><a href="/User/IDashboard">I Dashboard</a></li>
    <li><a href="/User/ILearn">Training</a></li>
    <li><a href="/User/ILearn">I Share</a></li>
</ul>
<div class="tab-content col-xs-10" data-intro="Show detail of tab" data-step="2">
    <div class="wr-op-setting">
        <div class="reportlist col-xs-4">
            <select class="userreportlist form-control" id="userreportlist" name="userreportlist">
                @foreach (var user in ViewBag.userreportlist)
                {
                    <option value="@user.Key" @(string.Compare(user.Key, ViewBag.cUserID.ToUpper()) == 0 ? "selected":"")>@user.Key.Split(new char[] { '@' })[0]</option>
                }
            </select>
        </div>
        <div class="wr-setting">
            <span class="glyphicon glyphicon-cog" title="Setting" data-toggle="modal" data-target="#modal_wr_setting"></span>
        </div>
    </div>
    <div class="pro-info">
        @foreach (var pKey in ViewBag.pKeys)
        {
            var yield_flg = false;
            var icare_flg = false;
            var icare_cnt = 0;
            var icare_dt_flg = false;
            var icare_update = false;
            var task_flg = false;
            var task_cnt = 0;
            var task_update = false;
            var cri_flg = false;
            var cri_cnt = 0;
            var cri_update = false;
            var rma_flg = false;
            var rma_cnt = 0;
            var rma_update = false;
            var dt_flg = false;
            var others_flg = false;
            var others_update = false;
            var summarylist = (ViewBag.SummaryList.ContainsKey(pKey) && ViewBag.SummaryList[pKey].Count > 0) ? ViewBag.SummaryList[pKey] : null;
            if (ViewBag.setting.Yield == 1)
            {
                yield_flg = ! string.IsNullOrEmpty(ViewBag.YieldDataList[pKey].Pareto);
            }
            if (ViewBag.setting.ICare == 1)
            {
                icare_dt_flg = ViewBag.icareDebugTree.ContainsKey(pKey) && ViewBag.icareDebugTree[pKey].Count > 0;
                icare_flg = ViewBag.icareList.ContainsKey(pKey) && ViewBag.icareList[pKey].TaskList.Count > 0;
                icare_update = (ViewBag.icareList.ContainsKey(pKey) && ViewBag.icareList[pKey].IsUpdate) || icare_dt_flg;
                icare_cnt = icare_flg ? ViewBag.icareList[pKey].TaskList.Count : 0;
            }
            if (ViewBag.setting.Task == 1)
            {
                task_flg = ViewBag.taskList.ContainsKey(pKey) && ViewBag.taskList[pKey].TaskList.Count > 0;
                task_update = ViewBag.taskList.ContainsKey(pKey) && ViewBag.taskList[pKey].IsUpdate;
                task_cnt = task_flg ? ViewBag.taskList[pKey].TaskList.Count : 0;
            }
            if (ViewBag.setting.CriticalFailure == 1)
            {
                cri_flg = ViewBag.criticalList.ContainsKey(pKey) && ViewBag.criticalList[pKey].TaskList.Count > 0;
                cri_update = ViewBag.criticalList.ContainsKey(pKey) && ViewBag.criticalList[pKey].IsUpdate;
                cri_cnt = cri_flg ? ViewBag.criticalList[pKey].TaskList.Count : 0;
            }
            if (ViewBag.setting.RMA == 1)
            {
                rma_flg = ViewBag.RMAList.ContainsKey(pKey) && ViewBag.RMAList[pKey].TaskList.Count > 0;
                rma_update = ViewBag.RMAList.ContainsKey(pKey) && ViewBag.RMAList[pKey].IsUpdate;
                rma_cnt = rma_flg ? ViewBag.RMAList[pKey].TaskList.Count : 0;
            }
            if(ViewBag.setting.DebugTree == 1)
            {
                dt_flg = ViewBag.DebugTreeList.ContainsKey(pKey) && ViewBag.DebugTreeList[pKey].Count > 0;
            }
            if(ViewBag.setting.Others == 1)
            {
                others_flg = summarylist != null && summarylist.ContainsKey("@@" + Prometheus.Models.SummaryType.Others);
                others_update = (others_flg) ? summarylist["@@" + Prometheus.Models.SummaryType.Others].Count > 0 : false;
            }
            var split_line = "<span class='split-line'> / </span>";
            var pro_title = (icare_cnt != 0 ? ("  ICare: " + icare_cnt + split_line) : "")
                                + (task_cnt != 0 ? (" Task: " + task_cnt + split_line) : "")
                                + (cri_cnt != 0 ? (" CriticalFailure: " + cri_cnt + split_line) : "")
                                + (dt_flg ? (" DebugTree " + split_line) : "")
                                + (rma_cnt != 0 ? (" RMA: " + rma_cnt + split_line) : "");
            pro_title = !string.IsNullOrEmpty(pro_title) ? pro_title.Substring(0, pro_title.Length - split_line.Length) : "";
            <div class="project-name cursor-pointer" style="background-color: @(colors[0])">
                <span class="span-pro">@(pKey)</span>
                <span class="sub-title">@Html.Raw(pro_title)</span>
            </div>
            <div class="project-info hidden">
                @if (ViewBag.setting.Yield == 1)
                {
                    <section id="Yield-@idx">
                        <div class="bs-callout bs-callout-danger @(yield_flg?"bs-callout-green":"")" data-toggle="collapse" data-target="#content_yield_@idx" aria-expanded="false">
                            <h4>Yield</h4>
                        </div>
                        <div class="content collapse" id="content_yield_@idx">
                            @if (ViewBag.YieldDataList.ContainsKey(pKey))
                            {
                                var wyielddata = ViewBag.YieldDataList[pKey];
                                <div id="data-yield_@idx">
                                    <table class="table table-bordered table-condensed">
                                        <thead>
                                            <tr>
                                                <th>FPY</th>
                                                <th>FY</th>
                                                <th colspan="2">Top 1</th>
                                                <th colspan="2">Top 2</th>
                                                <th colspan="2">Top 3</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                @foreach (var val in wyielddata.Data)
                                                {
                                                    <td>@val</td>
                                                }
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="chart_@idx">
                                    @if (!string.IsNullOrEmpty(wyielddata.Pareto))
                                    {
                                        <div class="col-xs-6">
                                            <div class="fypareto" id="fypareto_@idx"></div>
                                        </div>
                                        @Html.Raw(wyielddata.Pareto.Replace("#ElementID#", "fypareto_" + idx))
                                    }
                                    @if (!string.IsNullOrEmpty(wyielddata.Trend))
                                    {
                                        <div class="col-xs-6">
                                            <div class="wyield" id="wyield_@idx"></div>
                                        </div>
                                        @Html.Raw(wyielddata.Trend.Replace("#ElementID#", "wyield_" + idx))
                                    }
                                </div>
                                <div class="yield-summary">
                                    <div class="col-xs-12 summary">Summary:</div>
                                    @{
                                        var ysummary = "";
                                        if (summarylist != null && summarylist.ContainsKey("@@" + Prometheus.Models.SummaryType.Yield))
                                        {
                                            foreach (var item in summarylist["@@" + Prometheus.Models.SummaryType.Yield])
                                            {
                                                if (item.UserName.ToUpper() != ViewBag.RealUserID.ToUpper())
                                                {
                                                    <div class="row well item-summary summary-normal">
                                                        <span class="col-xs-5">@item.Summary</span>
                                                        <span class="col-xs-3">@item.UserName.Split(new char[] { '@' })[0]</span>
                                                        <span class="col-xs-4">@item.UpdateTime</span>
                                                    </div>
                                                }
                                                else
                                                {
                                                    ysummary += item.Summary;
                                                }
                                            }
                                        }
                                    }
                                    <div class="col-xs-12">
                                        <textarea class="form-control" style="height: 35px;" id="yield_summary_@idx"
                                                  name="yield_summary">@Html.Raw(ysummary)</textarea>
                                    </div>
                                </div>
                                <div class="wr-operation">
                                    <input type="button" class="btn btn-success op-btn btn-save" data-data-key="@pKey" data-data-module="@Prometheus.Models.SummaryType.Yield" name="btn_save" value="Save" />
                                    <input type="button" class="btn btn-warning op-btn btn-cancel" name="btn_cancel" value="Cancel" />
                                </div>
                            }
                        </div>
                    </section>
                }
                @if (ViewBag.setting.ICare == 1)
                {
                    <section id="ICare-@idx">
                        <div class="bs-callout bs-callout-info @(((icare_flg || icare_dt_flg) && icare_update)?"bs-callout-green":((icare_flg && !icare_update) ? "bs-callout-yellow" :""))"
                                data-toggle="collapse" data-target="#content_icare_@idx" aria-expanded="false">
                            <h4>ICare</h4>
                        </div>
                        <div id="content_icare_@idx" class="content collapse">
                            <div id="his_icare_@idx">
                                <div class="panel panel-default">
                                    <div class="panel-heading cursor-pointer" data-toggle="collapse" data-target="#content_his_icare_@idx" aria-expanded="false">
                                        <span class="panel-title">History</span>
                                        <span class="glyphicon glyphicon-chevron-down chevron-down"></span>
                                    </div>
                                    <div class="panel-body collapse" id="content_his_icare_@idx">
                                        <table class="table table-hover table-condensed icare-content" cellspacing="0">
                                            <colgroup>
                                                <col style="width: 5%;">
                                                <col style="width: 45%;">
                                                <col style="width: 12%;">
                                                <col style="width: 10%;">
                                                <col style="width: 6%;">
                                                <col style="width: 6%;">
                                                <col style="width: 10%;">
                                                <col style="width: 6%;">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Description</th>
                                                    <th>Assignee</th>
                                                    <th>Status</th>
                                                    <th>Start</th>
                                                    <th>Due</th>
                                                    <th>Update</th>
                                                    <th>Attachment</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.historyIcareList.ContainsKey(pKey) && ViewBag.historyIcareList[pKey].TaskList.Count > 0)
                                                {
                                                    m = 0;
                                                    foreach (var history in ViewBag.historyIcareList[pKey].TaskList)
                                                    {
                                                        <tr class="cursor-pointer" data-toggle="collapse" data-data="his-icare-@idx-@m" data-target="#his-icare-@idx-@m"
                                                            data-ikey="@history.Value.IssueKey" data-itype="@history.Value.IssueSubType" aria-expanded="false">
                                                            <td>@(m + 1)</td>
                                                            <td><a href="/Issue/UpdateIssue?issuekey=@history.Key" target="_blank" title="@history.Value.Rule" data-toggle="title">@history.Value.Description</a></td>
                                                            <td>@history.Value.Assignee.Split(new char[] { '@' })[0]</td>
                                                            <td>@history.Value.Status</td>
                                                            <td>@history.Value.StartDate.ToString("MM/dd")</td>
                                                            <td>@history.Value.DueDate.ToString("MM/dd")</td>
                                                            <td>@(history.Value.UpdateTime.ToString("yyyy/MM/dd HH:mm:ss") == "0001/01/01 00:00:00" ? "" : history.Value.UpdateTime.ToString("MM/dd HH:mm"))</td>
                                                            <td>
                                                                @if (history.Value.Attachment.Count > 0)
                                                                {
                                                                    <a href="/Issue/IssueAttach?issuekey=@history.Key" target="_blank"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></a>
                                                                }
                                                            </td>
                                                        </tr>
                                                        m++;
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            @if (icare_flg)
                            {
                                m = 0;
                                <div id="cur_icare_@idx">
                                    <table class="table table-condensed" cellpadding="0">
                                        <colgroup>
                                            <col style="width: 5%;">
                                            <col style="width: 40%;">
                                            <col style="width: 12%;">
                                            <col style="width: 10%;">
                                            <col style="width: 6%;">
                                            <col style="width: 6%;">
                                            <col style="width: 10%;">
                                            <col style="width: 6%;">
                                            <col style="width: 5%;">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Description</th>
                                                <th>Assignee</th>
                                                <th>Status</th>
                                                <th>Start</th>
                                                <th>Due</th>
                                                <th>Update</th>
                                                <th>Attachment</th>
                                                <th>Share</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var task in ViewBag.icareList[pKey].TaskList)
                                            {
                                                var itr_class = "";
                                                if (summarylist != null && summarylist.ContainsKey(task.Key))
                                                {
                                                    itr_class = (summarylist[task.Key][0].Mark == "1") ? "tr-highlight"
                                                                : ((summarylist[task.Key][0].Mark == "2") ? "tr-lowlight" : "");
                                                }
                                                <tr data-data="cur-icare-@idx-@m" class="@itr_class">
                                                    <td>@(m + 1)</td>
                                                    <td><a href="/Issue/UpdateIssue?issuekey=@task.Key" target="_blank" title="@task.Value.Rule" data-toggle="title">@task.Value.Description</a></td>
                                                    <td>@task.Value.Assignee.Split(new char[] { '@' })[0]</td>
                                                    <td>@task.Value.Status</td>
                                                    <td>@task.Value.StartDate.ToString("MM/dd")</td>
                                                    <td>@task.Value.DueDate.ToString("MM/dd")</td>
                                                    <td>@(task.Value.UpdateTime.ToString("yyyy/MM/dd HH:mm:ss") == "0001/01/01 00:00:00" ? "" : task.Value.UpdateTime.ToString("MM/dd HH:mm"))</td>
                                                    <td>
                                                        @if (task.Value.Attachment.Count > 0)
                                                        {
                                                            <a href="/Issue/IssueAttach?issuekey=@task.Key" target="_blank"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></a>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if(task.Value.Assignee == ViewBag.RealUserID
                                                            && task.Value.Status != "Open" && task.Value.Status != "Pending"
                                                            && task.Value.Status != "Working" && task.Value.Status != "ReOpen")
                                                        {
                                                            <span class="glyphicon glyphicon-share-alt ishare" data-id="@task.Key" 
                                                                  title="Share" data-toggle="tooltip"></span>
                                                        }
                                                    </td>
                                                </tr>
                                                <tr class="even" data-ikey="@task.Key">
                                                    <td colspan="9">
                                                        <div class="col-xs-12 summary">Summary:</div>
                                                        @{
                                                            var isummary = "";
                                                            var imark = "0";
                                                            if (summarylist != null && summarylist.ContainsKey(task.Key))
                                                            {
                                                                <table style="width: 100%;">
                                                                @foreach (var item in summarylist[task.Key])
                                                                {
                                                                    if (!string.IsNullOrEmpty(item.Summary))
                                                                    {
                                                                        if (item.UserName.ToUpper() != ViewBag.RealUserID.ToUpper())
                                                                        {
                                                                            <tr class="row well item-summary @((item.Mark == "1") ? "summary-highlight" : ((item.Mark == "2") ? "summary-lowlight" : "summary-normal"))">
                                                                                <td class="col-xs-8">@item.Summary</td>
                                                                                <td class="col-xs-2">@item.UserName.Split(new char[] { '@' })[0]</td>
                                                                                <td class="col-xs-2">@item.UpdateTime</td>
                                                                            </tr>
                                                                        }
                                                                        else
                                                                        {
                                                                            imark = item.Mark;
                                                                            isummary += item.Summary;
                                                                        }
                                                                    }
                                                                }
                                                                </table>
                                                            }
                                                        }
                                                        <div class="col-xs-8">
                                                            <textarea class="form-control" style="height: 35px;" id="cur_icare_summary_@(idx)_@m"
                                                                      name="cur_icare_summary">@Html.Raw(isummary)</textarea>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <select class="form-control" autocomplete="off">
                                                                <option value="0" @(imark == "0" ? "selected" : "")>Normal</option>
                                                                <option value="1" @(imark == "1" ? "selected" : "")>Highlight</option>
                                                                <option value="2" @(imark == "2" ? "selected" : "")>Lowlight</option>
                                                            </select>
                                                        </div>
                                                    </td>
                                                </tr>
                                                m++;
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="wr-operation">
                                    <input type="button" class="btn btn-success op-btn btn-save" data-data-key="@pKey" data-data-module="@Prometheus.Models.SummaryType.ICare" name="btn_save" value="Save" />
                                    <input type="button" class="btn btn-warning op-btn btn-cancel" name="btn_cancel" value="Cancel" />
                                </div>
                            }
                            @if (icare_dt_flg)
                            {
                                <div class="icare-dt">
                                    <span class="label label-danger">Debug Tree</span>
                                </div>
                                <table class="table table-condensed" cellpadding="0">
                                        <thead>
                                            <tr>
                                                <th>Error Code</th>
                                                <th>Short Desc</th>
                                                <th>Increase Count</th>
                                                <th>Attachement</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var val in ViewBag.icareDebugTree[pKey])
                                            {
                                                <tr>
                                                    <td>
                                                        <a href="/Project/UpdateProjectError?ErrorKey=@val.ErrorKey" target="_blank">@val.OrignalCode</a>
                                                        @if (val.CommentList.Count > 0)
                                                        {
                                                            <span class="badge alert-success">C</span>
                                                        }
                                                    </td>
                                                    <td>@val.ShortDesc</td>
                                                    <td>@val.ErrorCount</td>
                                                    <td>
                                                        @if (val.AttachList.Count > 0)
                                                        {
                                                            <a href="/Project/ErrorAttach?ErrorKey=@val.ErrorKey" target="_blank"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></a>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                             }
                        </div>
                    </section>
                }
                @if (ViewBag.setting.Task == 1)
                {
                    <section id="Task-@idx">
                        <div class="bs-callout bs-callout-info @((task_flg && task_update)?"bs-callout-green":((task_flg && !task_update) ? "bs-callout-yellow" :""))" 
                                data-toggle="collapse" data-target="#content_task_@idx" aria-expanded="false">
                            <h4>Task</h4>
                        </div>
                        <div id="content_task_@idx" class="content collapse">
                            <div id="his_task_@idx">
                                <div class="panel panel-default">
                                    <div class="panel-heading cursor-pointer" data-toggle="collapse" data-target="#content_his_task_@idx" aria-expanded="false">
                                        <span class="panel-title">History</span>
                                        <span class="glyphicon glyphicon-chevron-down chevron-down"></span>
                                    </div>
                                    <div class="panel-body collapse" id="content_his_task_@idx">
                                        <table class="table table-hover table-condensed task-content" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Description</th>
                                                    <th>Status</th>
                                                    <th>Start</th>
                                                    <th>Due</th>
                                                    <th>Update</th>
                                                    <th>Attachment</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.historyTaskList.ContainsKey(pKey) && ViewBag.historyTaskList[pKey].TaskList.Count > 0)
                                                {
                                                    m = 0;
                                                    foreach (var history in ViewBag.historyTaskList[pKey].TaskList)
                                                    {
                                                        <tr class="cursor-pointer" data-toggle="collapse" data-data="his-task-@idx-@m" data-target="#his-task-@idx-@m"
                                                            data-ikey="@history.Value.IssueKey" data-itype="@history.Value.IssueSubType" aria-expanded="false">
                                                            <td>@(m + 1)</td>
                                                            <td><a href="/Issue/UpdateIssue?issuekey=@history.Key" target="_blank">@history.Value.Description</a></td>
                                                            <td>@history.Value.Status</td>
                                                            <td>@history.Value.StartDate.ToString("MM/dd")</td>
                                                            <td>@history.Value.DueDate.ToString("MM/dd")</td>
                                                            <td>@(history.Value.UpdateTime.ToString("yyyy/MM/dd HH:mm:ss") == "0001/01/01 00:00:00" ? "" : history.Value.UpdateTime.ToString("MM/dd HH:mm"))</td>
                                                            <td>
                                                                @if (history.Value.Attachment.Count > 0)
                                                                {
                                                                    <a href="/Issue/IssueAttach?issuekey=@history.Key" target="_blank"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></a>
                                                                }
                                                            </td>
                                                        </tr>
                                                        m++;
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            @if (task_flg)
                            {
                                m = 0;
                                <div id="cur_task_@idx">
                                    <table class="table table-condensed" cellpadding="0">
                                        <colgroup>
                                            <col style="width: 5%;">
                                            <col style="width: 40%;">
                                            <col style="width: 10%;">
                                            <col style="width: 6%;">
                                            <col style="width: 6%;">
                                            <col style="width: 6%;">
                                            <col style="width: 10%;">
                                            <col style="width: 12%;">
                                            <col style="width: 5%;" >
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Description</th>
                                                <th>Status</th>
                                                <th>Start</th>
                                                <th>Due</th>
                                                <th>Update</th>
                                                <th>Attachment</th>
                                                <th>Mark</th>
                                                <th>Share</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var task in ViewBag.taskList[pKey].TaskList)
                                            {
                                                var tmark = "0";
                                                if (summarylist != null && summarylist.ContainsKey(task.Key))
                                                {
                                                    tmark = summarylist[task.Key][0].Mark;
                                                }
                                                <tr data-data="cur-task-@idx-@m" class="tr-data @(tmark == "1" ? "tr-highlight" : (tmark == "2" ? "tr-lowlight" : ""))" data-ikey="@task.Key">
                                                    <td>@(m + 1)</td>
                                                    <td><a href="/Issue/UpdateIssue?issuekey=@task.Key" target="_blank">@task.Value.Description</a></td>
                                                    <td>@task.Value.Status</td>
                                                    <td>@task.Value.StartDate.ToString("MM/dd")</td>
                                                    <td>@task.Value.DueDate.ToString("MM/dd")</td>
                                                    <td>@(task.Value.UpdateTime.ToString("yyyy/MM/dd HH:mm:ss") == "0001/01/01 00:00:00" ? "" : task.Value.UpdateTime.ToString("MM/dd HH:mm"))</td>
                                                    <td>
                                                        @if (task.Value.Attachment.Count > 0)
                                                        {
                                                            <a href="/Issue/IssueAttach?issuekey=@task.Key" target="_blank"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></a>
                                                        }
                                                    </td>
                                                    <td>
                                                        <input type="hidden" value="@tmark"/>
                                                        <select class="form-control" autocomplete="off">
                                                            <option value="0" @(tmark == "0" ? "selected" : "")>Normal</option>
                                                            <option value="1" @(tmark == "1" ? "selected" : "")>Highlight</option>
                                                            <option value="2" @(tmark == "2" ? "selected" : "")>Lowlight</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        @if (task.Value.Assignee == ViewBag.RealUserID
                                                            && task.Value.Status != "Open" && task.Value.Status != "Pending"
                                                            && task.Value.Status != "Working" && task.Value.Status != "ReOpen")
                                                        {
                                                            <span class="glyphicon glyphicon-share-alt ishare" data-id="@task.Key"
                                                                  title="Share" data-toggle="tooltip"></span>
                                                        }
                                                    </td>

                                                </tr>
                                                m++;
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="wr-operation">
                                    <input type="button" class="btn btn-success op-btn btn-save" data-data-key="@pKey" data-data-module="@Prometheus.Models.SummaryType.Task" name="btn_save" value="Save" />
                                    <input type="button" class="btn btn-warning op-btn btn-cancel" name="btn_cancel" value="Cancel" />
                                </div>
                            }
                        </div>
                    </section>
                }
                @if (ViewBag.setting.CriticalFailure == 1)
                {
                    <section id="Critical-Failure-Task-@idx">
                        <div class="bs-callout bs-callout-warning @((cri_flg && cri_update)?"bs-callout-green":((cri_flg && !cri_update) ? "bs-callout-yellow" :""))"
                                data-toggle="collapse" data-target="#content_cri_task_@idx" aria-expanded="false">
                            <h4>Critical Failure Task</h4>
                        </div>
                        <div id="content_cri_task_@idx" class="content collapse">
                            <div id="his_critical_task_@idx">
                                <div class="panel panel-default">
                                    <div class="panel-heading cursor-pointer" data-toggle="collapse" data-target="#content_his_cri_task_@idx" aria-expanded="false">
                                        <span class="panel-title">History</span>
                                        <span class="glyphicon glyphicon-chevron-down chevron-down"></span>
                                    </div>
                                    <div class="panel-body collapse" id="content_his_cri_task_@idx">
                                        <table class="table table-hover table-condensed critical-content" id="hiscritaskcontent" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Description</th>
                                                    <th>Status</th>
                                                    <th>Start</th>
                                                    <th>Due</th>
                                                    <th>Update</th>
                                                    <th>Attachment</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.historyCriList.ContainsKey(pKey) && ViewBag.historyCriList[pKey].TaskList.Count > 0)
                                                {
                                                    m = 0;
                                                    foreach (var history in ViewBag.historyCriList[pKey].TaskList)
                                                    {
                                                        <tr class="cursor-pointer" data-toggle="collapse" data-data="his-cri-task-@idx-@m" data-target="#his-cri-task-@idx-@m"
                                                            data-ikey="@history.Value.IssueKey" data-itype="@history.Value.IssueSubType" aria-expanded="false">
                                                            <td>@(m + 1)</td>
                                                            <td><a href="/Issue/UpdateIssue?issuekey=@history.Key" target="_blank" title="@history.Value.Rule" data-toggle="title">@history.Value.Description</a></td>
                                                            <td>@history.Value.Status</td>
                                                            <td>@history.Value.StartDate.ToString("MM/dd")</td>
                                                            <td>@history.Value.DueDate.ToString("MM/dd")</td>
                                                            <td>@(history.Value.UpdateTime.ToString("yyyy/MM/dd HH:mm:ss") == "0001/01/01 00:00:00" ? "" : history.Value.UpdateTime.ToString("MM/dd HH:mm"))</td>
                                                            <td>
                                                                @if (history.Value.Attachment.Count > 0)
                                                                {
                                                                    <a href="/Issue/IssueAttach?issuekey=@history.Key" target="_blank"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></a>
                                                                }
                                                            </td>
                                                        </tr>
                                                        m++;
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            @if (cri_flg)
                            {
                                m = 0;
                                <div id="cur_critical_task_@idx">
                                    <table class="table table-condensed" cellpadding="0">
                                        <colgroup>
                                            <col style="width: 5%;">
                                            <col style="width: 40%;">
                                            <col style="width: 10%;">
                                            <col style="width: 10%;">
                                            <col style="width: 10%;">
                                            <col style="width: 10%;">
                                            <col style="width: 10%;">
                                            <col style="width: 5%;" />
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Description</th>
                                                <th>Status</th>
                                                <th>Start</th>
                                                <th>Due</th>
                                                <th>Update</th>
                                                <th>Attachment</th>
                                                <th>Share</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var task in ViewBag.criticalList[pKey].TaskList)
                                            {
                                                var tr_class = "";
                                                if (summarylist != null && summarylist.ContainsKey(task.Key))
                                                {
                                                    tr_class = (summarylist[task.Key][0].Mark == "1") ? "summary-highlight"
                                                                : ((summarylist[task.Key][0].Mark == "2") ? "summary-lowlight" : "");
                                                }
                                                <tr data-data="cur-cri-task-@idx-@m" class="tr-data @tr_class" data-ikey="@task.Key">
                                                    <td>@(m + 1)</td>
                                                    <td><a href="/Issue/UpdateIssue?issuekey=@task.Key" target="_blank" title="@task.Value.Rule" data-toggle="title">@task.Value.Description</a></td>
                                                    <td>@task.Value.Status</td>
                                                    <td>@task.Value.StartDate.ToString("MM/dd")</td>
                                                    <td>@task.Value.DueDate.ToString("MM/dd")</td>
                                                    <td>@(task.Value.UpdateTime.ToString("yyyy/MM/dd HH:mm:ss") == "0001/01/01 00:00:00" ? "" : task.Value.UpdateTime.ToString("MM/dd HH:mm"))</td>
                                                    <td>
                                                        @if (task.Value.Attachment.Count > 0)
                                                        {
                                                            <a href="/Issue/IssueAttach?issuekey=@task.Key" target="_blank"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></a>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (task.Value.Assignee == ViewBag.RealUserID
                                                            && task.Value.Status != "Open" && task.Value.Status != "Pending"
                                                            && task.Value.Status != "Working" && task.Value.Status != "ReOpen")
                                                        {
                                                            <span class="glyphicon glyphicon-share-alt ishare" data-id="@task.Key"
                                                                  title="Share" data-toggle="tooltip"></span>
                                                        }
                                                    </td>
                                                </tr>
                                                <tr class="even" data-ikey="@task.Key">
                                                    <td colspan="8">
                                                        <div class="col-xs-12 summary">Summary:</div>
                                                        @{
                                                            var csummary = "";
                                                            var cmark = "0";
                                                            if (summarylist != null && summarylist.ContainsKey(task.Key))
                                                            {
                                                                <table style="width: 100%;">
                                                                    @foreach (var item in summarylist[task.Key])
                                                                    {
                                                                        if (!string.IsNullOrEmpty(item.Summary))
                                                                        {
                                                                            if (item.UserName.ToUpper() != ViewBag.RealUserID.ToUpper())
                                                                            {
                                                                                <tr class="row well item-summary @((item.Mark == "1") ? "summary-highlight" : ((item.Mark == "2") ? "summary-lowlight" : "summary-normal"))">
                                                                                    <td class="col-xs-8">@item.Summary</td>
                                                                                    <td class="col-xs-2">@item.UserName.Split(new char[] { '@' })[0]</td>
                                                                                    <td class="col-xs-2">@item.UpdateTime</td>
                                                                                </tr>
                                                                            }
                                                                            else
                                                                            {
                                                                                cmark = item.Mark;
                                                                                csummary += item.Summary;
                                                                            }
                                                                        }
                                                                    }
                                                                </table>
                                                            }
                                                        }
                                                        <div class="col-xs-8">
                                                            <textarea class="form-control" style="height: 35px;" id="cur_icare_summary_@(idx)_@m"
                                                                      name="cur_icare_summary">@Html.Raw(csummary)</textarea>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <select class="form-control" autocomplete="off">
                                                                <option value="0" @(cmark == "0" ? "selected" : "")>Normal</option>
                                                                <option value="1" @(cmark == "1" ? "selected" : "")>Highlight</option>
                                                                <option value="2" @(cmark == "2" ? "selected" : "")>Lowlight</option>
                                                            </select>
                                                        </div>
                                                    </td>
                                                </tr>
                                                m++;
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="wr-operation">
                                    <input type="button" class="btn btn-success op-btn btn-save" data-data-key="@pKey" data-data-module="@Prometheus.Models.SummaryType.CriticalFailure" name="btn_save" value="Save" />
                                    <input type="button" class="btn btn-warning op-btn btn-cancel" name="btn_cancel" value="Cancel" />
                                </div>
                             }
                        </div>
                    </section>
                }
                @if (ViewBag.setting.DebugTree == 1)
                {
                    <section id="DebugTree-@idx">
                        <div class="bs-callout bs-callout-info @(dt_flg?"bs-callout-green":"")" data-toggle="collapse" data-target="#content_dtree_@idx" aria-expanded="false">
                            <h4>Debug Tree</h4>
                        </div>
                        <div id="content_dtree_@idx" class="collapse">
                            @if (ViewBag.DebugTreeList.ContainsKey(pKey) && ViewBag.DebugTreeList[pKey].Count > 0)
                            {
                                <table class="table table-condensed" cellpadding="0">
                                    <thead>
                                        <tr>
                                            <th>Error Code</th>
                                            <th>Short Desc</th>
                                            <th>Increase Count</th>
                                            <th>Attachement</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var val in ViewBag.DebugTreeList[pKey])
                                        {
                                            <tr>
                                                <td>
                                                    <a href="/Project/UpdateProjectError?ErrorKey=@val.ErrorKey" target="_blank">@val.OrignalCode</a>
                                                    @if (val.CommentList.Count > 0)
                                                    {
                                                        <span class="badge alert-success">C</span>
                                                    }
                                                </td>
                                                <td>@val.ShortDesc</td>
                                                <td>@val.ErrorCount</td>
                                                <td>
                                                    @if (val.AttachList.Count > 0)
                                                    {
                                                        <a href="/Project/ErrorAttach?ErrorKey=@val.ErrorKey" target="_blank"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                    </section>
                }
                @if (ViewBag.setting.RMA == 1)
                {
                    <section id="RMA-@idx">
                        <div class="bs-callout bs-callout-danger @((rma_flg && rma_update)?"bs-callout-green":((rma_flg && !rma_update) ? "bs-callout-yellow" :""))"
                                data-toggle="collapse" data-target="#content_rma_task_@idx" aria-expanded="false">
                            <h4>RMA</h4>
                        </div>
                        <div id="content_rma_task_@idx" class="content collapse">
                            <div id="his_rma_task_@idx">
                                <div class="panel panel-default">
                                    <div class="panel-heading cursor-pointer" data-toggle="collapse" data-target="#content_his_rma_task_@idx" aria-expanded="false">
                                        <span class="panel-title">History</span>
                                        <span class="glyphicon glyphicon-chevron-down chevron-down"></span>
                                    </div>
                                    <div class="panel-body collapse" id="content_his_rma_task_@idx">
                                        <table class="table table-hover table-condensed task-content" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Description</th>
                                                    <th>Status</th>
                                                    <th>Start</th>
                                                    <th>Due</th>
                                                    <th>Updates</th>
                                                    <th>Attachment</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.historyRMAList.ContainsKey(pKey) && ViewBag.historyRMAList[pKey].TaskList.Count > 0)
                                                {
                                                    m = 0;
                                                    foreach (var history in ViewBag.historyRMAList[pKey].TaskList)
                                                    {
                                                        <tr class="cursor-pointer" data-toggle="collapse" data-data="his-rma-task-@idx-@m" data-target="#his-rma-task-@idx-@m"
                                                            data-ikey="@history.Value.IssueKey" data-itype="@history.Value.IssueSubType" aria-expanded="false">
                                                            <td>@(m + 1)</td>
                                                            <td><a href="/Issue/UpdateIssue?issuekey=@history.Key" target="_blank">@history.Value.Description</a></td>
                                                            <td>@history.Value.Status</td>
                                                            <td>@history.Value.StartDate.ToString("MM/dd")</td>
                                                            <td>@history.Value.DueDate.ToString("MM/dd")</td>
                                                            <td>@(history.Value.UpdateTime.ToString("yyyy/MM/dd HH:mm:ss") == "0001/01/01 00:00:00" ? "" : history.Value.UpdateTime.ToString("MM/dd HH:mm"))</td>
                                                            <td>
                                                                @if (history.Value.Attachment.Count > 0)
                                                                {
                                                                    <a href="/Issue/IssueAttach?issuekey=@history.Key" target="_blank"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></a>
                                                                }
                                                            </td>
                                                        </tr>
                                                        m++;
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            @if (rma_flg)
                            {
                                m = 0;
                                <div id="cur_rma_task_@idx">
                                    <table class="table table-condensed" cellpadding="0">
                                        <colgroup>
                                            <col style="width: 5%;">
                                            <col style="width: 40%;">
                                            <col style="width: 10%;">
                                            <col style="width: 6%;">
                                            <col style="width: 6%;">
                                            <col style="width: 6%;">
                                            <col style="width: 10%;">
                                            <col style="width: 12%;">
                                            <col style="width: 5%;">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Description</th>
                                                <th>Status</th>
                                                <th>Start</th>
                                                <th>Due</th>
                                                <th>Update</th>
                                                <th>Attachment</th>
                                                <th>Mark</th>
                                                <th>Share</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var task in ViewBag.RMAList[pKey].TaskList)
                                            {
                                                var rmark = "0";
                                                if (summarylist != null && summarylist.ContainsKey(task.Key))
                                                {
                                                    rmark = summarylist[task.Key][0].Mark;
                                                }
                                                <tr data-data="cur-rma-task-@idx-@m" class="tr-data @(rmark == "1" ? "tr-highlight" : (rmark == "2" ? "tr-lowlight" : ""))" data-ikey="@task.Key">
                                                    <td>@(m + 1)</td>
                                                    <td><a href="/Issue/UpdateIssue?issuekey=@task.Key" target="_blank">@task.Value.Description</a></td>
                                                    <td>@task.Value.Status</td>
                                                    <td>@task.Value.StartDate.ToString("MM/dd")</td>
                                                    <td>@task.Value.DueDate.ToString("MM/dd")</td>
                                                    <td>@(task.Value.UpdateTime.ToString("yyyy/MM/dd HH:mm:ss") == "0001/01/01 00:00:00" ? "" : task.Value.UpdateTime.ToString("MM/dd HH:mm"))</td>
                                                    <td>
                                                        @if (task.Value.Attachment.Count > 0)
                                                        {
                                                            <a href="/Issue/IssueAttach?issuekey=@task.Key" target="_blank"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></a>
                                                        }
                                                    </td>
                                                    <td>
                                                        <input type="hidden" value="@rmark" />
                                                        <select class="form-control" autocomplete="off">
                                                            <option value="0" @(rmark == "0" ? "selected" : "")>Normal</option>
                                                            <option value="1" @(rmark == "1" ? "selected" : "")>Highlight</option>
                                                            <option value="2" @(rmark == "2" ? "selected" : "")>Lowlight</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        @if (task.Value.Assignee == ViewBag.RealUserID
                                                            && task.Value.Status != "Open" && task.Value.Status != "Pending"
                                                            && task.Value.Status != "Working" && task.Value.Status != "ReOpen")
                                                        {
                                                            <span class="glyphicon glyphicon-share-alt ishare" data-id="@task.Key"
                                                                  title="Share" data-toggle="tooltip"></span>
                                                        }
                                                    </td>

                                                </tr>
                                                m++;
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="wr-operation">
                                    <input type="button" class="btn btn-success op-btn btn-save" data-data-key="@pKey" data-data-module="@Prometheus.Models.SummaryType.RMA" name="btn_save" value="Save" />
                                    <input type="button" class="btn btn-warning op-btn btn-cancel" name="btn_cancel" value="Cancel" />
                                </div>
                             }
                        </div>
                    </section>
                }
                @if (ViewBag.setting.Others == 1)
                {
                    <section id="Others-@idx">
                        <div class="bs-callout bs-callout-warning @(others_update ? "bs-callout-green" : "")" data-toggle="collapse" data-target="#content_others_@idx" aria-expanded="false">
                            <h4>Others</h4>
                        </div>
                        <div id="content_others_@idx" class="content collapse">
                            @{
                                var osummary = "";
                                if (others_update)
                                {
                                    foreach (var item in summarylist["@@" + Prometheus.Models.SummaryType.Others])
                                    {
                                        if (item.UserName.ToUpper() != ViewBag.RealUserID.ToUpper())
                                        {
                                            <div class="row well item-summary summary-normal">
                                                <span class="col-xs-5">@item.Summary</span>
                                                <span class="col-xs-3">@item.UserName.Split(new char[] { '@' })[0]</span>
                                                <span class="col-xs-4">@item.UpdateTime</span>
                                            </div>
                                        }
                                        else
                                        {
                                            osummary += item.Summary;
                                        }
                                    }
                                }
                            }
                            <div class="col-xs-12">
                                <textarea class="form-control" style="height: 70px;" id="other_summary_@idx"
                                          name="cur_rma_task_summary">@Html.Raw(osummary)</textarea>
                            </div>
                            <div class="wr-operation">
                                <input type="button" class="btn btn-success op-btn btn-save" data-data-key="@pKey" data-data-module="@Prometheus.Models.SummaryType.Others" name="btn_save" value="Save" />
                                <input type="button" class="btn btn-warning op-btn btn-cancel" name="btn_cancel" value="Cancel" />
                            </div>
                        </div>
                    </section>
                }
            </div>
            idx++;
        }
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal_wr_setting">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Weely Report Setting</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-4">
                        <input type="checkbox" id="modal_yield" @(ViewBag.setting.Yield == 1 ? "checked" : "") />
                        <span>Yield</span>
                    </div>
                    <div class="col-xs-4">
                        <input type="checkbox" id="modal_icare" @(ViewBag.setting.ICare == 1 ? "checked" : "") />
                        <span>ICare</span>
                    </div>
                    <div class="col-xs-4">
                        <input type="checkbox" id="modal_task" @(ViewBag.setting.Task == 1 ? "checked" : "") />
                        <span>Task</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <input type="checkbox" id="modal_criticalfailure" @(ViewBag.setting.CriticalFailure == 1 ? "checked" : "") />
                        <span>Critical Failure Task</span>
                    </div>
                    <div class="col-xs-4">
                        <input type="checkbox" id="modal_rma" @(ViewBag.setting.RMA == 1 ? "checked" : "") />
                        <span>RMA</span>
                    </div>
                    <div class="col-xs-4">
                        <input type="checkbox" id="modal_debugtree" @(ViewBag.setting.DebugTree == 1 ? "checked" : "") />
                        <span>DebugTree</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <input type="checkbox" id="modal_others" @(ViewBag.setting.Others == 1 ? "checked" : "") />
                        <span>Others</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save_setting">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
    $(function () {
        WeeklyReport.init();
    })
    $(document).ready(function () {
        $('.icare-content, .task-content, .critical-content').DataTable({
            'iDisplayLength': 5,
            'aLengthMenu': [[5, 25, 50, 100, -1],
            [5, 25, 50, 100, "All"]],
            "bAutoWidth": false,
            "aaSorting": [],
            "order": [],
            dom: 'lBfrtip',
            buttons: ['copyHtml5', 'csv', 'excelHtml5']
        });
    })
</script>
