
@{
    ViewBag.Title = "GroupList";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<link href="~/Content/UserPermission.css" rel="stylesheet" />
<link href="~/Scripts/jquery-autocomplete/jquery.auto-complete.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-autocomplete/jquery.auto-complete.min.js" type="text/javascript"></script>
<script src="~/Scripts/permission.js" type="text/javascript"></script>
<script>
    $(function () {
        UserPermission.grouplist();
    })
</script>
<div class="row">
    <div class="col-sm-2">
        <nav class="nav-sidebar">
            <ul class="nav">
                <li><a href="/Permission/ApplyForPermission">Apply For Permission</a></li>
                <li><a href="/Permission/PermissionRequest">Permission Request</a></li>
                <li><a href="/Permission/MemberList">Members</a></li>
                <li class="active"><a href="/Permission/GroupList">Groups</a></li>
                <li><a href="/Permission/RoleList">Roles</a></li>
                <li><a href="/Permission/Menus">Menus</a></li>
                <li><a href="/Permission/Functions">Functions</a></li>
                <li><a href="/Permission/Operations">Operation</a></li>
                @*<li class="nav-divider"></li>*@
            </ul>
        </nav>
    </div>
    <div class="col-sm-10">
        <div class="row">
            <div class="nav navbar-nav navbar-left">
                <ol class="breadcrumb">
                    <li><a href="javascript:;">Permission</a></li>
                    <li class="active">Groups</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="m-op m-row">
                <input type="button" class="btn btn-success" id="btn-add-group" name="btn-add-group" value="Add Group" />
            </div>
            <div class="m-content">
                <table class="table table-condensed">
                    <caption>
                        <div class="col-xs-4 tb-total">
                            <span>Total: @ViewBag.TotalCnt</span>
                        </div>
                        <div class="search-container col-xs-4">
                            <div class="input-group">
                                <input type="text" class="form-control" id="tb-search" name="tb-search" placeholder="Search Keys" value="@ViewBag.Keywords" />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-search" id="g-btn-search"></span></span>
                            </div>
                        </div>
                    </caption>
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Group Name</th>
                            <th>Comment</th>
                            <th>Members</th>
                            <th>Operation</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.GroupList != null)
                        {
                            foreach (var item in ViewBag.GroupList)
                            {
                                <tr id="@item.ID">
                                    <td>@item.ID</td>
                                    <td>@item.Name</td>
                                    <td>@item.Comment</td>
                                    <td><a data-id="@item.ID" class="edit-gmember">@item.Members</a></td>
                                    <td>
                                        <a data-id="@item.ID" class="edit-group">Edit | </a>
                                        <a data-id="@item.ID" class="edit-gmember">Edit Members | </a>
                                        <a data-id="@item.ID" class="edit-grole">Edit Roles | </a>
                                        <a data-id="@item.ID" class="del-group">Delete</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                @Html.Partial("~/Views/Shared/_Pagination.cshtml")
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-add-group" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="m-title">Add Group</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="m-gid" name="m-gid" />
                <div class="row m-row">
                    <label class="col-xs-3">Group Name</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" id="modal-gname" name="modal-gname" />
                    </div>
                </div>
                <div class="row m-row">
                    <label class="col-xs-3">Comment</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" id="modal-comment" name="modal-comment" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="m-btn-submit">Submit</button>
            </div>
        </div>
    </div>
</div>
<div id="modal-edit-member" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="eg-title">Edit Group Member</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="eg-gid" name="eg-gid" />
                <div class="row m-row">
                    <label class="col-xs-3">All Members</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control autocomplete-input" id="eg-memlist" name="eg-memlist"  autocomplete="off" placeholder="Please enter Member's Name." />
                    </div>
                </div>
                <div class="row m-row">
                    <label class="col-xs-3">Group Members</label>
                    <div class="col-xs-9 group-members">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="eg-btn-submit">Save</button>
            </div>
        </div>
    </div>
</div>
<div id="modal-edit-role" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="er-title">Edit Role</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="er-gid" name="er-gid" />
                <div class="row m-row">
                    <label class="col-xs-3">All Roles</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control autocomplete-input" id="er-rolelist" name="er-rolelist" autocomplete="off" placeholder="Please enter Role Name." />
                    </div>
                </div>
                <div class="row m-row">
                    <label class="col-xs-3">Group Roles</label>
                    <div class="col-xs-9 group-roles">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="er-btn-submit">Save</button>
            </div>
        </div>
    </div>
</div>