
@{
    ViewBag.Title = "PermissionRequest";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<link href="~/Content/UserPermission.css" rel="stylesheet" />
<script src="~/Scripts/permission.js" type="text/javascript"></script>
<script>
    $(function () {
        UserPermission.permissionrequest();
    })
</script>
<div class="row">
    <div class="col-xs-2">
        <nav class="nav-sidebar">
            <ul class="nav">
                @if(ViewBag.MenuList.Count > 0)
                {
                    foreach(var item in ViewBag.MenuList)
                    {
                        <li class="@(ViewBag.CurrentMenu != null && ViewBag.CurrentMenu == item.MenuID ? "active":"")"><a href="@item.MenuUrl">@item.MenuName</a></li>
                    }
                }
            </ul>
        </nav>
    </div>
    <div class="col-xs-10">
        <div class="row">
            <div class="nav navbar-nav navbar-left">
                <ol class="breadcrumb">
                    <li><a href="javascript:;">Permission</a></li>
                    <li class="active">Apply For Permission</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <table class="datatable table table-striped table-hover">
                <caption>
                    <div class="col-xs-4 tb-total">
                        <span>Total: @ViewBag.TotalCnt</span>
                    </div>
                    <div class="search-container col-xs-4">
                        <div class="input-group">
                            <input type="text" class="form-control" id="tb-search" name="tb-search" placeholder="Search Keys" value="@ViewBag.Keywords" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-search" id="m-btn-search"></span></span>
                        </div>
                    </div>
                </caption>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Requester</th>
                        <th>Menu</th>
                        <th>Function</th>
                        <th>Operation</th>
                        <th>RequestDate</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.Data != null)
                    {
                        var idx = 1;
                        foreach (var item in ViewBag.Data)
                        {
                            <tr>
                                <td>@idx</td>
                                <td>@item.UserName</td>
                                <td>@item.MenuName</td>
                                <td>@item.FunctionName</td>
                                <td>@item.OperationName</td>
                                <td>@item.CreateAt</td>
                                <td>@(Prometheus.Models.PermissionRequestStatus.Msg[item.Status])</td>
                                <td>
                                    @if(item.Status == Prometheus.Models.PermissionRequestStatus.Pending)
                                    {
                                        if (ViewBag.Approve_Flg)
                                        { 
                                            <a data-id="@item.ID" class="upr-approve">Approve</a>
                                        }
                                        if (ViewBag.Deny_Flg)
                                        {
                                            <a data-id="@item.ID" class="upr-deny">Deny</a>
                                        }
                                    }
                                    @if (ViewBag.Complete_Flg && item.Status == Prometheus.Models.PermissionRequestStatus.Approved)
                                    {
                                        <a data-id="@item.ID" class="upr-complete">Complete</a>
                                    }
                                </td>
                            </tr>
                            idx++;
                        }
                    }
                </tbody>
            </table>
            @Html.Partial("~/Views/Shared/_Pagination.cshtml")
        </div>
    </div>
</div>
