@model IEnumerable<Prometheus.Models.ProjectErrorViewModels>

@{
    ViewBag.Title = "BIError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.pjkey != null)
{
    <div class="row">
        <div class="col-xs-3">
            <h2>BURN-IN Debug Tree</h2>
        </div>
        <div class="col-xs-2">
            <h2><a data-toggle="tooltip" title="Goto Burn-In Main Page" href="/BurnIn/BurnInMainPage?ProjectKey=@(ViewBag.pjkey)"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a></h2>
        </div>
        <div class="col-xs-7"></div>
    </div>
}
else
{
    <div class="row">
        <div class="col-xs-3">
            <h2>BURN-IN Debug Tree</h2>
        </div>
        <div class="col-xs-2">
        </div>
        <div class="col-xs-7"></div>
    </div>
}

<hr />

<script src="~/Scripts/highcharts.js"></script>
<script src="~/Scripts/exporting.js"></script>

@if (ViewBag.chartscript != null)
{
    @Html.Raw(ViewBag.chartscript)

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Failure</h3>
                </div>
                <div class="panel-body">
                    <div class="col-xs-12">
                        <div id="failurepie" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<hr/>

@if (ViewBag.sumvm != null && ViewBag.sumvm.Count > 0)
{
    <div class="row">
        <div class="col-xs-6">
            <table class="table table-hover">
                <thead>
                    <tr class="active">
                        <th class="text-center">Error Code</th>
                        <th class="text-center">Count</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.sumvm)
                    {
                        <tr class="success">
                            <td class="text-center">@item.OrignalCode</td>
                            <td class="text-center">@item.ErrorCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-xs-6"></div>
    </div>
}

<hr />

@if (Model != null)
{
    <div class="row">
        <div class="col-xs-2 text-center">Error Code</div>
        <div class="col-xs-3 text-center">Short Desc</div>
        <div class="col-xs-2 text-center">Count</div>
        <div class="col-xs-1 text-center">Attachement</div>
        <div class="col-xs-1 text-center"></div>
        <div class="col-xs-3 text-center"></div>
    </div>

    <hr />

    foreach (var item in Model)
    {
        <div class="row">
            <div class="col-xs-2 text-center">
                @if (item.CommentList.Count > 0)
                {<span class="badge alert-success">C</span>}<a href="/BurnIn/UpdateBIError?ErrorKey=@item.ErrorKey">@item.OrignalCode</a>
            </div>
            <div class="col-xs-3 text-center">@item.ShortDesc</div>
            <div class="col-xs-2 text-center">@item.ErrorCount</div>
            @if (item.AttachList.Count > 0)
            {
                <div class="col-xs-1 text-center"><a href="/BurnIn/ErrorAttach?ErrorKey=@item.ErrorKey" target="_blank"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></a></div>
            }
            else
            {
                <div class="col-xs-1 text-center"></div>
            }
            <div class="col-xs-1 text-center"></div>
            <div class="col-xs-3 text-center"></div>
        </div>
        <hr />
    }
}
