
@model Prometheus.Models.ProjectViewModels

@{
    ViewBag.Title = "Create Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Project</h2>
@Html.Raw(string.IsNullOrEmpty(ViewBag.CreateError) ? "&nbsp;" : ViewBag.CreateError)
@if (!string.IsNullOrEmpty(ViewBag.CreateError))
{
    ViewBag.CreateError = "";
}

<script src="../../ckeditor/ckeditor.js"></script>

@using (Html.BeginForm("CreateProject","Project",FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <ul class="nav nav-pills nav-stacked col-md-2">
            <li class="active"><a href="#tab_a" data-toggle="pill">Base Info</a></li>
            <li><a href="#tab_b" data-toggle="pill">MES Bonding</a></li>
        </ul>
        <div class="tab-content col-md-10">
            <div class="tab-pane active" id="tab_a">

                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.Label("     ")
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.ProjectName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <script type="text/javascript">
                    $(document).ready(function () {
                        $("#StartDate").datepicker({
                            changeMonth: true,
                            changeYear: true,
                            dateFormat: 'yy-mm-dd'
                        });
                    });
                        </script>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.PM, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10" data-toggle="tooltip" data-placement="bottom" title="Exampel: brad@finisar.com:john@finisar.com.....">
                                @Html.EditorFor(model => model.PM, new { htmlAttributes = new { @class = "form-control" } }) EMAIL ADDRESS:EMAIL ADDRESS....
                                @Html.ValidationMessageFor(model => model.PM, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            @Html.LabelFor(model => model.Engineers, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10" data-toggle="tooltip" data-placement="bottom" title="Exampel: brad@finisar.com:john@finisar.com.....">
                                @Html.EditorFor(model => model.Engineers, new { htmlAttributes = new { @class = "form-control" } }) EMAIL ADDRESS:EMAIL ADDRESS....
                                @Html.ValidationMessageFor(model => model.Engineers, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        @Html.Label("Description")
                    </div>

                    <div class="form-group">
                        <div>
                            <textarea name="editor1" id="editor1" rows="10" cols="80"></textarea>
                            <script>
                            CKEDITOR.replace('editor1', { htmlEncodeOutput: true, filebrowserImageUploadUrl: '/userfiles/Upload.ashx' });
                            </script>
                        </div>
                    </div>

                </div>

            </div>

            <div class="tab-pane" id="tab_b">
                
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label col-md-3">Upload MESConfig.ini</label>
                        <div class="col-md-9">
                            <input type="file" name="files" id="file1"/>
                        </div>
                    </div>
                 </div>
               
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label col-md-1" for="sql1">SQL</label>
                        <div class="col-md-11">
                            <input class="form-control text-box single-line" id="sql1" name="sql1" type="text" value="" />
                        </div>
                    </div>

                    </div>
                </div>

        </div>
    </div>
 
        <div class="form-group">
            <div>
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>

}
