@model Prometheus.Models.ProjectViewModels

@{
    ViewBag.Title = "EditProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    function chooserelatedpeople(id) {
        document.getElementById('towhoinput').value = document.getElementById(id).value;
        $("#input_id").val(id);
        $('#relatedmodal').modal({ backdrop: 'static' });
    }

    function fillreleatepeople() {
        $('#relatedmodal').modal('hide');
        var id = $("#input_id").val();
        document.getElementById(id).value = document.getElementById('towhoinput').value;
        document.getElementById(id).focus();
    }

</script>
<div class="row">
    <div class="col-xs-12">
        <ol class="breadcrumb">
            <li><a data-toggle="tooltip" title="Goto ViewAll" href="/Project/ViewAll">All Projects</a></li>
            @if (Model != null)
            {
                <li><a data-toggle="tooltip" title="Goto Project Detail" href="/Project/ProjectDetail?ProjectKey=@(Model.ProjectKey)">Project Detail</a></li>
            }
            @if (Model != null)
            {
                <li class="active">Edit @(Model.ProjectKey) Project</li>
            }
            else
            {
                <li class="active">Edit Project</li>
            }
        </ol>
    </div>
</div>

@Html.Raw(string.IsNullOrEmpty(ViewBag.CreateError) ? "&nbsp;" : ViewBag.CreateError)
@if (!string.IsNullOrEmpty(ViewBag.CreateError))
{
    ViewBag.CreateError = "";
}

<script src="../../ckeditor/ckeditor.js"></script>

@using (Html.BeginForm("EditProject", "Project", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col-xs-2" MYTP="orange">
            <strong class="pro-info">Information</strong>
        </div>
        <div class="col-xs-10">
            <div class="row form-group">
                <div class="col-xs-6">
                    <label class="control-label col-xs-3" for="ProjectName">Project<font color="red">*</font></label>
                    <div class="col-xs-8">
                        @if (Model != null && !string.IsNullOrEmpty(Model.ProjectName))
                        {
                            <input class="form-control text-box single-line" value="@Model.ProjectName" readonly="readonly" data-val="true" data-val-length="The field Project must be a string with a minimum length of 2 and a maximum length of 100." data-val-length-max="100" data-val-length-min="2" data-val-regex="The field should not contain \'" data-val-regex-pattern="^(?!.*&#39;).*$" data-val-required="The Project field is required." id="ProjectName" name="ProjectName" type="text" />
                        }
                    </div>
                </div>
                <div class="col-xs-6">
                    <label class="control-label col-xs-4" for="StartDate">StartDate<font color="red">*</font></label>
                    <div class="col-xs-8">
                        @if (Model != null && !string.IsNullOrEmpty(Model.StartDate.ToString()))
                        {
                            <input class="form-control text-box single-line" value="@Model.StartDate.ToString("yyyy-MM-dd")" readonly="readonly" data-val="true" data-val-required="The StartDate field is required." id="StartDate" name="StartDate" type="text" />
                        }
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-6">
                    <label class="control-label col-xs-3">Project Type</label>
                    <div class="col-xs-8">
                        @Html.DropDownList("projecttypelist", null, new { @id = "projecttypelist", @class = "form-control" })
                    </div>
                </div>
                <div class="col-xs-6">
                    <label class="control-label col-xs-4">Update MES Data</label>
                    <div class="col-xs-8">
                        @Html.DropDownList("updateissuelist", null, new { @id = "updateissuelist", @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label pm-width">PM<font color="red">*</font></label>
                <div class="col-xs-10">
                    <div data-toggle="tooltip" data-placement="center" title="Exampel: Email Address; Email Address;Email Address;...">
                        <textarea class="form-control pm-textarea-width" name="PMAddr" id="PMAddr" 
                            onclick="chooserelatedpeople('PMAddr')" data-val="true" 
                                data-val-length="The field must be a string with a minimum length of 6 and a maximum length of 800." data-val-length-max="800" data-val-length-min="6" data-val-regex="The field should not contain \'" 
                                    data-val-regex-pattern="^(?!.*&#39;).*$">@((Model != null && !string.IsNullOrEmpty(Model.PMListStr)) ? Model.PMListStr : "")</textarea>

                    </div>
                    <span class="field-validation-valid text-danger" data-valmsg-for="PMAddr" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-6">
                    <label class="control-label col-xs-3">Engineer<font color="red">*</font></label>
                    <div class="col-xs-8">
                        <div data-toggle="tooltip" data-placement="center" title="Exampel: Email Address; Email Address;Email Address;...">
                            @if (Model != null && !string.IsNullOrEmpty(Model.EngListStr))
                            {
                                <textarea class="form-control" name="ENGAddr" id="ENGAddr" onclick="chooserelatedpeople('ENGAddr')" rows="2" data-val="true" data-val-length="The field must be a string with a minimum length of 6 and a maximum length of 800." data-val-length-max="800" data-val-length-min="6" data-val-regex="The field should not contain \'" data-val-regex-pattern="^(?!.*&#39;).*$">@Model.EngListStr</textarea>
                            }
                            else
                            {
                                <textarea class="form-control" name="ENGAddr" id="ENGAddr" onclick="chooserelatedpeople('ENGAddr')" rows="2" data-val="true" data-val-length="The field must be a string with a minimum length of 6 and a maximum length of 800." data-val-length-max="800" data-val-length-min="6" data-val-regex="The field should not contain \'" data-val-regex-pattern="^(?!.*&#39;).*$"></textarea>
                            }
                        </div>
                        <span class="field-validation-valid text-danger" data-valmsg-for="ENGAddr" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="col-xs-6">
                    <label class="control-label col-xs-4">Product Engineer</label>
                    <div class="col-xs-8">
                        <div data-toggle="tooltip" data-placement="center" title="Exampel: Email Address; Email Address;Email Address;...">
                            @if (Model != null && !string.IsNullOrEmpty(Model.PMListStr))
                            {
                                <textarea class="form-control" name="PEAddr" id="PEAddr" onclick="chooserelatedpeople('PEAddr')" rows="2" data-val="true" data-val-length="The field must be a string with a minimum length of 6 and a maximum length of 800." data-val-length-max="800" data-val-length-min="6" data-val-regex="The field should not contain \'" data-val-regex-pattern="^(?!.*&#39;).*$">@Model.PeListStr</textarea>
                            }
                            else
                            {
                                <textarea class="form-control" name="PEAddr" id="PEAddr" onclick="chooserelatedpeople('PEAddr')" rows="2" data-val="true" data-val-length="The field must be a string with a minimum length of 6 and a maximum length of 800." data-val-length-max="800" data-val-length-min="6" data-val-regex="The field should not contain \'" data-val-regex-pattern="^(?!.*&#39;).*$"></textarea>
                            }
                        </div>
                        <span class="field-validation-valid text-danger" data-valmsg-for="PEAddr" data-valmsg-replace="true"></span>
                    </div>
                </div>
            </div>
            <div class="row form-froup">
                <div class="col-xs-6">
                    <label class="control-label col-xs-3">Manufacturer Engineer</label>
                    <div class="col-xs-8">
                        <div data-toggle="tooltip" data-placement="center" title="Exampel: Email Address; Email Address;Email Address;...">
                            @if (Model != null && !string.IsNullOrEmpty(Model.EngListStr))
                            {
                                <textarea class="form-control" name="MEAddr" id="MEAddr" onclick="chooserelatedpeople('MEAddr')" rows="2" data-val="true" data-val-length="The field must be a string with a minimum length of 6 and a maximum length of 800." data-val-length-max="800" data-val-length-min="6" data-val-regex="The field should not contain \'" data-val-regex-pattern="^(?!.*&#39;).*$">@Model.MeListStr</textarea>
                            }
                            else
                            {
                                <textarea class="form-control" name="MEAddr" id="MEAddr" onclick="chooserelatedpeople('MEAddr')" rows="2" data-val="true" data-val-length="The field must be a string with a minimum length of 6 and a maximum length of 800." data-val-length-max="800" data-val-length-min="6" data-val-regex="The field should not contain \'" data-val-regex-pattern="^(?!.*&#39;).*$"></textarea>
                            }
                        </div>
                        <span class="field-validation-valid text-danger" data-valmsg-for="MEAddr" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="col-xs-6">
                    <label class="control-label col-xs-4">Product Quality Engineer</label>
                    <div class="col-xs-8">
                        <div data-toggle="tooltip" data-placement="center" title="Exampel: Email Address; Email Address;Email Address;...">
                            @if (Model != null && !string.IsNullOrEmpty(Model.EngListStr))
                            {
                                <textarea class="form-control" name="PQEAddr" id="PQEAddr" onclick="chooserelatedpeople('PQEAddr')" rows="2" data-val="true" data-val-length="The field must be a string with a minimum length of 6 and a maximum length of 800." data-val-length-max="800" data-val-length-min="6" data-val-regex="The field should not contain \'" data-val-regex-pattern="^(?!.*&#39;).*$">@Model.PqeListStr</textarea>
                            }
                            else
                            {
                                <textarea class="form-control" name="PQEAddr" id="PQEAddr" onclick="chooserelatedpeople('PQEAddr')" rows="2" data-val="true" data-val-length="The field must be a string with a minimum length of 6 and a maximum length of 800." data-val-length-max="800" data-val-length-min="6" data-val-regex="The field should not contain \'" data-val-regex-pattern="^(?!.*&#39;).*$"></textarea>
                            }
                        </div>
                        <span class="field-validation-valid text-danger" data-valmsg-for="PQEAddr" data-valmsg-replace="true"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr style="border-color:#006DC0;" />

    <div class="row">
        <div  MYTP="red"  class="row" style="margin-left:3px">
            <div class="col-xs-12">
                <a data-toggle="collapse" href="#commentinput" aria-expanded="false" aria-controls="collapseExample" style="font-size:18px;font-family:'Arial Narrow';">
                    <font color="black"><strong>&nbsp;&nbsp;Description<font color="red">*</font></strong></font>&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/Content/images/icon/extend.png" style="height:25px; width:14px">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">&nbsp;</div>
        </div>
        <div class="row" style="margin-left:10px">
            <div class="collapse" id="commentinput">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-1"></div>
                        <div class="col-xs-10">
                            <div class="form-group">
                                <div>
                                    @if (Model != null && !string.IsNullOrEmpty(Model.Description))
                                    {
                                        <textarea name="editor1" id="editor1" rows="10" cols="80">@Model.Description</textarea>
                                    }
                                    else
                                    {
                                        <textarea name="editor1" id="editor1" rows="10" cols="80"></textarea>
                                    }

                                    <script>
                                                     CKEDITOR.replace('editor1', { extraPlugins: 'image2', htmlEncodeOutput: true, skin: 'moono-lisa' });
                                    </script>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="col-xs-4">
                                            <span class="btn btn-default btn-file" id="choosefile6">
                                                Editor Attachment <input type="file" name="file6" id="file6" runat="server" onchange="ShowFileNames6(this)" />
                                            </span>
                                        </div>
                                        <div class="col-xs-1"></div>
                                        <div class="col-xs-1">@*<button class="form-control" type="button" data-toggle="tooltip" title="Save User Info" onclick="SaveUserContent()"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span></button>*@</div>
                                        <div class="col-xs-1">@*<button class="form-control" type="button" data-toggle="tooltip" title="Retrieve User Info" onclick="UserCacheContent()"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></button>*@</div>
                                        <div class="col-xs-5"></div>
                                    </div>
                                    <script type="text/javascript">
                                            function ShowFileNames6(oFile) {
                                                ajaxFileUpload();
                                            }
                                            function ajaxFileUpload() {
                                                $.ajaxFileUpload
                                                (
                                                    {
                                                        url: '/userfiles/ImageUpload.ashx',
                                                        secureuri: false,
                                                        fileElementId: 'file6',
                                                        dataType: 'HTML',
                                                        success: function (data, status)
                                                        {
                                                            var wholeval = CKEDITOR.instances.editor1.getData() + data;
                                                            CKEDITOR.instances.editor1.setData(wholeval);
                                                        },
                                                        error: function (e)
                                                        {
                                                            alert(e);
                                                        }
                                                    }
                                                )
                                                return false;
                                            }
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr style="border-color:#006DC0;" />

    <div class="row">
        <div  MYTP="orange"  class="row" style="margin-left:3px">
            <div class="col-xs-12">
                <a data-toggle="collapse" href="#mesbonding" aria-expanded="false" aria-controls="collapseExample" style="font-size:18px;font-family:'Arial Narrow';">
                    <font color="black"><strong>&nbsp;&nbsp;MES Bonding</strong></font>&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/Content/images/icon/extend.png" style="height:25px; width:14px">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">&nbsp;</div>
        </div>
        <div class="row" style="margin-left:10px">
            <div class="collapse" id="mesbonding">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-1"></div>
                        <div class="col-xs-11">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <span class="btn btn-default btn-file" id="choosefile">
                                            Upload MESConfig.ini <input type="file" name="files" id="file1" runat="server" onchange="ShowFileNames(this)" />
                                        </span>
                                    </div>
                                    <div class="col-xs-8">
                                        <label class="control-label" id="showfilename" name="showfilename"></label>
                                    </div>
                                    <script type="text/javascript">
                                        function ShowFileNames(oFile) {
                                            $('#showfilename').text(oFile.value);
                                        }
                                    </script>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-7" data-toggle="tooltip" data-placement="center" title="Exampel: PN Desc1; PN Desc2;BI PN1;BI PN2">
                                        @if (Model != null && !string.IsNullOrEmpty(Model.PNs))
                                        {
                                            <textarea class="form-control" name="PNs" id="PNs" style="min-width: 100%;min-height:40px;overflow-y: scroll;overflow-x: scroll;"  data-val-length="The field must be a string with a minimum length of 2 and a maximum length of 18000." data-val-length-max="18000" data-val-length-min="2" data-val-required="The field is required.">@(Model.PNs)</textarea>
                                        }
                                        else
                                        {
                                            <textarea class="form-control"  name="PNs" id="PNs" style="min-width: 100%;min-height:40px;overflow-y: scroll;overflow-x: scroll;"  data-val-length="The field must be a string with a minimum length of 2 and a maximum length of 18000." data-val-length-max="18000" data-val-length-min="2" data-val-required="The field is required."></textarea>
                                        }
                                        <span class="field-validation-valid text-danger" data-valmsg-for="PNs" data-valmsg-replace="true"></span>
                                    </div>
                                    <div class="col-xs-1">
                                        <button style="background-color:#006DC0;color:white;" class="form-control" onclick="TestPNDesc()" type="button">Test</button>
                                        <script type="text/javascript">
                                            function TestPNDesc() {
                                                if (document.getElementById("PNs").value && document.getElementById("PNs").value.length > 0) {
                                                    var myurl = '/Project/TestPNDesc?PNs=' + document.getElementById("PNs").value;
                                                    window.open(myurl, '_blank');
                                                }
                                            }
                                        </script>
                                    </div>
                                    <div class="col-xs-1">
                                        <label class="control-label">Reference File:</label>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="col-xs-6">
                                            <a href="~/Scripts/project_pn_desc_list.xlsx" target="_blank">PN Desc</a>
                                        </div>
                                        <div class="col-xs-6">
                                            <a href="~/Scripts/burn_in_pn_list.xlsx" target="_blank">BURN-IN PN</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-12" data-toggle="tooltip" data-placement="center" title="Exampel: Station ; Station ;Station">
                                        @if (Model != null && !string.IsNullOrEmpty(Model.Stations))
                                        {
                                            <textarea class="form-control"  name="Stations" id="Stations" style="min-width: 100%;min-height:40px;overflow-y: scroll;overflow-x: scroll;" >@(Model.Stations)</textarea>
                                        }
                                        else
                                        {
                                            <textarea class="form-control"  name="Stations" id="Stations" style="min-width: 100%;min-height:40px;overflow-y: scroll;overflow-x: scroll;" ></textarea>
                                        }
                                        <span class="field-validation-valid text-danger" data-valmsg-for="Stations" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                            </div>
                            
                            @if (ViewBag.ProcessList != null)
                            {
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-12" data-toggle="tooltip" data-placement="center" title="Exampel: QSFP28G_Die Attach1;QSFP28G_WireBonding;QSFP28G_Lens Alignment;QSFP28G_HotBar....">
                                            @if (ViewBag.ChoosedProcessData != null)
                                            {
                                                <textarea class="form-control" name="ChoosedProcess" id="ChoosedProcess" onclick="chooseprocess()" style="min-width: 100%;min-height:40px;overflow-y: scroll;overflow-x: scroll;"  data-val-regex="The field should not contain \'" data-val-regex-pattern="^(?!.*&#39;).*$" >@(ViewBag.ChoosedProcessData)</textarea>
                                            }
                                            else
                                            {
                                                <textarea class="form-control" name="ChoosedProcess" id="ChoosedProcess" onclick="chooseprocess()" placeholder="Please Bonding Project Process" style="min-width: 100%;min-height:40px;overflow-y: scroll;overflow-x: scroll;" data-val-regex="The field should not contain \'" data-val-regex-pattern="^(?!.*&#39;).*$" ></textarea>
                                            }
                                            <span class="field-validation-valid text-danger" data-valmsg-for="ChoosedProcess" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <script type="text/javascript">
                                        function chooseprocess() {
                                            document.getElementById("processinput").value = document.getElementById("ChoosedProcess").value;
                                            $('#processmodal').modal({ backdrop: 'static' });
                                        }

                                        function fillprocess() {
                                            $('#processmodal').modal('hide');
                                            document.getElementById("ChoosedProcess").value = document.getElementById("processinput").value;
                                            document.getElementById("ChoosedProcess").focus();
                                        }
                                    </script>
                                </div>
                            }
                            else
                            {
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-12" data-toggle="tooltip" data-placement="center" title="Exampel: QSFP28G_Die Attach1;QSFP28G_WireBonding;QSFP28G_Lens Alignment;QSFP28G_HotBar....">
                                            @if (ViewBag.ChoosedProcessData != null)
                                            {
                                                <textarea class="form-control" name="ChoosedProcess" id="ChoosedProcess"  style="min-width: 100%;min-height:40px;overflow-y: scroll;overflow-x: scroll;"  data-val-regex="The field should not contain \'" data-val-regex-pattern="^(?!.*&#39;).*$" >@(ViewBag.ChoosedProcessData)</textarea>
                                            }
                                            else
                                            {
                                                <textarea class="form-control" name="ChoosedProcess" id="ChoosedProcess" placeholder="Please Bonding Project Process" style="min-width: 100%;min-height:40px;overflow-y: scroll;overflow-x: scroll;" data-val-regex="The field should not contain \'" data-val-regex-pattern="^(?!.*&#39;).*$" ></textarea>
                                            }
                                            <span class="field-validation-valid text-danger" data-valmsg-for="ChoosedProcess" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    if (ViewBag.ProcessList != null)
    {
        <div class="modal" id="processmodal" tabindex="-1" role="dialog" aria-labelledby="processmodalLabel2">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="processmodalLabel2">Choose Process</h4>
                    </div>
                    <div class="row"></div>
                    <div class="row col-xs-12">
                        <div class="col-xs-3">
                            <label class="control-label">Process</label>
                        </div>
                        <div class="col-xs-9">
                            @Html.DropDownList("ProcessList", null, new { @id = "ProcessList", @class = "form-control", @onchange = "chooseaprocess()" })
                        </div>
                        <script type="text/javascript">
                            function chooseaprocess() {
                                document.getElementById("processinput").value = document.getElementById("processinput").value + ';' + document.getElementById("ProcessList").value;
                        }
                        </script>
                    </div>
                    <hr />
                    <div class="row col-xs-12">
                        <div class="col-xs-3">
                            <label class="control-label">Process Input</label>
                        </div>
                        <div class="col-xs-9" data-toggle="tooltip" data-placement="center" title="Exampel: Process1,Process2,Process3...">
                            <textarea class="form-control col-xs-12" name="processinput" id="processinput" style="height:100px;min-width:300px;"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" onclick="fillprocess()">OK</button>
                    </div>
                </div>
            </div>
        </div>
    }

    <hr style="border-color:#006DC0;" />

    <div class="row">
        <div MYTP="orange"  class="row" style="margin-left:3px">
            <div class="col-xs-12">
                <a data-toggle="collapse" href="#atebonding" aria-expanded="false" aria-controls="collapseExample" style="font-size:18px;font-family:'Arial Narrow';">
                    <font color="black"><strong>&nbsp;&nbsp;ATE Bonding</strong></font>&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/Content/images/icon/extend.png" style="height:25px; width:14px">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">&nbsp;</div>
        </div>
        <div class="row" style="margin-left:10px">
            <div class="collapse" id="atebonding">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-1"></div>
                        <div class="col-xs-11">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-7" data-toggle="tooltip" data-placement="center" title="Exampel: Model_ID1;Model_ID2....">
                                        @if (Model != null && !string.IsNullOrEmpty(Model.ModelIDs))
                                        {
                                            <textarea class="form-control"  name="ModelIDs" id="ModelIDs" style="min-width: 100%;min-height:40px;overflow-y: scroll;overflow-x: scroll;"  data-val-length="The field must be a string with a minimum length of 2 and a maximum length of 18000." data-val-length-max="18000" data-val-length-min="2" data-val-required="The field is required.">@(Model.ModelIDs)</textarea>
                                        }
                                        else
                                        {
                                            <textarea class="form-control"  name="ModelIDs" id="ModelIDs" style="min-width: 100%;min-height:40px;overflow-y: scroll;overflow-x: scroll;"  data-val-length="The field must be a string with a minimum length of 2 and a maximum length of 18000." data-val-length-max="18000" data-val-length-min="2" data-val-required="The field is required."></textarea>
                                        }
                                        <span class="field-validation-valid text-danger" data-valmsg-for="ModelIDs" data-valmsg-replace="true"></span>
                                    </div>
                                    <div class="col-xs-2"><label class="control-label">Reference File:</label></div>
                                    <div class="col-xs-2"><a href="~/Scripts/project_model_id_list.xlsx" target="_blank">Project Model ID</a></div>
                                    <div class="col-xs-1"></div>
                                </div>
                            </div>

                                
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-7" data-toggle="tooltip" data-placement="center" title="Exampel: DataSetName1;DataSetName2....">
                                        @if (Model != null && !string.IsNullOrEmpty(Model.SumDatasets))
                                        {
                                            <textarea class="form-control"  name="SumDatasets" id="SumDatasets" style="min-width: 100%;min-height:40px;overflow-y: scroll;overflow-x: scroll;"  data-val-length="The field must be a string with a minimum length of 2 and a maximum length of 18000." data-val-length-max="18000" data-val-length-min="2" data-val-required="The field is required.">@(Model.SumDatasets)</textarea>
                                        }
                                        else
                                        {
                                            <textarea class="form-control"  name="SumDatasets" id="SumDatasets" style="min-width: 100%;min-height:40px;overflow-y: scroll;overflow-x: scroll;"  data-val-length="The field must be a string with a minimum length of 2 and a maximum length of 18000." data-val-length-max="18000" data-val-length-min="2" data-val-required="The field is required."></textarea>
                                        }
                                        <span class="field-validation-valid text-danger" data-valmsg-for="SumDatasets" data-valmsg-replace="true"></span>
                                    </div>
                                    <div class="col-xs-2"><label class="control-label">Reference File:</label></div>
                                    <div class="col-xs-2"><a href="~/Scripts/project_indicative_datasetname_list.xlsx" target="_blank">Indicative DataSetName</a></div>
                                    <div class="col-xs-1"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr style="border-color:#006DC0;" />

    <div class="row">
        <div MYTP="orange"  class="row" style="margin-left:3px">
            <div class="col-xs-12">
                <a data-toggle="collapse" href="#burninsetting" aria-expanded="false" aria-controls="collapseExample" style="font-size:18px;font-family:'Arial Narrow';">
                    <font color="black"><strong>&nbsp;&nbsp;Burn-In Setting</strong></font>&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/Content/images/icon/extend.png" style="height:25px; width:14px">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">&nbsp;</div>
        </div>
        <div class="row" style="margin-left:10px">
            <div class="collapse" id="burninsetting">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-1"></div>
                        <div class="col-xs-11">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="col-xs-2">
                                            <label class="control-label">Monitor Vcsel</label>
                                        </div>

                                        <div class="col-xs-10">
                                            @Html.DropDownList("monitorvcsellist", null, new { @id = "monitorvcsellist", @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="col-xs-2">
                                            <label class="control-label">Vcsel Warning Yield</label>
                                        </div>
                                        <div class="col-xs-10">
                                            @if (Model != null && !string.IsNullOrEmpty(Model.VcselWarningYield))
                                            {
                                                <input class="form-control text-box single-line" value="@Model.VcselWarningYield"  data-val-length="The field Project must be a string with a minimum length of 1 and a maximum length of 4." data-val-length-max="4" data-val-length-min="1" data-val-regex="The field should not contain \'" data-val-regex-pattern="^(?!.*&#39;).*$" data-val-required="The Project field is required." id="VcselWarningYield" name="VcselWarningYield" type="text" />
                                            }
                                            else if (Model != null)
                                            {
                                                <input class="form-control text-box single-line" value="98"  data-val-length="The field Project must be a string with a minimum length of 1 and a maximum length of 4." data-val-length-max="4" data-val-length-min="1" data-val-regex="The field should not contain \'" data-val-regex-pattern="^(?!.*&#39;).*$" data-val-required="The Project field is required." id="VcselWarningYield" name="VcselWarningYield" type="text" />
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-8" data-toggle="tooltip" data-placement="center" title="Exampel: Wafer No1;Wafer No2;Wafer No3;...">
                                        @if (Model != null && !string.IsNullOrEmpty(Model.WaferYieldExceptList))
                                        {
                                            <textarea class="form-control" name="WaferYieldExceptList" id="WaferYieldExceptList" style="min-width: 100%;min-height:40px;overflow-y: scroll;overflow-x: scroll;"  data-val-length="The field must be a string with a minimum length of 2 and a maximum length of 800." data-val-length-max="800" data-val-length-min="2" data-val-regex="The field should not contain \'" data-val-regex-pattern="^(?!.*&#39;).*$">@Model.WaferYieldExceptList</textarea>
                                        }
                                        else
                                        {
                                            <textarea class="form-control" name="WaferYieldExceptList" id="WaferYieldExceptList" style="min-width: 100%;min-height:40px;overflow-y: scroll;overflow-x: scroll;"  data-val-length="The field must be a string with a minimum length of 2 and a maximum length of 800." data-val-length-max="800" data-val-length-min="2" data-val-regex="The field should not contain \'" data-val-regex-pattern="^(?!.*&#39;).*$"></textarea>
                                        }
                                        <span class="field-validation-valid text-danger" data-valmsg-for="WaferYieldExceptList" data-valmsg-replace="true"></span>
                                    </div>
                                    <div class="col-xs-3">
                                        <button id="retrievewaferdata" style="background-color:#006DC0;color:white;" name="retrievewaferdata" type="button" class="form-control" onclick="getwaferdata()">Retrieve Wafers Data</button>
                                        @if (Model != null)
                                        {
                                            <script type="text/javascript">
                                                function getwaferdata() {
                                                    window.location.href = '/Project/RetrieveWaferData?pjkey=@(Model.ProjectKey)';
                                                }
                                            </script>
                                        }
                                    </div>
                                    <div class="col-xs-1"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr style="border-color:#006DC0;" />

    <div class="row">
        <div MYTP="orange" class="row" style="margin-left:3px">
            <div class="nav navbar-nav navbar-left" style="font-size:18px;font-family:'Arial Narrow';">
                <font color="black"><strong style="margin-left: 20px;">OSA Bonding</strong></font>
            </div>
            <div class="nav navbar-nav navbar-left">
                <a data-toggle="collapse" data-target="#osabonding">
                    <img src="~/Content/images/icon/extend.png" style="height:25px; width:auto; margin-left: 20px;">
                </a>
            </div>
        </div>

        <div class="row" style="margin-left:10px;margin-top: 20px;">
            <div class="collapse in" id="osabonding">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-1"></div>
                        <div class="col-xs-11">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <span class="btn btn-success btn-file" style="font-family:'Arial Narrow', arial" id="choosefile" data-intro="Click to Upload Upload OSA Failure Code Map file." data-step="9">
                                            <strong>Upload OSA Failure Code Map File </strong>
                                            <input type="file" name="osafile" id="osafile" runat="server" onchange="ShowOSAFileNames(this)" />
                                        </span>
                                    </div>
                                    <div class="col-xs-4">
                                        <label class="control-label" id="showosafilename" name="showosafilename"></label>
                                    </div>
                                    <div class="col-xs-4" style="margin-top: 5px;">
                                        <label class="control-label">Reference File:</label>
                                        <a href="~/Scripts/25G_Wireless_TOSA_failure_code_map_file.xlsx"
                                           target="_blank" style="padding-left: 15px;padding-right: 15px;"
                                           data-intro="You can click this link for help." data-step="11">Failure Code Map File</a>
                                    </div>
                                    <script type="text/javascript">
                                        function ShowOSAFileNames(oFile) {
                                            $('#showosafilename').text(oFile.value);
                                        }
                                    </script>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row" data-intro="Exampel: PN Desc1; PN Desc2;BI PN1;BI PN2." data-step="10">
                                    <div class="col-xs-7" data-toggle="tooltip" data-placement="center" title="Exampel: PN Desc1; PN Desc2;BI PN1;BI PN2">
                                        @if (Model != null && !string.IsNullOrEmpty(Model.PNs))
                                        {
                                            <textarea class="form-control" name="OSAPNs" id="OSAPNs" style="min-width: 100%;height:32px;overflow-y: scroll;overflow-x: scroll;" data-val-length="The field must be a string with a minimum length of 2 and a maximum length of 18000." data-val-length-max="18000" data-val-length-min="2" data-val-required="The field is required.">@(Model.PNs)</textarea>
                                        }
                                        else
                                        {
                                            <textarea class="form-control" name="OSAPNs" id="OSAPNs" style="min-width: 100%;height:32px;overflow-y: scroll;overflow-x: scroll;" data-val-length="The field must be a string with a minimum length of 2 and a maximum length of 18000." data-val-length-max="18000" data-val-length-min="2" data-val-required="The field is required."></textarea>
                                        }
                                        <span class="field-validation-valid text-danger" data-valmsg-for="OSAPNs" data-valmsg-replace="true"></span>
                                    </div>
                                    <div class="col-xs-1">
                                        <button style="background-color:#006DC0;color:white;font-family:Arial Narrow;" class="form-control" onclick="TestOSAPNDesc()" type="button"><strong>Test</strong></button>
                                        <script type="text/javascript">
                                            function TestOSAPNDesc() {
                                                if (document.getElementById("OSAPNs").value && document.getElementById("OSAPNs").value.length > 0) {
                                                    var myurl = '/Project/TestPNDesc?PNs=' + document.getElementById("OSAPNs").value;
                                                    window.open(myurl, '_blank');
                                                }
                                            }
                                        </script>
                                    </div>
                                    <div class="col-xs-4" style="margin-top: 5px;">
                                        <label class="control-label">Reference File:</label>
                                        <a href="~/Scripts/project_pn_desc_list.xlsx" target="_blank" style="padding-left: 15px;padding-right: 15px;" data-intro="You can click this link for help." data-step="11">PN Desc</a>
                                        <a href="~/Scripts/burn_in_pn_list.xlsx" target="_blank">BURN-IN PN</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12">
                    <input style="background-color:#006DC0;color:white;" type="submit" value="Update" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="relatedmodal" tabindex="-1" role="dialog" aria-labelledby="relatedmodalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="relatedmodalLabel">Choose People</h4>
                </div>
                <div class="row"></div>
                <div class="row col-xs-12">
                    <div class="col-xs-3">
                        <label class="control-label">To Who</label>
                    </div>
                    <div class="col-xs-9">
                        @Html.DropDownList("towholist", null, new { @id = "towholist", @class = "form-control", @onchange = "chooseapusher()" })
                    </div>
                    <script type="text/javascript">
                        function chooseapusher() {
                            document.getElementById("towhoinput").value = document.getElementById("towhoinput").value + ';' + document.getElementById("towholist").value;
                        }
                    </script>
                </div>
                <hr />
                <div class="row col-xs-12">
                    <div class="col-xs-3">
                        <label class="control-label">To who Input</label>
                    </div>
                    <div class="col-xs-9" data-toggle="tooltip" data-placement="center" title="Exampel: Email Address; Email Address;Email Address;...">
                        <textarea class="form-control col-xs-12" name="towhoinput" id="towhoinput" style="height:100px;min-width:300px;"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="input_id" name="input_id"/>
                    <button type="button" class="btn btn-success" onclick="fillreleatepeople()">OK</button>
                </div>
            </div>
        </div>
    </div>
}
