@model IEnumerable < Prometheus.Models.IssueViewModels>

@{
    ViewBag.Title = "OcapAlarm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function chooserelatedpeople()
    {
        document.getElementById("towhoinput1").value = document.getElementById("RPeopleAddr").value;
        $('#relatedmodal').modal({ backdrop: 'static' });
    }
    function fillreleatepeople()
    {
        $('#relatedmodal').modal('hide');
        document.getElementById("RPeopleAddr").value = document.getElementById("towhoinput1").value;
        document.getElementById("RPeopleAddr").focus();
    }
    $("body").on("click", "#cancelisu", function () {
        window.location.href = "/Project/ProjectSptTask?ProjectKey=" + $("#projectkey").val();
    })
</script>

<div class="row">
    <ol class="breadcrumb">
        <li><a data-toggle="tooltip" title="Goto ViewAll" href="/Project/ViewAll">All Projects</a></li>
        @if (Model != null)
        {
            <li><a data-toggle="tooltip" title="Goto Project Detail" href="/Project/ProjectDetail?ProjectKey=@(Model.ElementAt(0).ProjectKey)">Project Detail</a></li>
            <li><a data-toggle="tooltip" title="Goto Special Task" href="/Project/ProjectSptTask?ProjectKey=@(Model.ElementAt(0).ProjectKey)">Special Task</a></li>
        }
        <li class="active">OCAP Alarm</li>
    </ol>
</div>
<input type="hidden" id="projectkey" name="projectkey" value="@(Model.ElementAt(0).ProjectKey)"/>
@if (Model != null)
{
    <h3>@Model.ElementAt(0).Summary.Replace(Prometheus.Models.CRITICALERRORTYPE.SECONDMATCH, "")</h3>
    @*<div class="collapsed collapse-summary" aria-expanded="false" data-toggle="collapse" data-target="#summaryCollapse">
        <span>Summary</span>
        <span class="summary-span-etc glyphicon glyphicon-chevron-down"></span>
    </div>
    <div id="summaryCollapse" class="collapse">
        @foreach(var summary in ViewBag.SummaryList)
        {
            <div class="summary-span">
                <span>@summary.Replace(Prometheus.Models.CRITICALERRORTYPE.SECONDMATCH, "")</span>
            </div>
        }
    </div>*@
    <hr />
    using (Html.BeginForm("OcapWarn", "Project", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row col-lg-12">
            <input type="hidden" id="IssueKeys" name="IssueKeys" value="@(ViewBag.IssueKeys)" />
            <div class="form-group">
                <label>Related People Email<font color="red">*</font></label>
            </div>
            <div class="form-group">
                <div class="col-lg-12" data-toggle="tooltip" data-placement="center" title="Exampel: Email Address; Email Address;Email Address;...">
                    <textarea class="form-control ocap-alarm-textarea" name="RPeopleAddr" id="RPeopleAddr" onclick="chooserelatedpeople()" data-val="true" data-val-required="This field is required." data-val-length="The field must be a string with a minimum length of 6 and a maximum length of 800." data-val-length-max="800" data-val-length-min="6" data-val-regex="The field should not contain \'" data-val-regex-pattern="^(?!.*&#39;).*$">@((ViewBag.defaultlytteam != null) ? ViewBag.defaultlytteam:"")</textarea>
                </div>
                <span class="field-validation-valid text-danger" data-valmsg-for="RPeopleAddr" data-valmsg-replace="true"></span>
            </div>
        </div>
        <hr />
        <div class="row col-lg-12 ocap-content">
            <div class="row form-group">
                <label class="col-md-1 control-label">OCAP Num<font color="red">*</font></label>
                <input type="text" class="form-control ocap-alarm-input col-md-6" id="ocap_id" name="ocap_id" 
                    data-val="true" data-val-required="This field is required." 
                        data-val-regex="The field should not contain \'" data-val-regex-pattern="^(?!.*&#39;).*$"/>
                <span class="field-validation-valid text-danger" data-valmsg-for="ocap_id" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="row col-lg-12 ocap-content">
            <div class="row form-group">
                <label class="col-md-1 control-label">Attachments<font color="red">*</font></label>
                <input type="file" class="ocap-alarm-attach col-md-6" name="files" id="file1" 
                    data-val="true" data-val-required="This field is required." />
                @*<span class="btn-file" id="choosefile">
                    <span class="ocap-attach-update">OCAP Files Upload</span>
                </span>*@
                <span class="field-validation-valid text-danger" data-valmsg-for="file1" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="row col-lg-12 ocap-content">
            <div class="row form-group">
                <label class="col-md-1 control-label">Comment<font color="red">*</font></label>
                <div class="col-md-10">
                    <div class="col-lg-12" data-toggle="tooltip" data-placement="center" title="Your comment about this Critical Error Alarm">
                        <textarea class="form-control ocap-alarm-textarea" name="commentcontent" id="commentcontent" data-val="true" data-val-required="This field is required." data-val-length="The field must be a string with a minimum length of 6 and a maximum length of 200." data-val-length-max="200" data-val-length-min="6" data-val-regex="The field should not contain \'" data-val-regex-pattern="^(?!.*&#39;).*$"></textarea>
                    </div>
                    <span class="field-validation-valid text-danger" data-valmsg-for="commentcontent" data-valmsg-replace="true"></span>
                </div>            
            </div>
        </div>
        <div class="row col-lg-12 ocap-content">
            <div class="row form-group">
                <div class="col-lg-3">
                    <input type="submit" value="Send" id="sendisu" name="sendisu" class="btn btn-default" />
                </div>
                <div class="col-lg-3">
                    <input type="button" value="Cancel" id="cancelisu" name="cancelisu" class="btn btn-default" />
                </div>
            </div>
        </div>
        <div class="modal" id="relatedmodal" tabindex="-1" role="dialog" aria-labelledby="relatedmodalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="relatedmodalLabel">Choose People</h4>
                    </div>
                    <div class="row"></div>
                    <div class="row col-lg-12">
                        <div class="col-lg-3">
                            <label class="control-label">To Who</label>
                        </div>
                        <div class="col-lg-9">
                            @Html.DropDownList("towholist", null, new { @id = "towholist", @class = "form-control", @onchange = "chooseapusher1()" })
                        </div>
                        <script type="text/javascript">
                            function chooseapusher1()
                            {
                                document.getElementById("towhoinput1").value = document.getElementById("towhoinput1").value + ';' + document.getElementById("towholist").value;
                            }
                        </script>
                    </div>
                    <hr />
                    <div class="row col-lg-12">
                        <div class="col-lg-3">
                            <label class="control-label">To who Input</label>
                        </div>
                        <div class="col-lg-9" data-toggle="tooltip" data-placement="center" title="Exampel: Email Address; Email Address;Email Address;...">
                            <textarea class="form-control col-lg-12" name="towhoinput1" id="towhoinput1" style="height:100px;min-width:300px;"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" onclick="fillreleatepeople()">OK</button>
                    </div>
                </div>
            </div>
        </div>
    }
}
