@model IEnumerable<Prometheus.Models.IssueViewModels>

@{
    ViewBag.Title = "Project Tasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var pendinglist = new List<Prometheus.Models.IssueViewModels>();
    var workinglist = new List<Prometheus.Models.IssueViewModels>();
    var donelist = new List<Prometheus.Models.IssueViewModels>();
}

@if (Model != null)
{
    foreach (var item in Model)
    {
        if (string.Compare(item.Resolution, Prometheus.Models.Resolute.Pending) == 0)
        {
            pendinglist.Add(item);
        }
        if (string.Compare(item.Resolution, Prometheus.Models.Resolute.Working) == 0)
        {
            workinglist.Add(item);
        }
        if (string.Compare(item.Resolution, Prometheus.Models.Resolute.Done) == 0)
        {
            donelist.Add(item);
        }
    }
}


<div class="row">

    <div class="col-lg-7">
        <div class="nav navbar-nav navbar-left">
            <img src="~/Content/images/PJ/Task.png" style="height:40px; width:40px;margin-right: 10px;">
        </div>
        <div class="nav navbar-nav navbar-left">
            <ol class="breadcrumb" style="width:600px">
                <li><a data-toggle="tooltip" title="Goto ViewAll" href="/Project/ViewAll">All Projects</a></li>
                @if (Model != null && Model.Count() > 0)
                {
                    <li><a data-toggle="tooltip" title="Goto Project Detail" href="/Project/ProjectDetail?ProjectKey=@(Model.ElementAt(0).ProjectKey)">Project Detail</a></li>
                }
                <li class="active">Project Tasks</li>
            </ol>
        </div>
    </div>
</div>

<div class="row" style="font-size:18px;margin-bottom: 20px;"><strong>Task List</strong></div>


<div class="panel-group" id="accordion">
    <div class="panel panel-default" id="panelpending" data-intro = "Tasks which you need to do."  data-step="1" mytp="HOVER">
        <div class="panel-heading" style="background-color:#00A4BB;">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapsepending" href="#collapsepending" class="collapsed" style="font-family:'Arial Narrow'"><font color="white">Pending&nbsp;&nbsp;&nbsp;@(pendinglist.Count)</font></a>
            </h4>
        </div>
        <div id="collapsepending" class="panel-collapse collapse">
            <div class="panel-body">
                @foreach (var item in pendinglist)
                {
                    <div class="row">
                        <div class="col-lg-5"><a href="/Project/ProjectDetail?ProjectKey=@item.ProjectKey">[@item.ProjectKey]&nbsp;</a> <a href="/Issue/UpdateIssue?issuekey=@item.IssueKey">@item.Summary</a></div>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-2">Reporter: <a href="/User/UserCenter?username=@item.Reporter">@item.Reporter.Split(new char[] { '@' })[0]</a></div>
                        <div class="col-lg-1">@item.ReportDate.ToString("MM/dd-yy")</div>
                        <div class="col-lg-1"><a data-toggle="tooltip" title="move to working" href="/Issue/MoveTask2Working?issuekey=@(item.IssueKey)"><font color="#006DC0"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></font></a></div>
                        <div class="col-lg-2"></div>
                    </div>

                }
            </div>
        </div>
    </div>

    <div class="panel panel-default" id="panelworking" data-intro = "Tasks which you are doing."  data-step="2" mytp="HOVER">
        <div class="panel-heading" style="background-color:#006DC0;">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapseworking" href="#collapseworking" class="collapsed" style="font-family:'Arial Narrow'"><font color="white">Working&nbsp;&nbsp;&nbsp;@(workinglist.Count)</font></a>
            </h4>
        </div>
        <div id="collapseworking" class="panel-collapse collapse">
            <div class="panel-body">
                @foreach (var item in workinglist)
                {
                    <div class="row">
                        <div class="col-lg-5"><a href="/Project/ProjectDetail?ProjectKey=@item.ProjectKey">[@item.ProjectKey]&nbsp;</a> <a href="/Issue/UpdateIssue?issuekey=@item.IssueKey">@item.Summary</a></div>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-2">Reporter: <a href="/User/UserCenter?username=@item.Reporter">@item.Reporter.Split(new char[] { '@' })[0]</a></div>
                        <div class="col-lg-1">@item.ReportDate.ToString("MM/dd-yy")</div>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-2"></div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="panel panel-default" id="paneldone" data-intro = "Tasks which you have done."  data-step="3" mytp="HOVER">
        <div class="panel-heading" style="background-color:#00C28D;">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapsedone" href="#collapsedone" class="collapsed" style="font-family:'Arial Narrow'"><font color="white">Done&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@(donelist.Count)</font></a>
            </h4>
        </div>
        <div id="collapsedone" class="panel-collapse collapse">
            <div class="panel-body">
                @foreach (var item in donelist)
                {
                    <div class="row">
                        <div class="col-lg-5"><a href="/Project/ProjectDetail?ProjectKey=@item.ProjectKey">[@item.ProjectKey]&nbsp;</a> <a href="/Issue/UpdateIssue?issuekey=@item.IssueKey">@item.Summary</a></div>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-2">Reporter: <a href="/User/UserCenter?username=@item.Reporter">@item.Reporter.Split(new char[] { '@' })[0]</a></div>
                        <div class="col-lg-1">@item.ReportDate.ToString("MM/dd-yy")</div>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-2"></div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

