
@{
    ViewBag.Title = "ProjectYieldMain";
    Layout = "~/Views/Shared/_Layout.cshtml";

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
}

<div class="row">
    <div class="nav navbar-nav navbar-left">
        <img src="~/Content/images/PJ/RMA.png" style="height:35px; width:35px;margin-right: 15px;">
    </div>
    <div class="nav navbar-nav navbar-left">
        <ol class="breadcrumb" style="width:600px">
            <li><a data-toggle="tooltip" title="Goto ViewAll" href="/Project/ViewAll">All Projects</a></li>
            @if (ViewBag.pjkey != null)
            {
                <li><a data-toggle="tooltip" title="Goto Project Detail" href="/Project/ProjectDetail?ProjectKey=@(ViewBag.pjkey)">Project Detail</a></li>
            }

            @if (ViewBag.pjkey != null)
            {
                <li class="active">@ViewBag.pjkey Yield</li>
            }
            else
            {
                <li class="active">Project Yield</li>
            }
        </ol>
    </div>
</div>

<form>
    @if (ViewBag.pjkey != null)
    {
        <input value="@(ViewBag.pjkey)" id="pjkey" name="pjkey" type="hidden" />
    }
</form>

@if (ViewBag.chartscript != null)
{
    @Html.Raw(ViewBag.chartscript)

    <script src="~/Scripts/highcharts.js"></script>
    <script src="~/Scripts/exporting.js"></script>

    <div class="row" >
        <div class="col-lg-1"></div>
        <div class="col-lg-10" data-intro = "Click different point to get detail!"  data-step="1">
            <div id="weeklyyield" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
        <div class="col-lg-1"></div>
    </div>
}


<hr style="border-color:#006DC0;"/>

<div class="row" style="font-family:'Arial Narrow'" data-intro = "Select period for detail!"  data-step="2">
    <div class="col-lg-2" MYTP="orange" style="font-size:18px">Yield By Period</div>
    <div class="col-lg-10">
        <div class="row">
            <div class="col-lg-3 text-left">
                @Html.DropDownList("weeklylist", null, new { @id = "weeklylist", @class = "form-control", @onchange = "ShowWeeklYYield()" })                
            </div>
            <div class="col-lg-9 text-left"></div>
        </div>
        <div class="row">
            <div class="col-lg-12">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-lg-3 text-left">
                @Html.DropDownList("monthlylist", null, new { @id = "monthlylist", @class = "form-control", @onchange = "ShowMonthlyYield()" })
            </div>
            <div class="col-lg-9 text-left"></div>
        </div>
        <div class="row">
            <div class="col-lg-12">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-lg-2 text-left">
                Other Period
            </div>
            <div class="col-lg-2">
                <input class="form-control text-box single-line" id="StartDate" placeholder="Start Date" name="StartDate" type="text" value="" style="margin-left:12px"/>
            </div>
            <div class="col-lg-2">
                <input class="form-control text-box single-line" id="EndDate" placeholder="End Date" name="EndDate" type="text" value="" />
            </div>
            <div class="col-lg-4">
                <div class="col-lg-5"><button class="btn btn-success" type="button" style="width:75px" onclick="ShowPeriodYield()">In Period</button></div>
                <div class="col-lg-5"><button class="btn btn-success" type="button" style="width:75px" onclick="ShowDailyYield()">In Days</button></div>
                <div class="col-lg-2"></div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</div>

<hr style="border-color:#006DC0;" />

<div class="row" style="font-family:'Arial Narrow'" data-intro = "Select BR/JO for detail!"  data-step="3">
    <div class="col-lg-2" MYTP="orange" style="font-size:18px">Yield By BR/JO</div>
    <div class="col-lg-2 text-left">
        @Html.DropDownList("yieldtypelist", null, new { @id = "yieldtypelist", @class = "form-control" })
    </div>
    <div class="col-lg-3">
        <input class="form-control text-box single-line" id="BRNUM" name="BRNUM" data-val="true" data-val-length="The field must be a string with a minimum length of 2 and a maximum length of 250." data-val-length-max="250" data-val-length-min="2" data-val-regex="The field should not contain \'" data-val-regex-pattern="^(?!.*&#39;).*$" type="text" value="" />
        <span class="field-validation-valid text-danger" data-valmsg-for="BRNUM" data-valmsg-replace="true"></span>
    </div>
    <div class="col-lg-2">
        <div class="col-lg-9"><button class="btn btn-success" type="button" style="width:75px" onclick="showbryield()">Yield</button></div>
        <div class="col-lg-3 text-center"></div>
    </div>
    <div class="col-lg-3">
    </div>
</div>

<div class="row">
    <div class="col-lg-12">&nbsp;</div>
</div>


<script type="text/javascript">
                            $(document).ready(function () {
                                $("#StartDate").datepicker({
                                    changeMonth: true,
                                    changeYear: true,
                                    dateFormat: 'yy-mm-dd'
                                });
                                $("#EndDate").datepicker({
                                    changeMonth: true,
                                    changeYear: true,
                                    dateFormat: 'yy-mm-dd'
                                });
                            });
</script>

<script type="text/javascript">
    function ShowWeeklYYield()
    {
        if (document.getElementById("weeklylist").value) {
            window.location.href = '/Project/ProjectYield?ProjectKey=@ViewBag.pjkey' + '&Weeks=' + document.getElementById("weeklylist").value;
        }
    }

    function ShowMonthlyYield()
    {
        if (document.getElementById("monthlylist").value) {
            window.location.href = "/Project/ProjectMonthlyYield?ProjectKey=@ViewBag.pjkey" + '&Months=' + document.getElementById("monthlylist").value;
        }
    }

    function ShowPeriodYield() {
        if (document.getElementById("StartDate").value && document.getElementById("EndDate").value)
        {
            window.location.href = '/Project/ProjectPeriodYield?ProjectKey=@ViewBag.pjkey' + '&StartDate=' + document.getElementById("StartDate").value + '&EndDate=' + document.getElementById("EndDate").value;
        }
    }

    function ShowDailyYield() {
        if (document.getElementById("StartDate").value && document.getElementById("EndDate").value) {
            window.location.href = '/Project/ProjectDailyYield?ProjectKey=@ViewBag.pjkey' + '&StartDate=' + document.getElementById("StartDate").value + '&EndDate=' + document.getElementById("EndDate").value;
        }
    }

    function showbryield()
    {
        if (document.getElementById("yieldtypelist").value == "BR" && document.getElementById("BRNUM").value)
        {
            window.location.href = "/Project/ProjectBRYield?ProjectKey=@ViewBag.pjkey" + "&BRNUM=" + document.getElementById("BRNUM").value;
        }
        if (document.getElementById("yieldtypelist").value == "JO" && document.getElementById("BRNUM").value)
        {
            window.location.href = "/Project/ProjectJOYield?ProjectKey=@ViewBag.pjkey" + "&BRNUM=" + document.getElementById("BRNUM").value;
        }
    }
</script>