@model Prometheus.Models.ProjectViewModels

@{
    ViewBag.Title = "ProjectDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="nav navbar-nav navbar-left">
        <img src="~/Content/images/ucicon/IProjectIcons.png" height="40" width="40">
    </div>
    <div class="nav navbar-nav navbar-left">
        <ol class="breadcrumb">
            <li data-toggle="modal" data-target="#myModal">
                <a data-toggle="tooltip" title="Goto ViewAll" href="/Project/ViewAll" data-intro="Back to ALL Project."
                   data-step="6">All Projects</a>
            </li>
            @if (Model != null)
            {
                <li class="active">Project @(Model.ProjectKey) Detail</li>
            }
            else
            {
                <li class="active">Project Detail</li>
            }
        </ol>
    </div>
    <div class="nav navbar-nav navbar-right">
        @if (Model != null)
        {
            <a href="/Project/EditProject?ProjectKey=@Model.ProjectKey">
                <img src="~/Content/images/icon/edit.png" height="30" data-intro="Edit project here."
                     data-step="1" />
            </a>
        }
    </div>
</div>

@{
    var PMList = new List<Prometheus.Models.ProjectMembers>();
    var ENGList = new List<Prometheus.Models.ProjectMembers>();
    var PEList = new List<Prometheus.Models.ProjectMembers>();
    var MEList = new List<Prometheus.Models.ProjectMembers>();
    var PQEList = new List<Prometheus.Models.ProjectMembers>();
    var projectdata = Model;

    if (projectdata != null)
    {
        foreach (var pm in projectdata.MemberList)
        {
            if (string.Compare(pm.Role, Prometheus.Models.ProjectViewModels.PMROLE) == 0)
            {
                PMList.Add(pm);
            }
            else if (string.Compare(pm.Role, Prometheus.Models.ProjectViewModels.ENGROLE) == 0)
            {
                ENGList.Add(pm);
            }
            else if (string.Compare(pm.Role, Prometheus.Models.ProjectViewModels.PEROLE) == 0)
            {
                PEList.Add(pm);
            }
            else if (string.Compare(pm.Role, Prometheus.Models.ProjectViewModels.MEROLE) == 0)
            {
                MEList.Add(pm);
            }
            else if (string.Compare(pm.Role, Prometheus.Models.ProjectViewModels.PQEROLE) == 0)
            {
                PQEList.Add(pm);
            }
        }
    }
}

@if (projectdata != null)
{
    <div class="row" data-intro="Base information of this project." data-step="2">
        <div MYTP="orange" class="col-xs-2">
            <strong class="pro-info">Information</strong>
        </div>
        <div class="col-xs-10">
            <div class="row form-group">
                <div class="col-xs-6">
                    <label class="control-label col-xs-4" for="finishratev">Project Type</label>
                    <div class="col-xs-8">
                        <input id="pjtypeid" name="pjtypeid" class="form-control text-box single-line"
                               value="@(string.IsNullOrEmpty(projectdata.ProjectType)?"Parallel":projectdata.ProjectType)"
                               readonly="readonly" />
                    </div>
                </div>
                <div class="col-xs-6">
                    <label class="control-label col-xs-4" for="startdatev">Start Date</label>
                    <div class="col-xs-8">
                        <input id="startdatev" name="startdatev" class="form-control text-box single-line"
                               value="@projectdata.StartDate.ToString("yyyy-MM-dd")" readonly="readonly" />
                    </div>
                </div>
            </div>
            @if (string.Compare(projectdata.ProjectType, Prometheus.Models.ProjectTypeInf.QM) != 0)
            {
                <div class="row form-group">
                    <div class="col-xs-6">
                        <label class="control-label col-xs-4" for="finishratev">Update MES Data</label>
                        <div class="col-xs-8">
                            <input id="finishratev" name="finishratev" class="form-control text-box single-line"
                                   value="@((projectdata.FinishRating > 90)?"False":"True")" readonly="readonly" />
                        </div>
                    </div>
                </div>
            }
            <div class="row form-group">
                <label class="control-label pm-width-detail">Member</label>
                <div class="collapsed collapsed-span" aria-expanded="false" data-toggle="collapse" data-target="#memberCollapse">
                    @foreach (var pm in PMList)
                    {
                        <span class="eng-span">@(pm.Name.Split(new char[] { '@' })[0])</span>
                    }
                    @if ((ENGList.Count + PMList.Count) <= 5)
                    {
                        foreach (var eng in ENGList)
                        {
                            <span class="eng-span">@(eng.Name.Split(new char[] { '@' })[0])</span>
                        }
                    }
                    else
                    {
                        for (var i = 0; i < 5 - PMList.Count; i++)
                        {
                            <span class="eng-span">@(ENGList[i].Name.Split(new char[] { '@' })[0])</span>
                        }
                    }
                    <span class="eng-span-etc glyphicon glyphicon-chevron-down"></span>
                </div>
            </div>
            <div id="memberCollapse" class="collapse">
                <div class="row form-group">
                    <label class="control-label pm-width-detail">PM</label>
                    <div>
                        @foreach (var pm in PMList)
                        {
                            @Html.ActionLink(pm.Name.Split(new char[] { '@' })[0], "UserCenter", "User", new { username = pm.Name }, new { @class = "eng-span" });
                        }
                    </div>
                </div>
                @if (ENGList.Count != 0)
                {
                    <div class="row form-group">
                        <label class="control-label pm-width-detail">Engineer</label>
                        <div>
                            @foreach (var eng in ENGList)
                            {
                                @Html.ActionLink(eng.Name.Split(new char[] { '@' })[0], "UserCenter", "User", new { username = eng.Name }, new { @class = "eng-span" });
                            }
                        </div>
                    </div>
                }
                @if (PEList.Count != 0)
                {
                    <div class="row form-group">
                        <label class="control-label pm-width-detail">PE</label>
                        <div>
                            @foreach (var pe in PEList)
                            {
                                @Html.ActionLink(pe.Name.Split(new char[] { '@' })[0], "UserCenter", "User", new { username = pe.Name }, new { @class = "eng-span" });
                            }
                        </div>
                    </div>
                }
                @if (MEList.Count != 0)
                {
                    <div class="row form-group">
                        <label class="control-label pm-width-detail">ME</label>
                        <div>
                            @foreach (var me in MEList)
                            {
                                @Html.ActionLink(me.Name.Split(new char[] { '@' })[0], "UserCenter", "User", new { username = me.Name }, new { @class = "eng-span" });
                            }
                        </div>
                    </div>
                }
                @if (PQEList.Count != 0)
                {
                    <div class="row form-group">
                        <label class="control-label pm-width-detail">PQE</label>
                        <div>
                            @foreach (var pqe in PQEList)
                            {
                                @Html.ActionLink(pqe.Name.Split(new char[] { '@' })[0], "UserCenter", "User", new { username = pqe.Name }, new { @class = "eng-span" });
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <hr style="border-color:#006DC0;" />

    <div class="form-group" data-intro="Project status." data-step="3">
        <div MYTP="yello" class="row">
            @if (!string.IsNullOrEmpty(projectdata.CurrentNPIProc)
                             && !string.IsNullOrEmpty(projectdata.PIP1Date)
                             && !string.IsNullOrEmpty(projectdata.MVTDate))
            {

                <div class="col-xs-2 text-left" style="font-family:'Arial Narrow';font-size:18px"><strong>Status</strong></div>
                        <div class="col-xs-1 text-left active"><a href="/Issue/UpdateIssue?issuekey=@projectdata.CurrentNPIProcKey">@projectdata.CurrentNPIProc</a></div>
                        <div class="col-xs-2 text-left active">@projectdata.PIP1Date</div>
                        <div class="col-xs-2 text-left active">@projectdata.MVTDate</div>
                        <div class="col-xs-1 text-left"></div>
            }
            else
            {
                <div class="col-xs-1 text-left" style="font-family:'Arial Narrow';font-size:18px"><label class="control-label"><strong>Status</strong></label></div>
                        <div class="col-xs-1 text-left"></div>
                        <div class="col-xs-7 text-left"></div>
            }
            <div class="col-xs-3 text-left"></div>
        </div>
    </div>

            <hr style="border-color:#006DC0;margin-bottom: 40px;" />

    if (string.Compare(projectdata.ProjectType, Prometheus.Models.ProjectTypeInf.QM) != 0)
    {
        <div class="form-group" data-intro="detail informaton show here." data-step="4">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12" style="padding-left:10%;padding-right:10%">
                        @if (!ViewBag.IsOutSide)
                    {
                            <div class="col-xs-2">
                                <div class="col-xs-3"></div>
                                <div class="col-xs-6" data-toggle="modal" data-target="#myModal">
                                    <div class="row" data-toggle="tooltip" title="Yield">
                                        <a href="/Project/ProjectYieldMain?ProjectKey=@projectdata.ProjectKey"><img src="~/Content/images/PJ/Yield.png" style="height:75px; width:75px"></a>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    @if (projectdata.FirstYield > 0)
                                    {
                                        <div class="row"><span class="badge" style="color:white;background-color:red">FPY @((projectdata.FirstYield * 100.0).ToString("0.0")) %</span></div>
                                    }
                                    else
                                    {
                                        <div class="row">
                                            <div class="col-xs-12" style="font-size:14px;">&nbsp;</div>
                                        </div>
                                    }
                                    @if (projectdata.RetestYield > 0)
                                    {
                                        <div class="row"><span class="badge" style="color:white;background-color:red">FY @((projectdata.RetestYield * 100.0).ToString("0.0")) %</span></div>
                                    }
                                    else
                                    {
                                        <div class="row">
                                            <div class="col-xs-12" style="font-size:14px;">&nbsp;</div>
                                        </div>
                                    }

                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="col-xs-3"></div>
                                <div class="col-xs-6" data-toggle="modal" data-target="#myModal">
                                    <div class="row">
                                        <a href="/Project/ProjectFA?ProjectKey=@projectdata.ProjectKey"><img src="~/Content/images/PJ/FA.png" style="height:75px; width:75px"></a>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="row">
                                        @if (projectdata.FinishRating < 90)
                                        {
                                            <div class="row"><span class="badge" style="color:white;background-color:red">@projectdata.PendingFACount</span></div>
                                        }
                                        else
                                        {
                                            <div class="row"><span class="badge" style="color:white;background-color:forestgreen">@projectdata.PendingFACount</span></div>
                                        }
                                    </div>
                                </div>

                            </div>
                            <div class="col-xs-2">
                                <div class="col-xs-3"></div>
                                <div class="col-xs-6" data-toggle="modal" data-target="#myModal">
                                    <div class="row" data-toggle="tooltip" title="Task">
                                        <a href="/Project/ProjectIssues?ProjectKey=@projectdata.ProjectKey"><img src="~/Content/images/PJ/Task.png" style="height:75px; width:75px"></a>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="row"><span class="badge" style="color:white;background-color:red">@projectdata.PendingTaskCount</span></div>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="col-xs-3"></div>
                                <div class="col-xs-6" data-toggle="modal" data-target="#myModal">
                                    <div class="row">
                                        <a href="/Project/ProjectRMAStatus?ProjectKey=@projectdata.ProjectKey"><img src="~/Content/images/PJ/RMA.png" style="height:75px; width:75px"></a>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="row"><span class="badge" style="color:white;background-color:red">@projectdata.PendingRMACount</span></div>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="col-xs-3"></div>
                                <div class="col-xs-6" data-toggle="modal" data-target="#myModal">
                                    <div class="row" data-toggle="tooltip" title="Debug Tree">
                                        <a href="/Project/ProjectError?ProjectKey=@projectdata.ProjectKey"><img src="~/Content/images/PJ/DebugTreeicon.png" style="height:75px; width:75px"></a>
                                    </div>
                                </div>
                                <div class="col-xs-3"></div>
                            </div>

                            <div class="col-xs-2">
                                    <div class="col-xs-3"></div>
                                    <div class="col-xs-6" data-toggle="modal" data-target="#myModal">
                                        <div class="row" data-toggle="tooltip" title="Burn In">
                                            <a href="/BurnIn/BurnInMainPage?ProjectKey=@projectdata.ProjectKey"><img src="~/Content/images/PJ/BI.png" style="height:75px; width:75px"></a>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                    </div>
                                </div>
                        }
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12" style="padding-left:10%;padding-right:10%">
                        @if (!ViewBag.IsOutSide)
                        {
                            <div class="col-xs-2">
                                <div class="col-xs-3"></div>
                                <div class="col-xs-6" data-toggle="modal" data-target="#myModal">
                                    <div class="row" data-toggle="tooltip" title="Special Task">
                                        <a href="/Project/ProjectSptTask?ProjectKey=@projectdata.ProjectKey" title="Critical Task" data-toggle="tooltip"><img src="~/Content/images/PJ/Spt.png" style="height:75px; width:75px"></a>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="col-xs-3"></div>
                                <div class="col-xs-6" data-toggle="modal" data-target="#myModal">
                                    <div class="row" data-toggle="tooltip" title="NPI Process">
                                        <a href="/Project/ProjectNPI?ProjectKey=@projectdata.ProjectKey"><img src="~/Content/images/PJ/NPIProcess.png" style="height:75px; width:75px"></a>
                                    </div>
                                </div>
                                <div class="col-xs-3"></div>
                            </div>
                           
                            <div class="col-xs-2">
                                <div class="col-xs-3"></div>
                                <div class="col-xs-6" data-toggle="modal" data-target="#myModal">
                                    <div class="row" data-toggle="tooltip" title="Project Stations">
                                        <a href="/Project/ProjectStations?pjkey=@projectdata.ProjectKey"><img src="~/Content/images/PJ/station.png" style="height:75px; width:75px"></a>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="col-xs-3"></div>
                                <div class="col-xs-6" data-toggle="modal" data-target="#myModal">
                                    <div class="row" data-toggle="tooltip" title="Reliability">
                                        <a href="/Project/ProjectReliability?ProjectKey=RELIABILITY"><img src="~/Content/images/PJ/REL.png" style="height:75px; width:75px"></a>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                </div>
                            </div>


                            <div class="col-xs-2">
                                <div class="col-xs-3"></div>
                                <div class="col-xs-6" data-toggle="modal" data-target="#myModal">
                                    <div class="row" data-toggle="tooltip" title="Project Manage">
                                        <a href="/Project/ProjectDash?PJKey=@projectdata.ProjectKey"><img src="~/Content/images/PJ/PM.png" style="height:75px; width:75px"></a>
                                    </div>
                                </div>
                                <div class="col-xs-3"></div>
                            </div>

                            <div class="col-xs-2">
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="form-group" data-intro="Edit project here." data-step="4">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-1">
                    </div>
                    <div class="col-xs-2">
                        <div class="col-xs-3"></div>
                        <div class="col-xs-6" data-toggle="modal" data-target="#myModal">
                            <div class="row" data-toggle="tooltip" title="Task">
                                <a href="/Project/ProjectIssues?ProjectKey=@projectdata.ProjectKey"><img src="~/Content/images/PJ/Task.png" style="height:75px; width:auto"></a>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="row"><span class="badge" style="color:white;background-color:red">@projectdata.PendingTaskCount</span></div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="col-xs-3"></div>
                        <div class="col-xs-6" data-toggle="modal" data-target="#myModal">
                            <div class="row" data-toggle="tooltip" title="Special Task">
                                <a href="/Project/ProjectSptTask" title="Critical Task" data-toggle="tooltip"><img src="~/Content/images/PJ/Spt.png" style="height:75px; width:75px"></a>
                            </div>
                        </div>
                        <div class="col-xs-3">
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="col-xs-3"></div>
                        <div class="col-xs-6" data-toggle="modal" data-target="#myModal">
                            <div class="row" data-toggle="tooltip" title="OBA">
                                <a href="/Project/ProjectOBA?ProjectKey=@projectdata.ProjectKey"><img src="~/Content/images/PJ/OBA.png" style="height:75px; width:auto"></a>
                            </div>
                        </div>
                        <div class="col-xs-3"></div>
                    </div>
                    <div class="col-xs-2">
                        <div class="col-xs-3"></div>
                        <div class="col-xs-6" data-toggle="modal" data-target="#myModal">
                            <div class="row" data-toggle="tooltip" title="Reliability">
                                <a href="/Project/ProjectReliability?ProjectKey=@projectdata.ProjectKey"><img src="~/Content/images/PJ/REL.png" style="height:75px; width:auto"></a>
                            </div>
                        </div>
                        <div class="col-xs-3"></div>
                    </div>

                    <div class="col-xs-2">
                        <div class="col-xs-3"></div>
                        <div class="col-xs-6" data-toggle="modal" data-target="#myModal">
                            <div class="row" data-toggle="tooltip" title="IQC">
                                <a href="/Project/ProjectIQC?ProjectKey=IQE"><img src="~/Content/images/PJ/IQC.png" style="height:75px; width:auto"></a>
                            </div>
                        </div>
                        <div class="col-xs-3"></div>
                    </div>

                    <div class="col-xs-1">
                    </div>
                </div>
            </div>
        </div>
    }

    if (!string.IsNullOrEmpty(projectdata.Description))
    {
        <hr style="border-color:#006DC0;margin-top: 40px;" />
    }

    <div class="form-group" data-intro="Project Description." data-step="5">
        <div class="row">
            @if (!string.IsNullOrEmpty(projectdata.Description))
            {
                <div MYTP="blue" class="col-xs-2 text-left" style="font-family:'Arial Narrow';font-size:18px"><strong>Description</strong></div>
                <div class="col-xs-10 text-left">@Html.Raw(projectdata.Description)</div>
            }
            else
            {
                <div class="col-xs-12 text-center"></div>
            }
        </div>
    </div>

}


