@model Prometheus.Models.ProjectYieldViewModule

@{
    ViewBag.Title = "ProjectBRYieldDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-1 text-right">
        <img src="~/Content/images/PJ/Yield.png" style="height:45px; width:45px">
    </div>
    <div class="col-xs-11">
        <ol class="breadcrumb" style="font-size:18px">
            <li><a data-toggle="tooltip" title="Goto ViewAll" href="/Project/ViewAll">All Projects</a></li>
            @if (Model != null)
            {
                <li><a data-toggle="tooltip" title="Goto Project Detail" href="/Project/ProjectDetail?ProjectKey=@(Model.ProjectKey)">Project Detail</a></li>
                <li><a data-toggle="tooltip" title="Goto Yield Main Page" href="/Project/ProjectYieldMain?ProjectKey=@(Model.ProjectKey)">Yield Main</a></li>
                <li><a data-toggle="tooltip" title="Goto Yield Page" href="/Project/Project@(ViewBag.BRType)Yield?ProjectKey=@(Model.ProjectKey+ "&BRNUM="+ ViewBag.BRNUM)">@(ViewBag.BRType) Yield</a></li>
                <li class="active">@Model.ProjectKey @ViewBag.BRType Yield Detail</li>
            }
            else
            {
                <li class="active">Project Yield Detail</li>
            }
        </ol>
    </div>
</div>

<div class="row text-center">
    <h3>@(ViewBag.BRType + ": " + ViewBag.BRNUM)</h3>
</div>

@if (Model != null)
{
    <div class="row" style="font-size:18px"><strong>&nbsp;&nbsp;FPY</strong></div>
    <div class="row">
        <div class="col-xs-12">&nbsp;</div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th><font color="white">Test</font></th>
                        @foreach (var item in Model.FirstYields)
                        {
                            <th><font color="white">@item.WhichTest</font></th>
                        }
                        <th><font color="white">Sum Yield</font></th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th>Input</th>
                        @foreach (var item in Model.FirstYields)
                        {
                            <td>@item.InputCount</td>
                        }
                        <td></td>
                    </tr>
                    <tr>
                        <th>Output</th>
                        @foreach (var item in Model.FirstYields)
                        {
                            <td>@item.OutputCount</td>
                        }
                        <td></td>
                    </tr>
                    <tr>
                        <th>Yield</th>
                        @foreach (var item in Model.FirstYields)
                        {
                            <td>@((item.Yield * 100.0).ToString("0.00"))%</td>
                        }
                        <td>@((Model.FirstYield * 100.0).ToString("0.00"))%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">&nbsp;</div>
    </div>

    <div class="row" style="font-size:18px"><strong>&nbsp;&nbsp;FY</strong></div>
    <div class="row">
        <div class="col-xs-12">&nbsp;</div>
    </div>

    <div class="row">

        <div class="col-xs-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th><font color="white">Test</font></th>
                        @foreach (var item in Model.LastYields)
                        {
                            <th><font color="white">@item.WhichTest</font></th>
                        }
                        <th><font color="white">Sum Yield</font></th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th>Input</th>
                        @foreach (var item in Model.LastYields)
                        {
                            <td>@item.InputCount</td>
                        }
                        <td></td>
                    </tr>
                    <tr>
                        <th>Output</th>
                        @foreach (var item in Model.LastYields)
                        {
                            <td>@item.OutputCount</td>
                        }
                        <td></td>
                    </tr>
                    <tr>
                        <th>Yield</th>
                        @foreach (var item in Model.LastYields)
                        {
                            <td>@((item.Yield * 100.0).ToString("0.00"))%</td>
                        }
                        <td>@((Model.LastYield * 100.0).ToString("0.00"))%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">&nbsp;</div>
    </div>

    <div class="row" style="font-size:18px"><strong>&nbsp;&nbsp;SNY</strong></div>
    <div class="row">
        <div class="col-xs-12">&nbsp;</div>
    </div>

    <div class="row">

        <div class="col-xs-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th><font color="white">Test</font></th>
                        @foreach (var item in Model.SNYields)
                        {
                            <th><font color="white">@item.WhichTest</font></th>
                        }
                        <th><font color="white">Sum Yield</font></th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th>Input</th>
                        @foreach (var item in Model.SNYields)
                        {
                            <td>@item.InputCount</td>
                        }
                        <td></td>
                    </tr>
                    <tr>
                        <th>Output</th>
                        @foreach (var item in Model.SNYields)
                        {
                            <td>@item.OutputCount</td>
                        }
                        <td></td>
                    </tr>
                    <tr>
                        <th>Yield</th>
                        @foreach (var item in Model.SNYields)
                        {
                            <td>@((item.Yield * 100.0).ToString("0.00"))%</td>
                        }
                        <td>@((Model.SNYield * 100.0).ToString("0.00"))%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">&nbsp;</div>
    </div>

    <div class="row" style="font-size:18px"><strong>&nbsp;&nbsp;Test Result Pie Chart</strong></div>
        <div class="row">
            <div class="col-xs-12">&nbsp;</div>
        </div>
        
        <div class="row">
            <div class="col-xs-12">

                <div class="col-xs-6 text-left">
                    @if (ViewBag.fchartscript != null)
                    {
                        <div id="ffailurepie" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                        @Html.Raw(ViewBag.fchartscript)
                    }

                </div>
                <div class="col-xs-6 text-left">
                    @if (ViewBag.fychartscript != null)
                    {
                        <div id="fyfailurepie" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                        @Html.Raw(ViewBag.fychartscript)
                    }
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">&nbsp;</div>
        </div>

        <div class="row" style="font-size:18px"><strong>&nbsp;&nbsp;First Test Result</strong></div>
        <div class="row">
            <div class="col-xs-12">&nbsp;</div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <table id="fpfailuretb" class="display" cellspacing="0">
                    <thead>
                        <tr style="color:white;">
                            <th>ErrAbbr</th>
                            @foreach (var item in Model.FirstYields)
                            {
                                <th>@item.WhichTest</th>
                            }
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            //var eklist = new List<string>();
                            //foreach (var error in Model.FErrorMap.Keys)
                            //{
                            //    eklist.Add(error);
                            //}

                            foreach (var error in ViewBag.ferrorkeylist)
                            {
                                <tr style="height:20px;">
                                    <td>@error</td>
                                    @foreach (var test in Model.FirstYields)
                                    {
                                        var val = Prometheus.Models.ProjectYieldViewModule.RetrieveErrorCount(error, test.WhichTest, Model.FErrorMap);
                                        <td>@val</td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <script type="text/javascript">
                                $(document).ready(function() {
                                    $('#fpfailuretb').DataTable({
                                        'iDisplayLength': 10,
                                        'aLengthMenu': [[10, 20, 30, -1],
                                                        [10, 20, 30, "All"]],
                                        "bAutoWidth": false,
                                        "aaSorting": [],
                                        "order": []
                                    });
                                            } );
                </script>
            </div>
        </div>

                    <div class="row">
                        <div class="col-xs-12">&nbsp;</div>
                    </div>

                    <div class="row" style="font-size:18px"><strong>&nbsp;&nbsp;Final Test Result</strong></div>
                    <div class="row">
                        <div class="col-xs-12">&nbsp;</div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <table id="flfailuretable" class="display" cellspacing="0">
                                <thead>
                                    <tr style="color:white;">
                                        <th>ErrAbbr</th>
                                        @foreach (var item in Model.LastYields)
                                        {
                                            <th>@item.WhichTest</th>
                                        }
                                    </tr>
                                </thead>

                                <tbody>
                                    @{
                                        //eklist = new List<string>();
                                        //foreach (var error in Model.LErrorMap.Keys)
                                        //{
                                        //    eklist.Add(error);
                                        //}

                                        foreach (var error in ViewBag.rerrorkeylist)
                                        {
                                            <tr style="height:20px;">
                                                <td>@error</td>
                                                @foreach (var test in Model.LastYields)
                                                {
                                                    var val = Prometheus.Models.ProjectYieldViewModule.RetrieveErrorCount(error, test.WhichTest, Model.LErrorMap);
                                                    <td>@val</td>
                                                }
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <script type="text/javascript">
                                $(document).ready(function() {
                                    $('#flfailuretable').DataTable({
                                        'iDisplayLength': 10,
                                        'aLengthMenu': [[10, 20, 30, -1],
                                                        [10, 20, 30, "All"]],
                                        "bAutoWidth": false,
                                        "aaSorting": [],
                                        "order": []
                                    });
                                            } );
                            </script>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-12">&nbsp;</div>
                    </div>

                    <div class="row" style="font-size:18px"><strong>&nbsp;&nbsp;SN Trace Result</strong></div>
                    <div class="row">
                        <div class="col-xs-12">&nbsp;</div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <table id="snfailuretable" class="display" cellspacing="0">
                                <thead>
                                    <tr style="color:white;">
                                        <th>ErrAbbr</th>
                                        @foreach (var item in Model.SNYields)
                                        {
                                            <th>@item.WhichTest</th>
                                        }
                                    </tr>
                                </thead>

                                <tbody>
                                    @{
                                        //eklist = new List<string>();
                                        //foreach (var error in Model.SNErrorMap.Keys)
                                        //{
                                        //    eklist.Add(error);
                                        //}

                                        foreach (var error in ViewBag.snerrorkeylist)
                                        {
                                            <tr style="height:20px;">
                                                <td>@error</td>
                                                @foreach (var test in Model.SNYields)
                                                {
                                                    var val = Prometheus.Models.ProjectYieldViewModule.RetrieveErrorCount(error, test.WhichTest, Model.SNErrorMap);
                                                    <td>@val</td>
                                                }
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <script type="text/javascript">
                                $(document).ready(function() {
                                    $('#snfailuretable').DataTable({
                                        'iDisplayLength': 10,
                                        'aLengthMenu': [[10, 20, 30, -1],
                                                        [10, 20, 30, "All"]],
                                        "bAutoWidth": false,
                                        "aaSorting": [],
                                        "order": []
                                    });
                                            } );
                            </script>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-12">&nbsp;</div>
                    </div>

                    <div class="row" style="font-size:18px"><strong>&nbsp;&nbsp;Defect Pareto</strong></div>
                    <div class="row">
                        <div class="col-xs-12">&nbsp;</div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">

                            <div class="col-xs-6 text-left">
                                @if (ViewBag.fparetoscript != null)
                                {
                                    <div id="fparetochart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                                    @Html.Raw(ViewBag.fparetoscript)
                                }
                            </div>
                            <div class="col-xs-6 text-left">
                                    @if (ViewBag.fyparetoscript != null)
                                    {
                                        <div id="fyparetochart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                                        @Html.Raw(ViewBag.fyparetoscript)
                                    }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-6 text-left">
                                @if (ViewBag.rchartscript != null)
                                {
                                    <div id="rfailurepie" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                                    @Html.Raw(ViewBag.rchartscript)
                                }
                            </div>
                            <div class="col-xs-6 text-left">
                                @if (ViewBag.rparetoscript != null)
                                {
                                    <div id="rparetochart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                                    @Html.Raw(ViewBag.rparetoscript)
                                }
                            </div>
                            
                        </div>
                    </div>
                                        }
