@model IEnumerable<Prometheus.Models.ProjectErrorViewModels>

@{
    ViewBag.Title = "DebugTree";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">&nbsp;</div>
</div>

<div class="row">
    <div class="col-lg-12">&nbsp;</div>
</div>


<div class="row">
    <div class="col-lg-1 text-right">
        <img src="~/Content/images/PJ/DebugTreeicon.png" style="height:45px; width:45px">
    </div>
    <div class="col-lg-11">
        <ol class="breadcrumb" style="font-size:18px">
            <li><a data-toggle="tooltip" title="Goto ViewAll" href="/Project/ViewAll">All Projects</a></li>
            @if (Model != null && Model.Count() > 0)
            {
                <li><a data-toggle="tooltip" title="Goto Project Detail" href="/Project/ProjectDetail?ProjectKey=@(Model.ElementAt(0).ProjectKey)">Project Detail</a></li>
            }

            @if (Model != null && Model.Count() > 0)
            {
                <li class="active">@(Model.ElementAt(0).ProjectKey) Debug Tree</li>
            }
            else
            {
                <li class="active">Project Debug Tree</li>
            }
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">&nbsp;</div>
</div>


<script src="~/Scripts/highcharts.js"></script>
<script src="~/Scripts/exporting.js"></script>

@if (ViewBag.chartscript != null)
{
    @Html.Raw(ViewBag.chartscript)

    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div id="failurepie" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
        <div class="col-lg-2"></div>
    </div>
}

<div class="row">
    <div class="col-lg-12">&nbsp;</div>
</div>


@if (Model != null)
{
    <div class="row" style="background-color:#006DC0;font-family:'Arial Narrow';font-size:18px">
        <div class="col-lg-2 text-center"><font color="white">Error Code</font></div>
        <div class="col-lg-3 text-center"><font color="white">Short Desc</font></div>
        <div class="col-lg-2 text-center"><font color="white">Count</font></div>
        <div class="col-lg-1 text-center"><font color="white">Attachement</font></div>
        <div class="col-lg-1 text-center"><font color="white">FA</font></div>
        <div class="col-lg-3 text-center"></div>
    </div>

    <hr/>

    foreach (var item in Model)
    {
        <div class="row">
            <div class="col-lg-2 text-center">
            @if (item.CommentList.Count > 0)
            {<span class="badge alert-success">C</span>}<a href="/Project/UpdateProjectError?ErrorKey=@item.ErrorKey">@item.OrignalCode</a></div>
            <div class="col-lg-3 text-center">@item.ShortDesc</div>
            <div class="col-lg-2 text-center">@item.ErrorCount</div>
            @if (item.AttachList.Count > 0)
            {
                <div class="col-lg-1 text-center"><a href="/Project/ErrorAttach?ErrorKey=@item.ErrorKey" target="_blank"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></a></div>
            }
            else
            {
                <div class="col-lg-1 text-center"></div>
            }
            <div class="col-lg-1 text-center"><a href="/Project/ProjectErrAbbr?ProjectKey=@item.ProjectKey&ErrAbbr=@item.OrignalCode"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span></a></div>
            <div class="col-lg-3 text-center"></div>
        </div>
        <hr/>
     }
}
