@model IEnumerable<Prometheus.Models.IssueViewModels>

@{
    ViewBag.Title = "ProjectSptTask";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="nav navbar-nav navbar-left">
        <img src="~/Content/images/PJ/Spt.png" style="height:35px; width:35px;margin-right: 15px;">
    </div>
    <div class="nav navbar-nav navbar-left">
        <ol class="breadcrumb" style="width:600px">
            <li><a data-toggle="tooltip" title="Goto ViewAll" href="/Project/ViewAll">All Projects</a></li>
            <li class="active">Special Task</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">&nbsp;</div>
</div>

<div class="row">
    <div class="col-lg-12">&nbsp;</div>
</div>

<div MYTP="green" style="font-family:'Arial Narrow';font-size:18px"><strong>&nbsp;&nbsp;Critical Tasks</strong></div>

<div class="row">
    <div class="col-lg-12">&nbsp;</div>
</div>

<table id="pndatatable" class="display" cellspacing="0">
    <thead>
        <tr>
            <th>Project</th>
            <th>ModuleSN</th>
            <th>Tag</th>
            <th>Failure Desc</th>
            <th>ErrAbbr</th>
            <th>FA Status</th>
            <th>Assignee</th>
            <th>Date</th>
            <th><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProjectKey</td>
                <td>@item.ModuleSN</td>
                <td>
                    @if (item.RootCauseCommentList.Count > 0
                    || item.ResultCommentList.Count > 0
                    || item.CommentList.Count > 2
                    || (item.CommentList.Count > 1 && item.CommentList[1].Comment.Length > 150))
                    {
                        <span class="badge alert-success">C</span>
                    }
                    @if (!string.IsNullOrEmpty(item.LYT))
                    {
                        <span class="badge alert-danger">LYT</span>
                    }
                </td>
                <td>
                    <a href="/Issue/UpdateIssue?issuekey=@item.IssueKey">@item.Summary</a>
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.ErrAbbr))
                    {
                        <a href="/Project/ProjectErrAbbr?ProjectKey=@item.ProjectKey&ErrAbbr=@item.ErrAbbr">@item.ErrAbbr</a>
                        <a href="/Project/UpdateProjectError2?ProjectKey=@item.ProjectKey&ErrorCode=@item.ErrAbbr"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                    }
                </td>
                <td>
                    @Html.Raw(@Prometheus.Models.Resolute.ColorStatus(@item.Resolution))
                </td>
                <td>
                    <a href="/User/UserCenter?username=@item.Assignee">@item.Assignee.Split(new char[] { '@' })[0]</a>
                </td>
                <td>
                    @item.ReportDate.ToString("yy-MM-dd")
                </td>
                <td>
                    @if (item.AttachList.Count > 0)
                    {
                        <a href="/Issue/IssueAttach?issuekey=@item.IssueKey" target="_blank">
                            <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
                $(document).ready(function () {
                    $('#pndatatable').DataTable({
                        'iDisplayLength': 10,
                        'aLengthMenu': [[10, 20, 30, -1],
                                        [10, 20, 30, "All"]],
                        "aaSorting": [],
                        "order": []
                    });
                })
</script>

@if (ViewBag.rules.Count > 0)
{
    <div class="row">
        <div class="col-lg-12">&nbsp;</div>
    </div>
    <div MYTP="orange" style="font-family:'Arial Narrow';font-size:18px"><strong>&nbsp;&nbsp;Critical Rules</strong></div>
    <div class="row">
        <div class="col-lg-12">&nbsp;</div>
    </div>
    <table id="ruletable" class="display">
        <thead>
            <tr>
                <th>Project</th>
                <th>Error Code</th>
                <th>Test Case</th>
                <th>Data Field</th>
                <th>Temperature</th>
                <th>Channel</th>
                <th>Low Limit</th>
                <th>High Limit</th>
                <th>Algorithm</th>
                <th>Algorithm Param</th>
                <th>FA Switch</th>
                <th>Related People</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.rules)
            {
                <tr>
                    <td>@item.ProjectKey</td>
                    <td>@item.ErrorCode</td>
                    <td>@item.TestCaseName</td>
                    <td>@item.MatchCond</td>
                    <td>@item.Temperature</td>
                    <td>@item.Channel</td>
                    @if (item.WithLimit == 1)
                    {
                        <td>@item.LowLimit</td>
                        <td>@item.HighLimit</td>
                    }
                    else
                    {
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    }
                    @if (item.WithAlgorithm == 1)
                    {
                        <td>@item.Algorithm</td>
                        <td>@item.AlgorithmParam</td>
                    }
                    else
                    {
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    }
                    <td>
                        @if (item.Appv_1 > 0)
                        {
                            <button class="form-control" type="button" data-toggle="tooltip" style="border:0px;border-color:transparent!important;background-color:transparent!important;" title="red means no FA will be create after test data fail to match this rule" onclick="OpenFASwitch('PJKey=@(item.ProjectKey)&ErrorCode=@(item.ErrorCode)&TestCase=@(item.TestCaseName)&MatchCond=@(item.MatchCond)')">
                                <span class="glyphicon glyphicon-filter" aria-hidden="true" style="color:red"></span>
                            </button>
                        }
                        else
                        {
                            <button class="form-control" type="button" data-toggle="tooltip" style="border:0px;border-color:transparent!important;background-color:transparent!important;" title="green means FA will be create after test data fail to match this rule" onclick="CloseFASwitch('PJKey=@(item.ProjectKey)&ErrorCode=@(item.ErrorCode)&TestCase=@(item.TestCaseName)&MatchCond=@(item.MatchCond)')">
                                <span class="glyphicon glyphicon-filter" aria-hidden="true" style="color:green"></span>
                            </button>
                        }
                    </td>
                    <td>@item.Appv_4.Replace("@FINISAR.COM", "")</td>
                </tr>
            }
        </tbody>
    </table>

    <script type="text/javascript">
                    $(document).ready(function () {
                        $('#ruletable').DataTable({
                            'iDisplayLength': 10,
                            'aLengthMenu': [[10, 20, 30, -1],
                                            [10, 20, 30, "All"]],
                            "aaSorting": [],
                            "order": []
                        });
                    })
    </script>
}
