@model IEnumerable<Prometheus.Models.IssueViewModels>

@{
    ViewBag.Title = "ProjectIQC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-1 text-right">
        <img src="~/Content/images/PJ/IQC.png" style="height:45px; width:45px">
    </div>
    <div class="col-xs-11">
        <ol class="breadcrumb" style="font-size:18px">
            <li><a data-toggle="tooltip" title="Goto ViewAll" href="/Project/ViewAll">All Projects</a></li>
            @if (ViewBag.data.Count > 0)
            {
                <li><a data-toggle="tooltip" title="Goto Project Detail" href="/Project/ProjectDetail?ProjectKey=@(ViewBag.pKey)">Project Detail</a></li>
            }
            <li class="active">@(ViewBag.pKey + " ")IQC Task</li>
        </ol>
    </div>
</div>
<div class="row">
    <input type="hidden" id="pKey" name="pKey" value="@ViewBag.pKey" />
    <div class="col-xs-1">
        <label class="control-label" for="StartDate">StartDate</label>
    </div>
    <div class="col-xs-2">
        <input class="form-control text-box single-line datepicker" id="StartDate"
               name="StartDate" type="text" value="@ViewBag.sDate" />
    </div>
    <div class="col-xs-1">
        <label class="control-label" for="EndDate">EndDate</label>
    </div>
    <div class="col-xs-2">
        <input class="form-control text-box single-line datepicker" id="EndDate"
               name="EndDate" type="text" value="@ViewBag.eDate" />
    </div>
    <div class="col-xs-2">
        <input type="button" class="btn btn-success" name="btn-search" id="btn-search" value="Search" />
    </div>
    <script type="text/javascript">
        function GoToAll() {
            window.location.href = '/Project/ViewAll';
        }
        $("body").on('click', '#btn-search', function () {
            var pKey = $.trim($('#pKey').val());
            var sDate = $.trim($('#StartDate').val());
            var eDate = $.trim($('#EndDate').val());
            window.location.href = '/Project/ProjectIQC?ProjectKey=' + pKey + '&sDate=' + sDate + '&eDate=' + eDate;
        })
        $(document).ready(function () {
            $(".datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'yy-mm-dd'
            });
        });
    </script>
</div>

@if (ViewBag.data.Count > 0)
{
    var i = 0;
    <table id="firsttable" name="firsttable" class="display" cellspacing="0">
        <thead>
            <tr style="color:white;">
                <th style="text-align:center">&nbsp;</th>
                <th style="text-align:center">IQC#</th>
                <th style="text-align:center">Summary</th>
                <th style="text-align:center">RootCause</th>
                <th style="text-align:center">Owner</th>
                <th style="text-align:center">IQE</th>
                <th style="text-align:center">Report Date</th>
                <th style="text-align:center">Resolution</th>
                <th style="text-align:center"><font color="white"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></font></th>
                <th style="text-align:center"><img src="~/Content/images/icon/LowYield.png" style="height:16px;width:16px" /></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.data)
            {
                    var rmatitle = item.Value.Summary.Trim();

                <tr>
                    <td style="text-align:center">@(i+1)</td>
                    <td style="text-align:center">
                        @if (!string.IsNullOrEmpty(item.Value.LYT))
                        {
                            <span class="badge alert-danger">LYT</span>
                        }
                        @item.Value.ModuleSN
                    </td>
                    <td style="text-align:center;font-size:9px;" data-toggle="tooltip" title="@rmatitle"><a href="/Issue/UpdateIssue?issuekey=@item.Value.IssueKey">@rmatitle</a></td>
                    @if (item.Value.NRootCauseList != null && item.Value.NRootCauseList.Count > 0)
                    {
                        <td style="text-align:center"><a href="/Issue/ShowRootCause?issuekey=@(item.Value.IssueKey)" target="_blank">@Html.Raw(@Prometheus.Models.Resolute.ColorStatus(Prometheus.Models.Resolute.Done))</a></td>
                    }
                    else
                    {
                        <td style="text-align:center">@Html.Raw(@Prometheus.Models.Resolute.ColorStatus(Prometheus.Models.Resolute.Pending))</td>
                    }
                    <td style="text-align:center"><a href="/User/UserCenter?username=@item.Value.Assignee">@item.Value.Assignee.Split(new string[] { "@" }, StringSplitOptions.None)[0]</a></td>
                    <td style="text-align:center"><a href="/User/UserCenter?username=@item.Value.Reporter">@item.Value.Reporter.Split(new string[] { "@" }, StringSplitOptions.None)[0]</a></td>
                    <td style="text-align:center">@item.Value.ReportDate.ToString("yy-MM-dd")</td>
                    <td style="text-align:center">@Html.Raw(@Prometheus.Models.Resolute.ColorStatus2(item.Value.Resolution))</td>
                    <td style="text-align:center">
                        @if (item.Value.NAttachList != null && item.Value.NAttachList.Count > 0)
                        {
                            <a href="/Issue/IssueAttach?issuekey=@item.Value.IssueKey" target="_blank">
                                <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                            </a>
                        }
                    </td>
                    <td style="text-align:center"><img src="~/Content/images/icon/LowYield.png" MYTP="HOVER" data-toggle="tooltip" title="Critical Error Alarm" style="height:16px;width:16px" onclick="LowYieldWarning('@item.Value.IssueKey')"></td>
                </tr>
                <tr>



            </tr>
                i = i + 1;
            }
        </tbody>
    </table>
    <script type="text/javascript">
            $(document).ready(function () {
                $('#firsttable').DataTable({
                    'iDisplayLength': 20,
                    'aLengthMenu': [[20, 50, 100, -1],
                                    [20, 50, 100, "All"]],
                    "aaSorting": false,
                    "order": false
                });
            });

            function LowYieldWarning(oBT) {
                if (confirm("Warning: only FA assignee can trigger Critical Error Alarm.")) {
                    var myurl = "/Project/LowYieldWarn?IssueKey=" + oBT;
                    window.open(myurl, '_blank');
                }
            }
    </script>
}