@model IEnumerable<Prometheus.Models.IssueViewModels>

@{
    ViewBag.Title = "ProjectRMAStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="nav navbar-nav navbar-left">
        <img src="~/Content/images/PJ/RMA.png" style="height:35px; width:35px;margin-right: 15px;">
    </div>
    <div class="nav navbar-nav navbar-left">
        <ol class="breadcrumb" style="width:600px">
            <li><a data-toggle="tooltip" title="Goto ViewAll" href="/Project/ViewAll">All Projects</a></li>
            @if (ViewBag.data.Count > 0)
            {
                <li><a data-toggle="tooltip" title="Goto Project Detail" href="/Project/ProjectDetail?ProjectKey=@(ViewBag.pKey)">Project Detail</a></li>
            }
            <li class="active">@(ViewBag.pKey + " ")Project RMA Status</li>
        </ol>
    </div>
</div>

<div class="row row-margin">
    <input type="hidden" id="pKey" name="pKey" value="@ViewBag.pKey" />
    <div class="col-xs-1">
        <label class="control-label" for="StartDate">StartDate</label>
    </div>
    <div class="col-xs-2">
        <input class="form-control text-box single-line datepicker" id="StartDate"
               name="StartDate" type="text" value="@ViewBag.sDate" />
    </div>
    <div class="col-xs-1">
        <label class="control-label" for="EndDate">EndDate</label>
    </div>
    <div class="col-xs-2">
        <input class="form-control text-box single-line datepicker" id="EndDate"
               name="EndDate" type="text" value="@ViewBag.eDate" />
    </div>
    <div class="col-xs-2">
        <input type="button" class="btn btn-success" name="btn-search" id="btn-search" value="Search" />
    </div>
    <div class="col-xs-1">
        <button class="form-control" data-toggle="tooltip" title="Export RMA Report" onclick="ShareRMA()" type="button"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span></button>
    </div>
    <div class="col-xs-1">
        <button class="form-control" data-toggle="tooltip" title="Export All RMA Report" onclick="ShareAllRMA()" type="button"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>ALL</button>
    </div>
</div>
@if (ViewBag.data.Count > 0)
{
    if (ViewBag.chartscript != null)
    {
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
                <div id="failurepie" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
            </div>
            <div class="col-xs-2"></div>
        </div>
        @Html.Raw(ViewBag.chartscript)
    }

    var i = 0;
    <table id="firsttable" class="display" cellspacing="0">
        <thead>
            <tr>
                <th style="text-align:center">&nbsp;</th>
                <th style="text-align:center"><font color="white">RMA#</font></th>
                <th style="text-align:center"><font color="white">SN</font></th>
                <th style="text-align:center">Summary</th>
                <th style="text-align:center"><font color="white">RootCause</font></th>
                <th style="text-align:center"><font color="white">FV</font></th>
                <th style="text-align:center"><font color="white">RMA Failure</font></th>
                <th style="text-align:center"><font color="white">Owner</font></th>
                <th style="text-align:center"><font color="white">Report Date</font></th>
                <th style="text-align:center"><font color="white">Resolution</font></th>
                <th style="text-align:center"><font color="white"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></font></th>
                <th style="text-align:center"><img src="~/Content/images/icon/LowYield.png" style="height:16px;width:16px"/></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.data)
            {
                var splitstrs = item.Value.Summary.Split(new string[] { "from" }, StringSplitOptions.None);
                var rmatitle = item.Value.Summary;
                if (splitstrs.Length > 1)
                {
                    rmatitle = splitstrs[1].Trim();
                }

                <tr>
                    <td style="text-align:center">@(i+1)</td>
                    <td style="text-align:center">
                        @if (!string.IsNullOrEmpty(item.Value.LYT))
                        {
                            <span class="badge alert-danger">LYT</span>
                        }
                        @item.Value.FinisarRMA
                    </td>
                    <td style="text-align:center">@item.Value.ModuleSN</td>
                    <td style="text-align:center;font-size:9px;" data-toggle="tooltip" title="@rmatitle"><a href="/Issue/UpdateIssue?issuekey=@item.Value.IssueKey">@rmatitle</a></td>
                    @if (item.Value.NRootCauseList != null
                        && ((!item.Value.NRootCauseList[0].Comment.Contains(Prometheus.Models.IssueCommentEmpty.TOBEEDIT) && item.Value.NRootCauseList[0].Comment.Length > 0)
                        || (item.Value.NRootCauseList[0].Comment.Contains(Prometheus.Models.IssueCommentEmpty.TOBEEDIT) && item.Value.NRootCauseList[0].Comment.Length > 30)))
                    {

                        <td style="text-align:center"><a href="/Issue/ShowRootCause?issuekey=@(item.Value.IssueKey)" target="_blank">@Html.Raw(@Prometheus.Models.Resolute.ColorStatus(Prometheus.Models.Resolute.Done))</a></td>
                    }
                    else
                    {
                        <td style="text-align:center">@Html.Raw(@Prometheus.Models.Resolute.ColorStatus(Prometheus.Models.Resolute.Pending))</td>
                    }
                    <td style="text-align:center">@item.Value.FVCode</td>
                    <td style="text-align:center">@item.Value.RMAFailureCode</td>
                    <td style="text-align:center"><a href="/User/UserCenter?username=@item.Value.Assignee">@item.Value.Assignee.Split(new string[] { "@" }, StringSplitOptions.None)[0]</a></td>
                    <td style="text-align:center">@item.Value.ReportDate.ToString("yy-MM-dd")</td>
                    <td style="text-align:center">@Html.Raw(@Prometheus.Models.Resolute.ColorStatus2(item.Value.Resolution))</td>
                    <td style="text-align:center">
                        @if (item.Value.NAttachList != null && item.Value.NAttachList.Count > 0)
                        {
                            <a href="/Issue/IssueAttach?issuekey=@item.Value.IssueKey" target="_blank">
                                <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                            </a>
                        }
                    </td>
                    <td style="text-align:center"><img src="~/Content/images/icon/LowYield.png" MYTP="HOVER" data-toggle="tooltip" title="Critical Error Alarm" style="height:16px;width:16px" onclick="LowYieldWarning('@item.Value.IssueKey')"></td>
                </tr>
                i = i + 1;
            }
        </tbody>
    </table>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#firsttable').DataTable({
                'iDisplayLength': 20,
                'aLengthMenu': [[20, 50, 100, -1],
                [20, 50, 100, "All"]],
                "aaSorting": false,
                "order": false,
                dom: 'lBfrtip',
                buttons: ['copyHtml5', 'csv', 'excelHtml5']
            });
            $(".datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'yy-mm-dd'
            });
        });

        function LowYieldWarning(oBT) {
            if (confirm("Warning: only FA assignee can trigger Critical Error Alarm.")) {
                var myurl = "/Project/LowYieldWarn?IssueKey=" + oBT;
                window.open(myurl, '_blank');
            }
        }

        $("body").on('click', '#btn-search', function () {
            var pKey = $.trim($('#pKey').val());
            var sDate = $.trim($('#StartDate').val());
            var eDate = $.trim($('#EndDate').val());
            window.location.href = '/Project/ProjectRMAStatus?ProjectKey=' + pKey + '&sDate=' + sDate + '&eDate=' + eDate;
        })

        function ShareRMA() {
            var pKey = $.trim($('#pKey').val());
            var sDate = $.trim($('#StartDate').val());
            var eDate = $.trim($('#EndDate').val());
            var myurl = '/Issue/ExportRMAData?ProjectKey=' + pKey + '&StartDate=' + sDate + '&EndDate=' + eDate;
            window.open(myurl, '_blank');
        }

        function ShareAllRMA() {
            var pKey = $.trim($('#pKey').val());
            var myurl = '/Issue/ExportRMAData?ProjectKey=' + pKey;
            window.open(myurl, '_blank');
        }
    </script>
}
