@model IEnumerable<Prometheus.Models.ProjectFAViewModules>

@{
    ViewBag.Title = "ProjectFA";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var fadata = (List<Prometheus.Models.ProjectFAViewModules>)Model;
}

<div class="row">
    <div class="col-md-2">
        <h2>Project FA</h2>
    </div>
    <div class="col-md-2">
        @if (ViewBag.chartscript == null && fadata != null && fadata.Count > 0)
        {
            <h2><a data-toggle="tooltip" title="Goto FA Page" href="/Project/ProjectFA?ProjectKey=@(fadata[0].TestData.ProjectKey)"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a></h2>
        }
        else
        {
            <h2><a data-toggle="tooltip" title="Goto ViewAll Page" href="/Project/ViewAll"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a></h2>
        }
     </div>
        

    <div class="col-md-2">
        @if (Model != null && fadata.Count > 0 && ViewBag.chartscript != null)
        {
            using (Html.BeginForm("ProjectDoneFA", "Project", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <input class="form-control text-box single-line" value="@(fadata[0].IssueData.ProjectKey)" id="HProjectKey" name="HProjectKey" type="hidden" />
                <button data-toggle="tooltip" title="Done FA" type="submit" class="btn btn-default" style="font-size:1.5em; margin-top: 0.83em;margin-bottom: 0.83em;width:100%;">FA Done</button>
            }
        }
    </div>

    <div class="col-md-6"></div>
</div>

<hr/>

<script src="~/Scripts/highcharts.js"></script>
<script src="~/Scripts/exporting.js"></script>

    @if (ViewBag.chartscript != null)
    {
        @Html.Raw(ViewBag.chartscript)

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Failure</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div id="failurepie" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="row">
    @if (ViewBag.chartscript == null && fadata != null && fadata.Count > 0 && ViewBag.DoneIssueList != null)
    {
        <div class="col-md-3 text-center">ModuleSN</div>
        <div class="col-md-2 text-center">ErrAbbr</div>
        <div class="col-md-1 text-center">FA Status</div>
        <div class="col-md-1 text-center">Assignee</div>
        <div class="col-md-3 text-center">Issue</div>
        <div class="col-md-1 text-center">Date</div>
        <div class="col-md-1 text-center">Attachment</div>
    }
    else
    {
        <div class="col-md-1 text-center">ModuleSN</div>
        <div class="col-md-2 text-center">ErrAbbr</div>
        <div class="col-md-2 text-center">FA Status</div>
        <div class="col-md-2 text-center">Assignee</div>
        <div class="col-md-3 text-center">Issue</div>
        <div class="col-md-1 text-center">Date</div>
        <div class="col-md-1 text-center">Attachment</div>
    }
    </div>
    <hr />

@using (Html.BeginForm("SameAsIssue", "Issue", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    if (Model != null)
    {
        var i = 0;
        foreach (var item in Model)
        {
            if (ViewBag.chartscript == null && fadata != null && fadata.Count > 0 && ViewBag.DoneIssueList != null)
            {
                <div class="row">
                    <div class="col-md-3 text-center">
                        <div class="col-md-3">
                            <span class="input-group-addon">
                                <input type="checkbox" id="check@(i)" name="check@(i)" value="true"/>
                            </span>
                            <input class="form-control text-box single-line" value="@item.IssueData.IssueKey" id="HIssueKey@(i)" name="HIssueKey@(i)" type="hidden" />
                        </div>
                        <div class="col-md-9">@item.TestData.ModuleSerialNum</div>
                    </div>
                    <div class="col-md-2 text-center">
                        <div class="col-md-8">
                            <a href="/Project/ProjectErrAbbr?ProjectKey=@item.TestData.ProjectKey&ErrAbbr=@item.TestData.ErrAbbr">@item.TestData.ErrAbbr</a>
                        </div>
                        <div class="col-md-4">
                            <a href="/Project/UpdateProjectError2?ProjectKey=@item.TestData.ProjectKey&ErrorCode=@item.TestData.ErrAbbr"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                        </div>
                    </div>
                    <div class="col-md-1 text-center">@Html.Raw(@Prometheus.Models.Resolute.ColorStatus(@item.IssueData.Resolution))</div>
                    <div class="col-md-1 text-center"><a href="/User/UserCenter?username=@item.IssueData.Assignee">@item.IssueData.Assignee.Split(new char[] { '@' })[0]</a></div>
                    <div class="col-md-3 text-center"><a href="/Issue/UpdateIssue?issuekey=@item.IssueData.IssueKey">@item.IssueData.Summary</a></div>
                    <div class="col-md-1 text-center">@item.IssueData.ReportDate.ToString("MM/dd-yy")</div>
                    <div class="col-md-1 text-center">
                        @if (item.IssueData.AttachList.Count > 0)
                        {
                            <a href="/Issue/IssueAttach?issuekey=@item.IssueData.IssueKey">
                                <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                            </a>
                        }
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-md-1 text-center">
                        @item.TestData.ModuleSerialNum
                    </div>
                    <div class="col-md-2 text-center">
                        <div class="col-md-8">
                            <a href="/Project/ProjectErrAbbr?ProjectKey=@item.TestData.ProjectKey&ErrAbbr=@item.TestData.ErrAbbr">@item.TestData.ErrAbbr</a>
                        </div>
                        <div class="col-md-4">
                            <a href="/Project/UpdateProjectError2?ProjectKey=@item.TestData.ProjectKey&ErrorCode=@item.TestData.ErrAbbr"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                        </div>
                    </div>
                    <div class="col-md-2 text-center">@Html.Raw(@Prometheus.Models.Resolute.ColorStatus(@item.IssueData.Resolution))</div>
                    <div class="col-md-2 text-center"><a href="/User/UserCenter?username=@item.IssueData.Assignee">@item.IssueData.Assignee.Split(new char[] { '@' })[0]</a></div>
                    <div class="col-md-3 text-center"><a href="/Issue/UpdateIssue?issuekey=@item.IssueData.IssueKey">@item.IssueData.Summary</a></div>
                    <div class="col-md-1 text-center">@item.IssueData.ReportDate.ToString("MM/dd-yy")</div>
                    <div class="col-md-1 text-center">
                        @if (item.IssueData.AttachList.Count > 0)
                        {
                            <a href="/Issue/IssueAttach?issuekey=@item.IssueData.IssueKey">
                                <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                            </a>
                        }
                    </div>
                </div>
            }

            <hr />
            i = i + 1;
        }
    }

    if (ViewBag.chartscript == null && fadata != null && fadata.Count > 0 && ViewBag.DoneIssueList != null)
    {
        <div class="row">
            <div class="col-md-2 text-center">
                <input type="submit" value="Same As" class="btn btn-default" />
            </div>
            <div class="col-md-10 text-center">
                @Html.DropDownList("DoneIssueList", null, new { @id = "DoneIssueList", @class = "form-control"})
            </div>
        </div>
    }
}
