@model IEnumerable<Prometheus.Models.IssueViewModels>

@{
    ViewBag.Title = "Quality Task";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-1 text-right">
        <img src="~/Content/images/PJ/quailty.png" style="height:45px; width:45px">
    </div>
    <div class="col-xs-11">
        <ol class="breadcrumb" style="font-size:18px">
            <li><a data-toggle="tooltip" title="Goto ViewAll" href="/Project/ViewAll">All Projects</a></li>
            @if (ViewBag.data.Count > 0)
            {
                <li><a data-toggle="tooltip" title="Goto Project Detail" href="/Project/ProjectDetail?ProjectKey=@(ViewBag.pKey)">Project Detail</a></li>
            }
            <li class="active">@(ViewBag.pKey + " ") Quality Task</li>
        </ol>
    </div>
</div>

<div class="row">
    <input type="hidden" id="pKey" name="pKey" value="@ViewBag.pKey" />
    <div class="col-xs-1">
        <label class="control-label" for="StartDate">StartDate</label>
    </div>
    <div class="col-xs-2">
        <input class="form-control text-box single-line datepicker" id="StartDate"
               name="StartDate" type="text" value="@ViewBag.sDate" />
    </div>
    <div class="col-xs-1">
        <label class="control-label" for="EndDate">EndDate</label>
    </div>
    <div class="col-xs-2">
        <input class="form-control text-box single-line datepicker" id="EndDate"
               name="EndDate" type="text" value="@ViewBag.eDate" />
    </div>
    <div class="col-xs-2">
        <input type="button" class="btn btn-success" name="btn-search" id="btn-search" value="Search" />
    </div>
    <div class="col-xs-1">
        <button class="form-control" data-toggle="tooltip" title="Export All Quality Report" onclick="ShareAllRMA()" type="button"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>&nbsp;&nbsp;ALL</button>
    </div>
    <script type="text/javascript">
        function GoToAll() {
            window.location.href = '/Project/ViewAll';
        }
        $("body").on('click', '#btn-search', function () {
            var pKey = $.trim($('#pKey').val());
            var sDate = $.trim($('#StartDate').val());
            var eDate = $.trim($('#EndDate').val());
            window.location.href = '/Project/ProjectQuality?ProjectKey=' + pKey + '&sDate=' + sDate + '&eDate=' + eDate;
        })
        $(document).ready(function () {
            $(".datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'yy-mm-dd'
            });
        });
        function ShareAllRMA() {

            var pKey = $.trim($('#pKey').val());
            var sDate = $.trim($('#StartDate').val());
            var eDate = $.trim($('#EndDate').val());
            var myurl = '/Issue/ExportAllQualityData?ProjectKey=' + pKey + '&StartDate=' + sDate + '&EndDate=' + eDate;
            window.open(myurl, '_blank');
        }
    </script>

</div>
<hr />

@if (ViewBag.data.Count > 0)
{
    var i = 0;
    <table id="firsttable" name="firsttable" class="table table-bordered table-hover">
        <thead class="header">
            <tr style="color:white;">
                <th width="12%">Failure Mode</th>
                <th width="8%">Product Type</th>
                <th width="8%">Affect Range</th>
                <th width="8%">Priority</th>
                <th width="8%">Product Disposal</th>
                <th width="8%">Analysis</th>
                <th width="8%">RootCause</th>
                @*<th width="8%">Containment Action</th>
                <th width="8%">Corrective Action</th>*@
                <th width="8%">Owner</th>
                <th width="8%">Report Date</th>
                <th width="8%">Attachment</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.data)
                {
                    var rmatitle = item.Value.Summary.Trim();

                <tr>
                    <td width="12%">
                        <div class="row">
                            <div class="col-xs-4">
                                @(ViewBag.data.Count - i)
                            </div>
                            <div class="col-xs-8">
                                <button data-toggle="tooltip" title="Critical Error Alarm" class="form-control" value="@item.Value.IssueKey" type="button" onclick="LowYieldWarning(this)">
                                    <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </td>
                    <td colspan="8" width="80%">
                        <a href="/Issue/UpdateIssue?issuekey=@item.Value.IssueKey">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                            @rmatitle.Substring(0, rmatitle.Length > 125 ? 125 : rmatitle.Length)
                        </a>
                    </td>
                    <td width="8%">@Html.Raw(@Prometheus.Models.Resolute.ColorStatus2(item.Value.Resolution))</td>
                </tr>
                <tr>
                    <td width="12%">
                        @if (!string.IsNullOrEmpty(item.Value.LYT))
                        {
                            <span class="badge alert-danger">LYT</span>
                        }
                        @item.Value.RMAFailureCode
                    </td>

                    <td width="8%">@item.Value.ProductType</td>
                    <td width="8%">@item.Value.AffectRange</td>
                    <td width="8%">@item.Value.Priority</td>
                    <td width="8%">@item.Value.MaterialDisposition</td>

                    @if (item.Value.NAnalysisCommentList != null && item.Value.NAnalysisCommentList.Count > 0)
                    {
                        <td width="8%"><a href="/Issue/ShowAnalysis?issuekey=@(item.Value.IssueKey)" target="_blank">@Html.Raw(@Prometheus.Models.Resolute.ColorStatus(Prometheus.Models.Resolute.Done))</a></td>
                    }
                    else
                    {
                        <td width="8%">@Html.Raw(@Prometheus.Models.Resolute.ColorStatus(Prometheus.Models.Resolute.Pending))</td>
                    }

                    @if (item.Value.NRootCauseList != null && item.Value.NRootCauseList.Count > 0)
                    {
                        <td width="8%"><a href="/Issue/ShowRootCause?issuekey=@(item.Value.IssueKey)" target="_blank">@Html.Raw(@Prometheus.Models.Resolute.ColorStatus(Prometheus.Models.Resolute.Done))</a></td>
                    }
                    else
                    {
                        <td width="8%">@Html.Raw(@Prometheus.Models.Resolute.ColorStatus(Prometheus.Models.Resolute.Pending))</td>
                    }

                    @*@if (item.Value.NContainMent != null && item.Value.NContainMent.Count > 0)
                    {
                        <td width="12%"><a href="/Issue/ShowContainmentAction?issuekey=@(item.Value.IssueKey)" target="_blank">@Html.Raw(@Prometheus.Models.Resolute.ColorStatus(item.Value.NContainMent[0].Resolution))</a></td>
                    }
                    else
                    {
                        <td width="12%">N/A</td>
                    }

                    @if (item.Value.NCorrectMent != null && item.Value.NCorrectMent.Count > 0)
                    {
                        <td width="12%"><a href="/Issue/ShowCorrectiveAction?issuekey=@(item.Value.IssueKey)" target="_blank">@Html.Raw(@Prometheus.Models.Resolute.ColorStatus(item.Value.NCorrectMent[0].Resolution))</a></td>
                    }
                    else
                    {
                        <td width="12%">N/A</td>
                    }*@

                    <td width="8%"><a href="/User/UserCenter?username=@item.Value.Assignee">@item.Value.Assignee.Split(new string[] { "@" }, StringSplitOptions.None)[0]</a></td>
                    <td width="8%">@item.Value.ReportDate.ToString("MM/dd")</td>
                    <td width="8%">
                        @if (item.Value.NAttachList != null && item.Value.NAttachList.Count > 0)
                        {
                            <a href="/Issue/IssueAttach?issuekey=@item.Value.IssueKey" target="_blank">
                                <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                            </a>
                        }
                </td>
            </tr>
                i = i + 1;
            }
        </tbody>
    </table>
    <script type="text/javascript">
        $(document).ready(function () {
            var offset = $('.navbar').height();
            $("#firsttable").stickyTableHeaders({ fixedOffset: offset });
        });

        function LowYieldWarning(oBT) {
            if (confirm("Warning: only OBA issue assignee can trigger Critical Error Alarm.")) {
                var myurl = "/Project/LowYieldWarn?IssueKey=" + oBT.value;
                window.open(myurl, '_blank');
            }
        }
    </script>
}
