@model IEnumerable<Prometheus.Models.IssueViewModels>

@{
    ViewBag.Title = "ProjectRMAStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">&nbsp;</div>
</div>

<div class="row">
    <div class="col-lg-12">&nbsp;</div>
</div>


<div class="row">
    <div class="col-lg-1 text-right">
        <img src="~/Content/images/PJ/RMA.png" style="height:45px; width:45px">
    </div>
    <div class="col-lg-11">
        <ol class="breadcrumb" style="font-size:18px">
            <li><a data-toggle="tooltip" title="Goto ViewAll" href="/Project/ViewAll">All Projects</a></li>
            @if (Model != null && Model.Count() > 0)
            {
                <li><a data-toggle="tooltip" title="Goto Project Detail" href="/Project/ProjectDetail?ProjectKey=@(Model.ElementAt(0).ProjectKey)">Project Detail</a></li>
            }

            @if (Model != null && Model.Count() > 0)
            {
                <li class="active">@(Model.ElementAt(0).ProjectKey) RMA Status</li>
            }
            else
            {
                <li class="active">Project RMA Status</li>
            }
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">&nbsp;</div>
</div>


    @if (Model != null)
    {
        <script src="~/Scripts/highcharts.js"></script>
        <script src="~/Scripts/exporting.js"></script>

        if (ViewBag.chartscript != null)
        {
            @Html.Raw(ViewBag.chartscript)

            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div id="failurepie" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
                </div>
                <div class="col-lg-2"></div>
            </div>

            <div class="row">
                <div class="col-lg-12">&nbsp;</div>
            </div>
        }

        var i = 0;
        @*<table id="firsttable" name="firsttable" class="table table-bordered table-hover">*@
        <table id="firsttable"  class="display" cellspacing="0">
            <thead>
                <tr>
                    <th width="10%"><font color="white">RMA#</font></th>
                    <th width="10%"><font color="white">SN</font></th>
                    <th width="8%"><font color="white">RootCause</font></th>
                    <th width="8%"><font color="white">FV</font></th>
                    <th width="8%"><font color="white">RMA Failure</font></th>
                    <th width="8%"><font color="white">Containment</font></th>
                    <th width="8%"><font color="white">Corrective</font></th>
                    <th width="10%"><font color="white">Internal RPT</font></th>
                    <th width="10%"><font color="white">Customer RPT</font></th>
                    <th width="10%"><font color="white">Owner</font></th>
                    <th width="10%"><font color="white">Report Date</font></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var rmatitle = item.Summary.Split(new string[] { "from" }, StringSplitOptions.None)[1].Trim();

                    <tr>
                        <td width="10%">
                            <div class="row">
                                <div class="col-lg-4">
                                    @(Model.Count() - i)
                                </div>
                                <div class="col-lg-8">
                                    <button data-toggle="tooltip" title="Low Yield Trigger" class="form-control" value="@item.IssueKey" type="button" onclick="LowYieldWarning(this)">
                                        <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td colspan="9" width="80%">
                            <a href="/Issue/UpdateIssue?issuekey=@item.IssueKey">
                                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                                @rmatitle.Substring(0, rmatitle.Length > 200 ? 200 : rmatitle.Length)
                            </a>
                        </td>
                        <td style="display: none;"></td>
                        <td style="display: none;"></td>
                        <td style="display: none;"></td>
                        <td style="display: none;"></td>
                        <td style="display: none;"></td>
                        <td style="display: none;"></td>
                        <td style="display: none;"></td>
                        <td style="display: none;"></td>
                        <td width="10%">@Html.Raw(@Prometheus.Models.Resolute.ColorStatus2(item.Resolution))</td>
                    </tr>
                    <tr>
                        <td width="10%">
                            @if (!string.IsNullOrEmpty(item.LYT))
                            {
                                <span class="badge alert-danger">LYT</span>
                            }
                            @item.FinisarRMA
                        </td>
                        <td width="10%">@item.ModuleSN</td>
                        @if (item.RootCauseCommentList.Count > 0)
                    {
                            <td width="8%"><a href="/Issue/ShowRootCause?issuekey=@(item.IssueKey)" target="_blank">@Html.Raw(@Prometheus.Models.Resolute.ColorStatus(Prometheus.Models.Resolute.Done))</a></td>
                        }
                        else
                        {
                            <td width="8%">@Html.Raw(@Prometheus.Models.Resolute.ColorStatus(Prometheus.Models.Resolute.Pending))</td>
                        }

                        <td width="8%">@item.FVCode</td>
                        <td width="8%">@item.RMAFailureCode</td>

                        @if (item.ContainmentActions.Count > 0)
                    {
                            <td width="8%"><a href="/Issue/ShowContainmentAction?issuekey=@(item.IssueKey)" target="_blank">@Html.Raw(item.ContainmentActionStatus())</a></td>
                        }
                        else
                        {
                            <td width="8%">N/A</td>
                        }

                        @if (item.CorrectiveActions.Count > 0)
                    {
                            <td width="8%"><a href="/Issue/ShowCorrectiveAction?issuekey=@(item.IssueKey)" target="_blank">@Html.Raw(item.CorrectiveActionStatus())</a></td>
                        }
                        else
                        {
                            <td width="8%">N/A</td>
                        }

                       @if (item.InternalReportCommentList.Count > 0)
                       {
                        if (item.InternalReportCommentList[item.InternalReportCommentList.Count - 1].Comment.Contains("<a href"))
                        {
                            var originalstr = System.Text.RegularExpressions.Regex.Replace(
                                                        item.InternalReportCommentList[item.InternalReportCommentList.Count - 1].Comment, "<.*?>", string.Empty);
                            var newcomment = item.InternalReportCommentList[item.InternalReportCommentList.Count - 1].Comment.Replace(originalstr
                                , Prometheus.Models.Resolute.ColorStatus(Prometheus.Models.Resolute.Done));
                                <td width="10%">@Html.Raw(newcomment)</td>
                            }
                            else
                            {
                                <td width="10%"><p><a href="@item.InternalReportCommentList[item.InternalReportCommentList.Count - 1].Comment" target="_blank">@Html.Raw(Prometheus.Models.Resolute.ColorStatus(Prometheus.Models.Resolute.Done))</a></p></td>
                            }
                        }
                        else if (item.InternalAttachList.Count > 0)
                        {
                            <td width="10%"><p><a href="@item.InternalAttachList[item.InternalAttachList.Count - 1]" target="_blank">@Html.Raw(Prometheus.Models.Resolute.ColorStatus(Prometheus.Models.Resolute.Done))</a></p></td>
                        }
                        else
                        {
                            <td width="10%">@Html.Raw(@Prometheus.Models.Resolute.ColorStatus(Prometheus.Models.Resolute.Pending))</td>
                        }

                        @if (item.Report4CustomerCommentList.Count > 0)
                    {
                        if (item.Report4CustomerCommentList[item.Report4CustomerCommentList.Count - 1].Comment.Contains("<a href"))
                        {
                            var originalstr = System.Text.RegularExpressions.Regex.Replace(
                                item.Report4CustomerCommentList[item.Report4CustomerCommentList.Count - 1].Comment, "<.*?>", string.Empty);
                            var newcomment = item.Report4CustomerCommentList[item.Report4CustomerCommentList.Count - 1].Comment.Replace(originalstr
                                , Prometheus.Models.Resolute.ColorStatus(Prometheus.Models.Resolute.Done));

                                <td width="10%">@Html.Raw(newcomment)</td>
                            }
                            else
                            {
                                <td width="10%"><p><a href="@item.Report4CustomerCommentList[item.Report4CustomerCommentList.Count - 1].Comment" target="_blank">@Html.Raw(Prometheus.Models.Resolute.ColorStatus(Prometheus.Models.Resolute.Done))</a></p></td>
                            }
                        }
                        else if (item.CustomAttachList.Count > 0)
                        {
                            <td width="10%"><p><a href="@item.CustomAttachList[item.CustomAttachList.Count - 1]" target="_blank">@Html.Raw(Prometheus.Models.Resolute.ColorStatus(Prometheus.Models.Resolute.Done))</a></p></td>
                        }
                        else
                        {
                            <td width="10%">@Html.Raw(@Prometheus.Models.Resolute.ColorStatus(Prometheus.Models.Resolute.Pending))</td>
                        }

                        <td width="10%"><a href="/User/UserCenter?username=@item.Assignee">@item.Assignee.Split(new string[] { "@" }, StringSplitOptions.None)[0]</a></td>
                        <td width="10%">@item.ReportDate.ToString("MM/dd-yy")</td>
                    </tr>
                    i = i + 1;
                }
            </tbody>
        </table>
        <script type="text/javascript">
            //$(document).ready(function () {
            //    var offset = $('.navbar').height();
            //    offset = 1.6 * offset;
            //    $("#firsttable").stickyTableHeaders({ fixedOffset: offset });
            //});

            $(document).ready(function () {
                $('#firsttable').DataTable({
                    'iDisplayLength': 20,
                    'aLengthMenu': [[20, 50, 100, -1],
                                    [20, 50, 100, "All"]],
                    "aaSorting": [],
                    "order": []
                });
            });

            function LowYieldWarning(oBT) {
                if (confirm("Warning: only RMA assignee can trigger Low Yield Trigger.")) {
                    var myurl = "/Project/LowYieldWarn?IssueKey=" + oBT.value;
                    window.open(myurl, '_blank');
                }
            }
        </script>

        <div class="row">
            <div class="col-lg-12">&nbsp;</div>
        </div>

        <div class="row">
            @if (Model != null && Model.Count() > 0)
            {
                <div class="col-lg-1">
                    <label class="control-label" for="StartDate">StartDate</label>
                </div>
                <div class="col-lg-2">
                    <input class="form-control text-box single-line" id="StartDate" name="StartDate" type="text" value="" />
                </div>
                <div class="col-lg-1">
                    <label class="control-label" for="EndDate">EndDate</label>
                </div>
                <div class="col-lg-2">
                    <input class="form-control text-box single-line" id="EndDate" name="EndDate" type="text" value="" />
                </div>
            }
            else
            {
                <div class="col-lg-6">
                </div>
            }

            <div class="col-lg-1">
                @if (Model != null && Model.Count() > 0)
                {
                    <button class="form-control" data-toggle="tooltip" title="Export RMA Report" onclick="ShareRMA()" type="button"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span></button>
                }

            </div>
            <div class="col-lg-1">
                @if (Model != null && Model.Count() > 0)
                {
                    <button class="form-control" data-toggle="tooltip" title="Export All RMA Report" onclick="ShareAllRMA()" type="button"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>ALL</button>
                }

            </div>

            <div class="col-lg-1">
            </div>
            <div class="col-lg-3"></div>

            @if (Model != null && Model.Count() > 0)
            {
                <script type="text/javascript">
        $(document).ready(function () {
            $("#StartDate").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'yy-mm-dd'
            });
            $("#EndDate").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'yy-mm-dd'
            });
        });

            function ShareRMA() {
                if (document.getElementById("StartDate").value && document.getElementById("EndDate").value) {
                    var myurl = '/Issue/ExportRMAData?ProjectKey=@Model.ElementAt(0).ProjectKey&StartDate=' + document.getElementById("StartDate").value + '&EndDate=' + document.getElementById("EndDate").value;
                    window.open(myurl, '_blank');
                }
                else {
                    var myurl = '/Issue/ExportRMAData?ProjectKey=@Model.ElementAt(0).ProjectKey&StartDate=NONE&EndDate=NONE';
                    window.open(myurl, '_blank');
                }
            }

            function ShareAllRMA() {
                if (document.getElementById("StartDate").value && document.getElementById("EndDate").value) {
                    var myurl = '/Issue/ExportAllRMAData?StartDate=' + document.getElementById("StartDate").value + '&EndDate=' + document.getElementById("EndDate").value;
                    window.open(myurl, '_blank');
                }
                else
                {
                    var myurl = '/Issue/ExportAllRMAData?StartDate=NONE&EndDate=NONE';
                    window.open(myurl, '_blank');
                }
        }
                </script>
            }

        </div>
    }
