@model IEnumerable<Prometheus.Models.IssueViewModels>

@{
    ViewBag.Title = "ProjectSptTask";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="nav navbar-nav navbar-left">
        <img src="~/Content/images/PJ/Spt.png" height="35" width="35" style="margin-right: 1%;">
    </div>
    <div class="nav navbar-nav navbar-left">
        <ol class="breadcrumb">
            <li><a data-toggle="tooltip" title="Goto ViewAll" href="/Project/ViewAll">All Projects</a></li>
            @if (Model != null && Model.Count() > 0)
            {
                <li><a data-toggle="tooltip" title="Goto Project Detail" href="/Project/ProjectDetail?ProjectKey=@(Model.ElementAt(0).ProjectKey)">Project Detail</a></li>
            }
            <li class="active">Special Task</li>
        </ol>
    </div>
</div>

<div class="row cirtical-info" MYTP="green">
    <strong class="pro-info-eng">Critical Tasks</strong>
</div>
<div class="row">
    <input type="hidden" id="pqe_flag" name="pqe_flag" value="@ViewBag.pqeFlag.ToString().ToUpper()" />
    <table id="pndatatable" class="display" cellspacing="0">
        <thead>
            <tr>
                <th>Project</th>
                <th>ModuleSN</th>
                <th>RootCause</th>
                <th>Failure Desc</th>
                <th>ErrAbbr</th>
                <th>FA Status</th>
                <th>Assignee</th>
                <th>Date</th>
                <th><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></th>
                <th>OCAP</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProjectKey</td>
                    @*<td>
                    @if (item.Resolution != Prometheus.Models.Resolute.Pending
                            && item.Resolution != Prometheus.Models.Resolute.Working
                                && item.Resolution != Prometheus.Models.Resolute.Reopen)
                    {
                        <input type="checkbox" class="checkbox-issuekey" data-data="@item.IssueKey" name="issuekey" />
                    }&nbsp;@item.ProjectKey</td>*@
                    <td>@item.ModuleSN</td>
                    <td>@item.SharedTag</td>
                    <td>
                        <a href="/Issue/UpdateIssue?issuekey=@item.IssueKey">@item.Summary.Replace(Prometheus.Models.CRITICALERRORTYPE.SECONDMATCH, "")</a>
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.ErrAbbr))
                        {
                            <a href="/Project/ProjectErrAbbr?ProjectKey=@item.ProjectKey&ErrAbbr=@item.ErrAbbr">@item.ErrAbbr</a>
                            <a href="/Project/UpdateProjectError2?ProjectKey=@item.ProjectKey&ErrorCode=@item.ErrAbbr"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                        }
                    </td>
                    <td class="text-center">
                        @Html.Raw(@Prometheus.Models.Resolute.ColorStatus(@item.Resolution))
                    </td>
                    <td class="text-center">
                        <a href="/User/UserCenter?username=@item.Assignee">@item.Assignee.Split(new char[] { '@' })[0]</a>
                    </td>
                    <td class="text-center">
                        @item.ReportDate.ToString("yy-MM-dd")
                    </td>
                    <td class="text-center">
                        @if (item.AttachList.Count > 0)
                        {
                            <a href="/Issue/IssueAttach?issuekey=@item.IssueKey" target="_blank">
                                <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                            </a>
                        }
                    </td>
                    <td class="text-center">
                        @if (item.Resolution != Prometheus.Models.Resolute.Pending
                                && item.Resolution != Prometheus.Models.Resolute.Working
                                    && item.Resolution != Prometheus.Models.Resolute.Reopen)
                        {
                            <span class="glyphicon glyphicon-warning-sign critical-task-ocap" data-key="@item.IssueKey" aria-hidden="true"></span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*<hr />
<div class="row">
    <div class="col-md-1 text-center">
        <input type="checkbox" id="checkAll" name="checkAll">
    </div>
    <button type="button" id="batch_ocap" name="batch_ocap" class="col-md-2 btn btn-success">OCAP</button>
</div>*@
<script type="text/javascript">
    $(document).ready(function () {
        $('#pndatatable').DataTable({
            'iDisplayLength': 10,
            'aLengthMenu': [[10, 20, 30, -1],
                            [10, 20, 30, "All"]],
            "aaSorting": [],
            "order": []
        });
    })
    $("body").on("click", ".critical-task-ocap", function () {
        var rst = confirm("Warning: only PQE can trigger OCAP Alarm.");
        if (rst) {
            var pqeFlag = $("#pqe_flag").val();
            if (pqeFlag === "TRUE") {
                var issuekey = $(this).attr("data-key");
                var myurl = "/Project/OcapWarn?IssueKeys=" + window.btoa(issuekey);
                window.open(myurl, '_blank');
            }
            else {
                alert("You are not PQE!");
            }
        }
        return false;
    });

    $("body").on("click", "#checkAll", function () {
        if ($(this).prop("checked")) {
            $('.checkbox-issuekey').prop("checked", true);
        }
        else {
            $('.checkbox-issuekey').prop("checked", false);
        }
    })

    $("body").on("click", "#batch_ocap", function () {
        var rst = confirm("Warning: only PQE can trigger OCAP Alarm.");
        if (rst) {
            var pqeFlag = $("#pqe_flag").val();
            if (pqeFlag === "TRUE") {
                var issueKeys = "";
                $(".checkbox-issuekey:checked").each(function () {
                    issueKeys += $(this).attr("data-data") + ";";
                });
                if (issueKeys === "") {
                    alert("Please at least choose one task!");
                    return false;
                }
                else {
                    var myurl = "/Project/OcapWarn?IssueKeys=" + window.btoa(issueKeys);
                    window.open(myurl, '_blank');
                }
            }
            else {
                alert("You are not PQE!");
            }
        }
        return false;
    });

</script>

@if (ViewBag.rules.Count > 0)
{
    <div class="row cirtical-info" MYTP="orange">
        <strong class="pro-info-eng">Critical Rules</strong>
    </div>
    <div class="row">
        <table id="ruletable" class="display" style="font-size: 10px">
            <thead>
                <tr>
                    <th>Project</th>
                    <th>Setting Reason</th>
                    <th>Error Code</th>
                    <th>Test Case</th>
                    <th>Data Field</th>
                    <th>Temperature</th>
                    <th>Channel</th>
                    <th>Low Limit</th>
                    <th>High Limit</th>
                    <th>Algorithm</th>
                    <th>Algorithm Param</th>
                    <th>FA Switch</th>
                    
                    <th>Related People</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.rules)
                {
                    <tr>
                        <td>@item.ProjectKey</td>
                        <td>@item.SettingReason</td>
                        <td>@item.ErrorCode</td>
                        <td>@item.TestCaseName</td>
                        <td>@item.MatchCond</td>
                        <td>@item.Temperature</td>
                        <td>@item.Channel</td>
                        <td>@((item.WithLimit == 1)?item.LowLimit:"")</td>
                        <td>@((item.WithLimit == 1) ? item.HighLimit : "")</td>
                        <td>@((item.WithAlgorithm == 1) ? item.Algorithm : "")</td>
                        <td>@((item.WithAlgorithm == 1) ? item.AlgorithmParam : "")</td>
                        <td>
                            @if (item.Appv_1 > 0)
                            {
                                <button class="form-control critical-task-rules-btn" type="button" data-toggle="tooltip" title="red means no FA will be create after test data fail to match this rule" onclick="OpenFASwitch('PJKey=@(item.ProjectKey)&ErrorCode=@(item.ErrorCode)&TestCase=@(item.TestCaseName)&MatchCond=@(item.MatchCond)')">
                                    <span class="glyphicon glyphicon-filter" aria-hidden="true" style="color:red"></span>
                                </button>
                            }
                            else
                            {
                                <button class="form-control critical-task-rules-btn" type="button" data-toggle="tooltip" title="green means FA will be create after test data fail to match this rule" onclick="CloseFASwitch('PJKey=@(item.ProjectKey)&ErrorCode=@(item.ErrorCode)&TestCase=@(item.TestCaseName)&MatchCond=@(item.MatchCond)')">
                                    <span class="glyphicon glyphicon-filter" aria-hidden="true" style="color:green"></span>
                                </button>
                            }
                        </td>
                        
                        <td>@item.Appv_4.Replace("@FINISAR.COM", "")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ruletable').DataTable({
                'iDisplayLength': 10,
                'aLengthMenu': [[10, 20, 30, -1],
                                [10, 20, 30, "All"]],
                "aaSorting": [],
                "order": []
            });
        })
    </script>
}
