@model IEnumerable<Prometheus.Models.ProjectFAViewModules>

@{
    ViewBag.Title = "ProjectFA";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var fadata = (List<Prometheus.Models.ProjectFAViewModules>)Model;
}

<div class="row">
    <div class="col-md-2">
        @if (ViewBag.projectkey != null)
        {
            <h2>@ViewBag.projectkey FA</h2>
        }
        else
        {
            <h2>Project FA</h2>
        }
    </div>
    <div class="col-md-2">
        @if (ViewBag.chartscript == null && ViewBag.projectkey != null)
        {
            <h2><a data-toggle="tooltip" title="Goto FA Page" href="/Project/ProjectFA?ProjectKey=@(ViewBag.projectkey)"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a></h2>
        }
        else if (ViewBag.projectkey != null)
        {
            <h2><a data-toggle="tooltip" title="Goto Project Detail" href="/Project/ProjectDetail?ProjectKey=@(ViewBag.projectkey)"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a></h2>

        }
        else
        {
            <h2><a data-toggle="tooltip" title="Goto ViewAll Page" href="/Project/ViewAll"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a></h2>
        }
     </div>
        

    <div class="col-md-2">
        @if (ViewBag.projectkey != null)
        {
            using (Html.BeginForm("ProjectDoneFA", "Project", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <input class="form-control text-box single-line" value="@(ViewBag.projectkey)" id="HProjectKey" name="HProjectKey" type="hidden" />
                <button data-toggle="tooltip" title="Done FA" type="submit" class="btn btn-default" style="font-size:1.5em; margin-top: 0.83em;margin-bottom: 0.83em;width:100%;">FA Done</button>
            }
        }
    </div>

    <div class="col-md-6"></div>
</div>

<hr/>

<script src="~/Scripts/highcharts.js"></script>
<script src="~/Scripts/exporting.js"></script>

    @if (ViewBag.chartscript != null)
    {
        @Html.Raw(ViewBag.chartscript)

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Failure</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div id="failurepie" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="row">
    @if (ViewBag.chartscript == null && fadata != null && fadata.Count > 0 && ViewBag.DoneIssueList != null)
    {
        <div class="col-md-2 text-center">ModuleSN</div>
        <div class="col-md-2 text-center">ErrAbbr</div>
        <div class="col-md-1 text-center">FA Status</div>
        <div class="col-md-1 text-center">Assignee</div>
        <div class="col-md-3 text-center">Issue</div>
        <div class="col-md-1 text-center">Date</div>
        <div class="col-md-1 text-center">Attachment</div>
        <div class="col-md-1 text-center">LYT</div>
    }
    else
    {
        <div class="col-md-2 text-center">ModuleSN</div>
        <div class="col-md-2 text-center">ErrAbbr</div>
        <div class="col-md-1 text-center">FA Status</div>
        <div class="col-md-1 text-center">Assignee</div>
        <div class="col-md-3 text-center">Issue</div>
        <div class="col-md-1 text-center">Date</div>
        <div class="col-md-1 text-center">Attachment</div>
        <div class="col-md-1 text-center">LYT</div>
    }
    </div>
    <hr />

@using (Html.BeginForm("SameAsIssue", "Issue", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    if (Model != null)
    {
        var i = 0;
        foreach (var item in Model)
        {
            if (ViewBag.chartscript == null && fadata != null && fadata.Count > 0 && ViewBag.DoneIssueList != null)
            {
                <div class="row">
                    <div class="col-md-2 text-center">
                        <div class="col-md-3">
                            <span class="input-group-addon">
                                <input type="checkbox" id="check@(i)" name="check@(i)" value="true"/>
                            </span>
                            @if (!string.IsNullOrEmpty(item.IssueData.LYT))
                            {
                                <span class="badge alert-danger">LYT</span>
                            }
                            <input class="form-control text-box single-line" value="@item.IssueData.IssueKey" id="HIssueKey@(i)" name="HIssueKey@(i)" type="hidden" />
                        </div>
                        <div class="col-md-9"><a href="/Project/SNIssue?ProjectKey=@item.TestData.ProjectKey&SN=@item.TestData.ModuleSerialNum">@item.TestData.ModuleSerialNum</a></div>
                    </div>
                    <div class="col-md-2 text-center">
                        <div class="col-md-8">
                            <a href="/Project/ProjectErrAbbr?ProjectKey=@item.TestData.ProjectKey&ErrAbbr=@item.TestData.ErrAbbr">@item.TestData.ErrAbbr</a>
                        </div>
                        <div class="col-md-4">
                            <a href="/Project/UpdateProjectError2?ProjectKey=@item.TestData.ProjectKey&ErrorCode=@item.TestData.ErrAbbr"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                        </div>
                    </div>
                    <div class="col-md-1 text-center">@Html.Raw(@Prometheus.Models.Resolute.ColorStatus(@item.IssueData.Resolution))</div>
                    <div class="col-md-1 text-center"><a href="/User/UserCenter?username=@item.IssueData.Assignee">@item.IssueData.Assignee.Split(new char[] { '@' })[0]</a></div>
                    <div class="col-md-3 text-center"><a href="/Issue/UpdateIssue?issuekey=@item.IssueData.IssueKey">@item.IssueData.Summary</a></div>
                    <div class="col-md-1 text-center">@item.IssueData.ReportDate.ToString("MM/dd-yy")</div>
                    <div class="col-md-1 text-center">
                        @if (item.IssueData.AttachList.Count > 0)
                        {
                            <a href="/Issue/IssueAttach?issuekey=@item.IssueData.IssueKey" target="_blank">
                                <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                            </a>
                        }
                    </div>
                    <div class="col-md-1 text-center">
                        <button data-toggle="tooltip" title="Low Yield Trigger" class="form-control" value="@item.IssueData.IssueKey" type="button" onclick="LowYieldWarning(this)">
                            <span class="glyphicon glyphicon-share" aria-hidden="true"></span></button>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-md-2 text-center">
                        @if (!string.IsNullOrEmpty(item.IssueData.LYT))
                        {
                            <span class="badge alert-danger">LYT</span>
                        }
                        <a href="/Project/SNIssue?ProjectKey=@item.TestData.ProjectKey&SN=@item.TestData.ModuleSerialNum">@item.TestData.ModuleSerialNum</a>
                    </div>
                    <div class="col-md-2 text-center">
                        <div class="col-md-8">
                            <a href="/Project/ProjectErrAbbr?ProjectKey=@item.TestData.ProjectKey&ErrAbbr=@item.TestData.ErrAbbr">@item.TestData.ErrAbbr</a>
                        </div>
                        <div class="col-md-4">
                            <a href="/Project/UpdateProjectError2?ProjectKey=@item.TestData.ProjectKey&ErrorCode=@item.TestData.ErrAbbr"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                        </div>
                    </div>
                    <div class="col-md-1 text-center">@Html.Raw(@Prometheus.Models.Resolute.ColorStatus(@item.IssueData.Resolution))</div>
                    <div class="col-md-1 text-center"><a href="/User/UserCenter?username=@item.IssueData.Assignee">@item.IssueData.Assignee.Split(new char[] { '@' })[0]</a></div>
                    <div class="col-md-3 text-center"><a href="/Issue/UpdateIssue?issuekey=@item.IssueData.IssueKey">@item.IssueData.Summary</a></div>
                    <div class="col-md-1 text-center">@item.IssueData.ReportDate.ToString("MM/dd-yy")</div>
                    <div class="col-md-1 text-center">
                        @if (item.IssueData.AttachList.Count > 0)
                        {
                            <a href="/Issue/IssueAttach?issuekey=@item.IssueData.IssueKey" target="_blank">
                                <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                            </a>
                        }
                    </div>
                    <div class="col-md-1 text-center">
                        <button data-toggle="tooltip" title="Low Yield Trigger" class="form-control" value="@item.IssueData.IssueKey" type="button" onclick="LowYieldWarning(this)">
                            <span class="glyphicon glyphicon-share" aria-hidden="true"></span></button>
                    </div>
                </div>
            }

            <hr />
            i = i + 1;
        }
    }

    <script type="text/javascript">
        function LowYieldWarning(oBT)
        {
            if (confirm("Warning: only FA assignee can trigger Low Yield Trigger."))
            {
                var myurl = "/Project/LowYieldWarn?IssueKey=" + oBT.value;
                window.open(myurl, '_blank');
            }
        }
    </script>

    if (ViewBag.chartscript == null && fadata != null && fadata.Count > 0 && ViewBag.DoneIssueList != null)
    {
        <div class="row">
            <div class="col-md-1 text-center">
                <span class="input-group-addon">
                    <input type="checkbox" id="checkall" name="checkall" onclick="ChooseAll(this)" />
                </span>
            </div>
            <div class="col-md-2 text-center">
                <input type="submit" value="Same As" class="btn btn-default" />
            </div>
            <div class="col-md-4 text-center">
                @Html.DropDownList("DoneIssueList", null, new { @id = "DoneIssueList", @class = "form-control"})
            </div>
            <div class="col-md-1 text-center">
                <button class="form-control" data-toggle="tooltip" title="View Selected Issue" onclick="ShowSelectIssue()" type="button"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
            </div>
            <div class="col-md-4 text-center">
            </div>
            <script type="text/javascript">
                function ChooseAll(oBox) {
                    if (oBox.checked === true)
                    {
                        for (var idx = 0; idx < 300; idx++)
                        {
                            if (document.getElementById("check" + idx)){
                                document.getElementById("check" + idx).checked = true;
                            }
                        }
                    }
                    else
                    {
                        for (var idx = 0; idx < 300; idx++) {
                            if (document.getElementById("check" + idx)) {
                                document.getElementById("check" + idx).checked = false;
                            }
                        }
                    }
                }

                function ShowSelectIssue()
                {
                    if (document.getElementById("DoneIssueList").value)
                    {
                        var myurl = '/Issue/UpdateIssue?issuekey=' + document.getElementById("DoneIssueList").value;
                        window.open(myurl, '_blank');
                    }
                }

            </script>
        </div>
    }
}
