@model IEnumerable<Prometheus.Models.ProjectEvent>

@{
    ViewBag.Title = "ProjectIssues";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var pendinglist = new List<Prometheus.Models.ProjectEvent>();
    var workinglist = new List<Prometheus.Models.ProjectEvent>();
    var donelist = new List<Prometheus.Models.ProjectEvent>();
}

@if (Model != null)
{
    foreach (var item in Model)
    {
        if (string.Compare(item.EventStatus, Prometheus.Models.ProjectEvent.Pending) == 0)
        {
            pendinglist.Add(item);
        }
        if (string.Compare(item.EventStatus, Prometheus.Models.ProjectEvent.Working) == 0)
        {
            workinglist.Add(item);
        }
        if (string.Compare(item.EventStatus, Prometheus.Models.ProjectEvent.Done) == 0)
        {
            donelist.Add(item);
        }
    }
}

@if (donelist.Count > 0)
{
    <h2>@donelist[0].ProjectKey Issues</h2>
}
else
{
    <h2>Project Issues</h2>
}

<hr />

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Pending</h3>
            </div>

            <div class="panel-body" style="max-height:420px;min-height:420px;overflow-y: scroll;overflow-x: scroll;">
                @foreach (var item in pendinglist)
                {
                    <div class="panel-body" style="max-height:20px;min-height:20px;">
                        @Html.Raw(item.Event)
                    </div>
                    <div class="panel-body text-right" style="max-height:10px;min-height:10px;">
                        @item.BuildDate.ToString()
                    </div>
                    <hr />
                }
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Working</h3>
            </div>

            <div class="panel-body" style="max-height:420px;min-height:420px;overflow-y: scroll;overflow-x: scroll;">
                @foreach (var item in workinglist)
                {
                    <div class="panel-body" style="max-height:20px;min-height:20px;">
                        @Html.Raw(item.Event)
                    </div>
                    <div class="panel-body text-right" style="max-height:10px;min-height:10px;">
                        @item.BuildDate.ToString()
                    </div>
                    <hr />
                }
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Done</h3>
            </div>

            <div class="panel-body" style="max-height:420px;min-height:420px;overflow-y: scroll;overflow-x: scroll;">
                @foreach (var item in donelist)
                {
                    <div class="panel-body" style="max-height:20px;min-height:20px;">
                        @Html.Raw(item.Event)
                    </div>
                    <div class="panel-body text-right" style="max-height:10px;min-height:10px;">
                        @item.BuildDate.ToString()
                    </div>
                    <hr />
                }
            </div>
        </div>
    </div>
</div>