@model IEnumerable<Prometheus.Models.IssueViewModels>

@{
    ViewBag.Title = "ProjectReliability";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-lg-12">&nbsp;</div>
</div>

<div class="row">
    <div class="col-lg-12">&nbsp;</div>
</div>


<div class="row">
    <div class="col-lg-1 text-right">
        <img src="~/Content/images/PJ/REL.png" style="height:45px; width:45px">
    </div>
    <div class="col-lg-11">
        <ol class="breadcrumb" style="font-size:18px">
            <li><a data-toggle="tooltip" title="Goto ViewAll" href="/Project/ViewAll">All Projects</a></li>
            @if (Model != null && Model.Count() > 0)
            {
                <li><a data-toggle="tooltip" title="Goto Project Detail" href="/Project/ProjectDetail?ProjectKey=@(Model.ElementAt(0).ProjectKey)">Project Detail</a></li>
            }

            @if (Model != null && Model.Count() > 0)
            {
                <li class="active">@(Model.ElementAt(0).ProjectKey) Reliability Task</li>
            }
            else
            {
                <li class="active">Reliability Task</li>
            }
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">&nbsp;</div>
</div>


@if (Model != null)
{
    <script src="~/Scripts/highcharts.js"></script>
        <script src="~/Scripts/exporting.js"></script>

    if (ViewBag.chartscript != null)
    {
        @Html.Raw(ViewBag.chartscript)

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Failure</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-12">
                            <div id="failurepie" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
    }

    var i = 0;
    <table id="firsttable" class="display" cellspacing="0">
        <thead>
            <tr style="color:white;">
                <th style="text-align:center">Product</th>
                <th style="text-align:center">Summary</th>
                <th style="text-align:center">Status</th>
                <th style="text-align:center">FV</th>

                <th style="text-align:center">Failure Verification</th>
                <th style="text-align:center">Containment Action</th>
                <th style="text-align:center">RootCause</th>
                <th style="text-align:center">Corrective Action</th>
                <th style="text-align:center">Verification 4 Corrective</th>

                <th style="text-align:center">Owner</th>
                <th style="text-align:center">Rel.Engineer</th>
                <th style="text-align:center">ReportDate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
                {

                <tr>
                    <td style="text-align:center">@item.ProductType</td>
                     <td style="text-align:center;font-size:9px;" data-toggle="tooltip" title="@item.Summary"><a href="/Issue/UpdateIssue?issuekey=@item.IssueKey">@item.Summary</a></td>
                    <td style="text-align:center">@Html.Raw(@Prometheus.Models.Resolute.ColorStatus2(item.Resolution))</td>
                    <td style="text-align:center">@item.FVCode</td>

                    @if (item.FailureVerifyActions.Count > 0)
                    {
                        <td style="text-align:center"><a href="/Issue/ShowVerifyAction?verifytype=@(Prometheus.Models.RELSubIssueType.FAILVERIFYACTION)&issuekey=@(item.IssueKey)" target="_blank">@Html.Raw(item.FVerifyActionStatus())</a></td>
                    }
                    else
                    {
                        <td style="text-align:center">N/A</td>
                    }

                    @if (item.ContainmentActions.Count > 0)
                    {
                        <td style="text-align:center"><a href="/Issue/ShowContainmentAction?issuekey=@(item.IssueKey)" target="_blank">@Html.Raw(item.ContainmentActionStatus())</a></td>
                    }
                    else
                    {
                        <td style="text-align:center">N/A</td>
                    }

                    @if (item.RootCauseCommentList.Count > 0)
                    {
                        if (item.RootCauseCommentList[0].Comment.Contains("ROOTCAUSE: to be edited"))
                        {
                            <td style="text-align:center">@Html.Raw(@Prometheus.Models.Resolute.ColorStatus(Prometheus.Models.Resolute.Pending))</td>
                        }
                        else
                        {
                            <td style="text-align:center"><a href="/Issue/ShowRootCause?issuekey=@(item.IssueKey)" target="_blank">@Html.Raw(@Prometheus.Models.Resolute.ColorStatus(Prometheus.Models.Resolute.Done))</a></td>
                        }
                    }
                    else
                    {
                        <td style="text-align:center">@Html.Raw(@Prometheus.Models.Resolute.ColorStatus(Prometheus.Models.Resolute.Pending))</td>
                    }

                    @if (item.CorrectiveActions.Count > 0)
                    {
                        <td style="text-align:center"><a href="/Issue/ShowCorrectiveAction?issuekey=@(item.IssueKey)" target="_blank">@Html.Raw(item.CorrectiveActionStatus())</a></td>
                    }
                    else
                    {
                        <td style="text-align:center">N/A</td>
                    }

                    @if (item.CorrectiveVerifyActions.Count > 0)
                    {
                        <td style="text-align:center"><a href="/Issue/ShowVerifyAction?verifytype=@(Prometheus.Models.RELSubIssueType.VERIFYCORRECTIVEACTION)&issuekey=@(item.IssueKey)" target="_blank">@Html.Raw(item.CVerifyActionStatus())</a></td>
                    }
                    else
                    {
                        <td style="text-align:center">N/A</td>
                    }

                    <td style="text-align:center"><a href="/User/UserCenter?username=@item.Assignee">@item.Assignee.Split(new string[] { "@" }, StringSplitOptions.None)[0]</a></td>
                    <td style="text-align:center"><a href="/User/UserCenter?username=@item.Reporter">@item.Reporter.Split(new string[] { "@" }, StringSplitOptions.None)[0]</a></td>
                    <td style="text-align:center">@item.ReportDate.ToString("MM/dd-yy")</td>
                </tr>
                i = i + 1;
            }
        </tbody>
    </table>

        <script type="text/javascript">
            $(document).ready(function () {
                $("#firsttable").DataTable({
                    'iDisplayLength': 50,
                    'aLengthMenu': [[25, 50, 100, -1],
                                    [25, 50, 100, "All"]],
                    "aaSorting": [],
                    "order": []
                });
            });

        </script>
}

