@model IEnumerable<Prometheus.Models.ProjectFAViewModules>

@{
    ViewBag.Title = "ProjectFA";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var fadata = (List<Prometheus.Models.ProjectFAViewModules>)Model;
}

<div class="row">
    <div class="col-xs-1 text-right">
        <img src="~/Content/images/PJ/FA.png" style="height:45px; width:45px">
    </div>
    <div class="col-xs-9">
        <ol class="breadcrumb" style="font-size:18px">
            <li><a data-toggle="tooltip" title="Goto ViewAll" href="/Project/ViewAll">All Projects</a></li>

            @if (ViewBag.projectkey != null)
            {
                <li><a data-toggle="tooltip" title="Goto Project Detail" href="/Project/ProjectDetail?ProjectKey=@(ViewBag.projectkey)">Project Detail</a></li>
                <li><a href="/Project/ProjectFA?ProjectKey=@(ViewBag.projectkey)">All Pending FA</a></li>
                <li class="active">@ViewBag.projectkey FA</li>
            }
            else
            {
                <li class="active">Project FA</li>
            }
        </ol>
    </div>
    <div class="col-xs-1 text-right">
        @if (ViewBag.projectkey != null)
        {
            using (Html.BeginForm("ProjectDoneFA", "Project", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <input class="form-control text-box single-line" value="@(ViewBag.projectkey)" id="HProjectKey" name="HProjectKey" type="hidden" />
                <button data-toggle="tooltip" title="Done FA" type="submit" class="btn btn-default" style="background-color:#006DC0;color:white;">FA Done</button>
            }
        }
    </div>
    <div class="col-xs-1 text-right"></div>
</div>


<div class="row">
    <div class="col-xs-12">&nbsp;</div>
</div>


@if (Model != null)
{
        using (Html.BeginForm("AsignIssues", "Issue", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
        var i = 0;

        <table id="pndatatable" class="display" cellspacing="0">
            <thead>
                <tr>
                    <td>ModuleSN</td>
                    <td>Tag</td>
                    <td>ErrAbbr</td>
                    <td>FA Status</td>
                    <td>Assignee</td>
                    <td>Failure Desc</td>
                    <td>Tester</td>
                    <td>Date</td>
                    <td><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></td>
                    <td>LYT</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            <a href="/Project/SNIssue?ProjectKey=@item.TestData.ProjectKey&SN=@item.TestData.ModuleSerialNum">@item.TestData.ModuleSerialNum</a>
                        </td>
                        <td>
                            <a href="http://cn-traceview/?search=@item.TestData.ModuleSerialNum" target='_blank'><span class="badge alert-success">T</span></a>
                            <input class="form-control text-box single-line" value="@item.IssueData.IssueKey" id="HIssueKey@(i)" name="HIssueKey@(i)" type="hidden" />
                            @if (item.IssueData.RootCauseCommentList.Count > 0
                            || item.IssueData.ResultCommentList.Count > 0
                            || item.IssueData.CommentList.Count > 2
                            || (item.IssueData.CommentList.Count > 1 && item.IssueData.CommentList[1].Comment.Length > 150))
                            {
                                <span class="badge alert-success">C</span>
                            }

                            @if (!string.IsNullOrEmpty(item.IssueData.LYT))
                            {
                                <span class="badge alert-danger">LYT</span>
                            }
                        </td>
                        <td>
                            <a href="/Project/ProjectErrAbbr?ProjectKey=@item.TestData.ProjectKey&ErrAbbr=@item.TestData.ErrAbbr">@item.TestData.ErrAbbr</a>
                            <a href="/Project/UpdateProjectError2?ProjectKey=@item.TestData.ProjectKey&ErrorCode=@item.TestData.ErrAbbr"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                        </td>
                        <td>
                            @Html.Raw(@Prometheus.Models.Resolute.ColorStatus(@item.IssueData.Resolution))
                        </td>
                        <td>
                            <a href="/User/UserCenter?username=@item.IssueData.Assignee">@item.IssueData.Assignee.Split(new char[] { '@' })[0]</a>

                            <input class="form-control text-box single-line" value="@item.IssueData.Assignee.ToUpper()" id="HAssignee@(i)" name="HAssignee@(i)" type="hidden" />
                            @if (@ViewBag.UpdaterName != null)
                            {
                                <input class="form-control text-box single-line" value="@ViewBag.UpdaterName" id="HUpdater@(i)" name="HUpdater@(i)" type="hidden" />
                            }
                            else
                            {
                                <input class="form-control text-box single-line" value="" id="HUpdater@(i)" name="HUpdater@(i)" type="hidden" />
                            }
                        </td>
                        <td>
                            <a href="/Issue/UpdateIssue?issuekey=@item.IssueData.IssueKey">@item.IssueData.Summary</a>
                        </td>
                        <td>@item.TestData.TestStation</td>
                        <td>
                            @item.IssueData.ReportDate.ToString("MM/dd")
                        </td>
                        <td>
                            @if (item.IssueData.AttachList.Count > 0)
                            {
                                <a href="/Issue/IssueAttach?issuekey=@item.IssueData.IssueKey" target="_blank">
                                    <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                                </a>
                            }
                        </td>
                        <td>
                            <img src="~/Content/images/icon/LowYield.png" MYTP="HOVER" style="height:16px;width:16px" onclick="LowYieldWarning('@item.IssueData.IssueKey')">
                        </td>
                    </tr>

                    i = i + 1;
                }
            </tbody>
        </table>

        <script type="text/javascript">
                $(document).ready(function() {
                    $('#pndatatable').DataTable({
                        'iDisplayLength': 50,
                        'aLengthMenu': [[20, 50, 100, -1],
                                        [20, 50, 100, "All"]],
                        "aaSorting": [],
                        "order": [],
                        dom: 'lBfrtip',
                        buttons: ['copyHtml5', 'csv', 'excelHtml5']
                    });
                })
        </script>

    }

}

<script type="text/javascript">
        function LowYieldWarning(oBT)
        {
            if (confirm("Warning: only FA assignee can trigger Critical Error Alarm."))
            {
                var myurl = "/Project/LowYieldWarn?IssueKey=" + oBT;
                window.open(myurl, '_blank');
            }
        }
</script>
