@model Prometheus.Models.ErrorComments

@{
    ViewBag.Title = "UpdateErrorComment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-4"><h2>Update Debug Tree Comment</h2></div>
    <div class="col-lg-1"><h2><a data-toggle="tooltip" title="Back To Debug Tree" href="/Project/UpdateProjectError?ErrorKey=@(Model.ErrorKey)"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a></h2></div>
    <div class="col-lg-7"></div>
</div>

<hr/>

<script src="../../ckeditor/ckeditor.js"></script>

@using (Html.BeginForm("UpdateErrorComment", "Project", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <label class="control-label">Comment</label>
            </div>

            <div class="form-group">
                <div>
                    <textarea name="editor1" id="editor1" rows="10" cols="80">@Model.Comment</textarea>
                    <script>
                        CKEDITOR.replace('editor1', { htmlEncodeOutput: true, filebrowserUploadUrl: '/userfiles/Upload.ashx', skin: 'moono-lisa' });
                    </script>
                </div>
            </div>

            <div class="form-group">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-4">
                            <span class="btn btn-default btn-file" id="choosefile6">
                                Editor Attachment <input type="file" name="file6" id="file6" runat="server" onchange="ShowFileNames6(this)" />
                            </span>
                        </div>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-1">@*<button class="form-control" type="button" data-toggle="tooltip" title="Save User Info" onclick="SaveUserContent()"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span></button>*@</div>
                        <div class="col-lg-1">@*<button class="form-control" type="button" data-toggle="tooltip" title="Retrieve User Info" onclick="UserCacheContent()"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></button>*@</div>
                        <div class="col-lg-5"></div>
                    </div>
                    <script type="text/javascript">
                                            function ShowFileNames6(oFile) {
                                                ajaxFileUpload();
                                            }
                                            function ajaxFileUpload() {
                                                $.ajaxFileUpload
                                                (
                                                    {
                                                        url: '/userfiles/ImageUpload.ashx',
                                                        secureuri: false,
                                                        fileElementId: 'file6',
                                                        dataType: 'HTML',
                                                        success: function (data, status)
                                                        {
                                                            var wholeval = CKEDITOR.instances.editor1.getData() + data;
                                                            CKEDITOR.instances.editor1.setData(wholeval);
                                                        },
                                                        error: function (e)
                                                        {
                                                            alert(e);
                                                        }
                                                    }
                                                )
                                                return false;
                                            }
                                            function SaveUserContent() {
                                                RealSaveUserContent(CKEDITOR.instances.editor1.getData());
                                                return false;
                                            }
                    </script>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <input class="form-control text-box single-line" value="@(Model.ErrorKey)" id="HErrorKey" name="HErrorKey" type="hidden" />
    </div>
    <div class="row">
        <input class="form-control text-box single-line" value="@(Model.CommentType)" id="HType" name="HType" type="hidden" />
    </div>
    <div class="row">
        <input class="form-control text-box single-line" value="@(Model.CommentDate.ToString())" id="HDate" name="HDate" type="hidden" />
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <div class="col-lg-3">
                    <input type="submit" value="Submit" class="btn btn-default" />
                </div>
                <div class="col-lg-9">
                </div>
            </div>
        </div>
    </div>
}
