@model Prometheus.Models.ProjectErrorViewModels

@{
    ViewBag.Title = "UpdateDebugTree";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var idx = 0;
}

<div class="row">

    <div class="nav navbar-nav navbar-left">
    <img src="~/Content/images/PJ/DebugTreeicon.png" style="height:35px; width:35px;margin-right: 15px;">
    </div>
    <div class="nav navbar-nav navbar-left">
        <ol class="breadcrumb" style="width:600px">
            <li><a data-toggle="tooltip" title="Goto ViewAll" href="/Project/ViewAll">All Projects</a></li>

            @if (Model != null)
            {
                <li><a data-toggle="tooltip" title="Goto Project Detail" href="/Project/ProjectDetail?ProjectKey=@(Model.ProjectKey)">Project Detail</a></li>
            }

            @if (Model != null)
            {
                <li><a data-toggle="tooltip" href="/Project/ProjectError?ProjectKey=@(Model.ProjectKey)">@(Model.ProjectKey) Debug Tree</a></li>
            }
            <li class="active">Update Debug Tree</li>
        </ol>
    </div>
</div>



<script src="../../ckeditor/ckeditor.js"></script>

@if (Model != null)
{
    using (Html.BeginForm("UpdateProjectError", "Project", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row" MYTP="orange" style="font-size:18px"><strong>&nbsp;&nbsp;&nbsp;Information</strong></div>
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-11">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-6">
                            <div class="col-xs-3"><label class="control-label" for="ProjectKey">Project Key</label></div>
                            <div class="col-xs-9">
                                <input class="form-control text-box single-line" id="ProjectKey" name="ProjectKey" type="text" value="@Model.ProjectKey" readonly="readonly" />
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="col-xs-3"><label class="control-label" for="ErrorCode">Error Code</label></div>

                            <div class="col-xs-9">
                                <input class="form-control text-box single-line" id="ErrorCode" name="ErrorCode" type="text" value="@Model.OrignalCode" readonly="readonly" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-6">
                            <div class="col-xs-3"><label class="control-label" for="ShortDesc">Short Desc</label></div>
                            <div class="col-xs-9">
                                @if (ViewBag.assigee != null && ViewBag.assigee)
                                {
                                    <input class="form-control text-box single-line" data-val-length="The field must be a string with a minimum length of 2 and a maximum length of 25." data-val-length-max="25" data-val-length-min="2" data-val-regex="The field should not contain \'" data-val-regex-pattern="^(?!.*&#39;).*$" id="ShortDesc" name="ShortDesc" type="text" value="@Model.ShortDesc" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="ShortDesc" data-valmsg-replace="true"></span>
                                }
                                else
                                {
                                    <input class="form-control text-box single-line" readonly="readonly" data-val-length="The field must be a string with a minimum length of 2 and a maximum length of 25." data-val-length-max="25" data-val-length-min="2" data-val-regex="The field should not contain \'" data-val-regex-pattern="^(?!.*&#39;).*$" id="ShortDesc" name="ShortDesc" type="text" value="@Model.ShortDesc" />
                                }
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="col-xs-3"><label class="control-label" for="ErrorCount">Error Count</label></div>

                            <div class="col-xs-9">
                                <input class="form-control text-box single-line" id="ErrorCount" name="ErrorCount" type="text" value="@Model.ErrorCount" readonly="readonly" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-6"><input class="form-control text-box single-line" value="@(Model.ErrorKey)" id="ErrorKey" name="ErrorKey" type="hidden" /></div>
                        <div class="col-xs-6"></div>
                    </div>



                </div>
            </div>
        </div>

        <hr style="border-color:#006DC0;" />
        <div class="row" MYTP="orange" style="font-size:18px"><strong>&nbsp;&nbsp;&nbsp;Analyses</strong></div>
        <div class="panel-group" id="accordion">
            @foreach (var paircoment in Model.PairComments)
            {
                idx = idx + 1;

                var analyzetitle = "";
                var closed = false;

                foreach (var item in paircoment)
                {
                    if (string.Compare(item.CommentType, Prometheus.Models.PJERRORCOMMENTTYPE.AnalyzeTitle) == 0)
                    {
                        analyzetitle = item.Comment;
                    }

                    if (string.Compare(item.CommentType, Prometheus.Models.PJERRORCOMMENTTYPE.Result) == 0)
                    {
                        if (!string.IsNullOrEmpty(item.ResultClosed) && string.Compare(item.ResultClosed, "CLOSED") == 0)
                        {
                            closed = true;
                        }
                    }
                }

                <div class="panel panel-default" id="panel@(idx)" style="border-left-color:transparent;border-right-color:transparent;border-top-color:#0F4FA8;border-bottom-color:white;border-bottom-width:0px;border-top-right-radius:0px;">
                    <div class="panel-heading" style="padding-top:0px;padding-bottom:0px;background-color:transparent;border-bottom-color:white;border-top-color:#0F4FA8;border-bottom-width:0px;">
                        <div class="row">

                            @if (closed)
                            {
                                <div class="col-xs-4" style="background-color:#0F4FA8;">
                                    <div class="panel-title">
                                        <div class="col-xs-12">
                                            <a data-toggle="collapse" data-target="#collapse@(idx)" href="#collapse@(idx)" class="collapsed"><font color="white">Analyse @idx @Html.Raw(analyzetitle)</font></a>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div MYTP="realred" class="col-xs-4" style="background-color:#0F4FA8;">
                                    <div class="panel-title">
                                        <div class="col-xs-12">
                                            <a data-toggle="collapse" data-target="#collapse@(idx)" href="#collapse@(idx)" class="collapsed"><font color="white">Analyse @idx @Html.Raw(analyzetitle)</font></a>
                                        </div>
                                    </div>
                                </div>
                            }


                            <div class="col-xs-8">
                                <div class="col-xs-10"></div>
                                <div class="col-xs-2">
                                    @if (ViewBag.assigee != null && ViewBag.assigee)
                                    {
                                        <img src="~/Content/images/icon/delete2.png" MYTP="HOVER" style="height:24px; width:14px" onclick="DeleteAnalyse('ErrorKey=@(paircoment[0].ErrorKey)&Date=@(paircoment[0].CommentDate.ToString())')">
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="collapse@(idx)" class="panel-collapse collapse">
                        <div class="panel-body" style="border-left-color:transparent;border-right-color:transparent;border-top-color:transparent;border-bottom-color:white;border-bottom-width:0px;">
                            @foreach (var item in paircoment)
                            {
                                if (string.Compare(item.CommentType, Prometheus.Models.PJERRORCOMMENTTYPE.AnalyzeTitle) == 0)
                                {
                                    continue;
                                }

                                var paneltitle = item.CommentType;
                                if (string.Compare(item.CommentType, Prometheus.Models.PJERRORCOMMENTTYPE.RootCause) == 0)
                                {
                                    paneltitle = item.CommentType+ " Investigation";
                                }


                                <div class="panel panel-default">

                                    @if (string.Compare(item.CommentType, Prometheus.Models.PJERRORCOMMENTTYPE.Result) == 0)
                                    {
                                        if (closed)
                                        {
                                            <div class="panel-heading">
                                               <h3 class="panel-title">@paneltitle</h3>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="panel-heading panel-heading-open">
                                                <h3 class="panel-title">@paneltitle</h3>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="panel-heading">
                                            <h3 class="panel-title">@paneltitle</h3>
                                        </div>
                                    }

                                    <div class="panel-body" style="overflow-y: scroll;overflow-x: scroll;">
                                        <div class="row col-xs-12">
                                            @Html.Raw(item.Comment)
                                        </div>
                                        <div class="row col-xs-12">
                                            <div class="col-xs-5"></div>
                                            <div class="col-xs-1">
                                                @if (ViewBag.assigee != null && ViewBag.assigee)
                                                {
                                                    if (string.Compare(item.CommentType, Prometheus.Models.PJERRORCOMMENTTYPE.Result) == 0)
                                                    {
                                                        if (!string.IsNullOrEmpty(item.ResultClosed) && string.Compare(item.ResultClosed, "CLOSED") == 0)
                                                        {
                                                        }
                                                        else
                                                        {
                                                            <button class="form-control" type="button" data-toggle="tooltip" title="Do not trace this result" value="ErrorKey=@(item.ErrorKey)&CommentType=@(item.CommentType)&Date=@(item.CommentDate.ToString())" onclick="CloseResultComment(this)">
                                                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                                            </button>
                                                        }
                                                    }
                                                }
                                            </div>
                                            <div class="col-xs-1">
                                            </div>
                                            <div class="col-xs-2">
                                                Reporter: <a href="/User/UserCenter?username=@item.Reporter">@item.Reporter.Split(new char[] { '@' })[0]</a>
                                            </div>
                                            <div class="col-xs-2">
                                                @item.CommentDate.ToString("yyyy-MM-dd HH:mm:ss")
                                            </div>
                                            <div class="row col-xs-1">
                                                @if (ViewBag.assigee != null && ViewBag.assigee)
                                                {
                                                    <a href="/Project/UpdateErrorComment?ErrorKey=@(item.ErrorKey)&CommentType=@(item.CommentType)&Date=@(item.CommentDate.ToString())">
                                                        <img src="~/Content/images/icon/edit.png" MYTP="HOVER" style="height:34px; width:24px">
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            }
                        </div>

                    </div>
                </div>
            }
        </div>

        <script type="text/javascript">

            function DeleteAnalyse(oBT) {
                if (oBT) {
                    if (confirm("Do you really want to remove this analyse?"))
                    {
                        window.location.href = "/Project/DeleteAnalyse?" + oBT;
                    }
                }
            }

            function UpdateErrorComment(oBT) {
                if (oBT.value) {
                    window.location.href = "/Project/UpdateErrorComment?" + oBT.value;
                }
            }

            function CloseResultComment(oBT) {
                if (oBT.value) {
                    if (confirm("Warning: Can you make sure this result do not need to trace any more?")) {
                        window.location.href = "/Project/CloseResultComment?" + oBT.value;
                    }
                }
            }
        </script>
        <hr style="border-color:#006DC0;" />
        <div  class="row">
            <div MYTP="green" class="row" style="margin-left:3px">
                <div class="col-xs-2">
                    <a data-toggle="collapse" href="#attachwell" aria-expanded="false" aria-controls="collapseExample" style="font-size:18px;font-family:'Arial Narrow';font-size:18px"><font color="black"><strong>@(Model.AttachList.Count) Attachements</strong></font>&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/Content/images/icon/extend.png" style="height:25px; width:auto"></a>
                </div>
                <div class="col-xs-10">
                    <div class="col-xs-3">
                        <span class="btn btn-default btn-file" id="choosefile3" style="padding:0px;background-color:transparent !important;border-color:transparent !important;">
                            <img src="~/Content/images/icon/Upload.png" MYTP="HOVER" style="height:25px; width:auto"><input type="file" name="files3" id="file3" runat="server" onchange="ShowFileNames3(this)" />
                        </span>
                    </div>
                    <div class="col-xs-9">
                        <div class="col-xs-11">
                            <label class="control-label" id="showfile3" name="showfile3"></label>
                        </div>
                        <div class="col-xs-1">
                            <input class="form-control text-box single-line" value="" id="attachmentupload" name="attachmentupload" type="hidden" />
                        </div>
                    </div>
                    <script type="text/javascript">
                        function ShowFileNames3(oFile) {
                            $('#showfile3').text(oFile.value);
                            document.getElementById("attachmentupload").value = oFile.value;
                        }
                    </script>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">&nbsp;</div>
            </div>

            <div class="row" style="margin-left:10px">
                <div class="col-xs-1"></div>
                <div class="col-xs-11">
                    <div class="collapse" id="attachwell">
                        @foreach (var item in Model.AttachList)
                        {
                            var realfn = "";
                            var tempfns = item.Split(new string[] { "/" }, StringSplitOptions.None);
                            realfn = tempfns[tempfns.Length - 1].Trim();

                            <div class="well" style="background-color:white;border-left-color:#006DC0;border-top-color:white;border-right-color:white;border-bottom-color:white;border-top-left-radius:0px;border-bottom-left-radius:0px">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a href="@item" target="_blank">
                                            <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>@realfn
                                        </a>
                                    </div>
                                    <div class="col-xs-1">
                                        @if (ViewBag.assigee != null && ViewBag.assigee)
                                        {
                                            <img src="~/Content/images/icon/delete2.png" MYTP="HOVER" style="height:30px; width:18px" onclick="DeleteAttachment('@realfn')">
                                        }
                                    </div>
                                    <div class="col-xs-5"></div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>

        <script type="text/javascript">
            function DeleteAttachment(oBT) {
                if (confirm("Notice: Do you really want to delete this attachment?")) {
                    window.location.href = '/Project/DeleteErrorAttachment?errorkey=' + document.getElementById("ErrorKey").value + '&filename=' + oBT
                }
                else {
                    window.location.href = '/Project/UpdateProjectError?errorkey=' + document.getElementById("ErrorKey").value
                }
            }

        </script>

        if (Model.GeneralCommentList.Count > 0)
        {
            <div class="row">
                <div MYTP="blue" class="row" style="margin-left:3px"><a data-toggle="collapse" href="#commentswell" aria-expanded="false" aria-controls="collapseExample" style="font-size:18px;font-family:'Arial Narrow';"><font color="black"><strong>&nbsp;&nbsp;@(Model.GeneralCommentList.Count) Comments</strong></font>&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/Content/images/icon/extend.png" style="height:25px; width:auto"></a></div>
                <div class="row">
                    <div class="col-xs-12">&nbsp;</div>
                </div>
                <div class="row" style="margin-left:10px">
                    <div class="collapse" id="commentswell">
                        <div class="row">
                            <div class="col-xs-1"></div>
                            <div class="col-xs-10">
                                @foreach (var item in Model.GeneralCommentList)
                                {
                                    <div class="well" MYTP="HOVER" style="margin-bottom:2px;padding-bottom:2px;margin-top:2px;padding-top:2px;background-color:transparent !important;border-left-color:#006DC0;border-top-color:transparent !important;border-right-color:transparent !important;border-bottom-color:transparent !important;border-top-left-radius:0px;border-bottom-left-radius:0px">
                                        <div class="row" MYTP="HOVER" style="margin-bottom:2px;padding-bottom:2px;margin-top:2px;padding-top:2px;">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <div class="col-xs-10"><a href="/User/UserCenter?username=@item.Reporter">@item.Reporter.Split(new char[] { '@' })[0]</a>&nbsp;&nbsp;@item.CommentDate.ToString("yyyy-MM-dd HH:mm:ss")</div>
                                                    <div class="col-xs-2">
                                                        <a href="/Project/UpdateErrorComment?ErrorKey=@(item.ErrorKey)&CommentType=@(item.CommentType)&Date=@(item.CommentDate.ToString())">
                                                            <img src="~/Content/images/icon/edit.png" MYTP="HOVER" style="height:34px; width:24px">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6"></div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-1"></div>
                                                <div class="col-xs-11">@Html.Raw(item.Comment)</div>
                                            </div>
                                        </div>

                                    </div>
                                }
                            </div>
                            <div class="col-xs-1"></div>
                        </div>


                    </div>
                </div>


            </div>
        }

        if (ViewBag.assigee != null && ViewBag.assigee)
        {
            <div class="row">
                <div  MYTP="red" class="row" style="margin-left:3px"><a data-toggle="collapse" href="#AnalyseInput" aria-expanded="false" aria-controls="collapseExample" style="font-size:18px;font-family:'Arial Narrow';"><font color="black"><strong>&nbsp;&nbsp;Analyse Input</strong></font>&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/Content/images/icon/extend.png" style="height:25px; width:auto"></a></div>
                <div class="row">
                    <div class="col-xs-12">&nbsp;</div>
                </div>
                <div class="row" style="margin-left:10px">
                    <div class="collapse" id="AnalyseInput">
                        <div class="row">
                            <div class="col-xs-1"></div>
                            <div class="col-xs-10">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <div class="col-xs-2">
                                                <label class="control-label" for="analysetitle">Analyse Title</label>
                                            </div>
                                            <div class="col-xs-4">
                                                <input class="form-control text-box single-line" id="analysetitle" name="analysetitle" data-val="true" data-val-length="The field must be a string with a minimum length of 2 and a maximum length of 200." data-val-length-max="200" data-val-length-min="2" data-val-regex="The field should not contain \'" data-val-regex-pattern="^(?!.*&#39;).*$" type="text" value="" />
                                                <span class="field-validation-valid text-danger" data-valmsg-for="analysetitle" data-valmsg-replace="true"></span>
                                            </div>
                                            <div class="col-xs-6">
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12">&nbsp;</div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        Failure Detail
                                    </div>

                                    <div class="form-group">
                                        <div>
                                            <textarea name="editor3" id="editor3" rows="10" cols="80"></textarea>
                                            <script>
                                        CKEDITOR.replace('editor3', { htmlEncodeOutput: true, filebrowserUploadUrl: '/userfiles/Upload.ashx', skin: 'moono-lisa' });
                                            </script>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="col-xs-4">
                                                    <span class="btn btn-default btn-file" id="choosefile6">
                                                        Editor Attachment <input type="file" name="file6" id="file6" runat="server" onchange="ShowFileNames6(this)" />
                                                    </span>
                                                </div>
                                                <div class="col-xs-1"></div>
                                                <div class="col-xs-1">@*<button class="form-control" type="button" data-toggle="tooltip" title="Save User Info" onclick="SaveUserContent()"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span></button>*@</div>
                                                <div class="col-xs-1">@*<button class="form-control" type="button" data-toggle="tooltip" title="Retrieve User Info" onclick="UserCacheContent()"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></button>*@</div>
                                                <div class="col-xs-5"></div>
                                            </div>
                                            <script type="text/javascript">
                                        function ShowFileNames6(oFile) {
                                            ajaxFileUpload6();
                                        }
                                        function ajaxFileUpload6() {
                                            $.ajaxFileUpload
                                            (
                                                {
                                                    url: '/userfiles/ImageUpload.ashx',
                                                    secureuri: false,
                                                    fileElementId: 'file6',
                                                    dataType: 'HTML',
                                                    success: function (data, status) {
                                                        var wholeval = CKEDITOR.instances.editor3.getData() + data;
                                                        CKEDITOR.instances.editor3.setData(wholeval);
                                                    },
                                                    error: function (e) {
                                                        alert(e);
                                                    }
                                                }
                                            )
                                            return false;
                                        }
                                            </script>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-xs-12">&nbsp;</div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        Root Cause Investigation
                                    </div>

                                    <div class="form-group">
                                        <div>
                                            <textarea name="editor2" id="editor2" rows="10" cols="80"></textarea>
                                            <script>
                                        CKEDITOR.replace('editor2', { htmlEncodeOutput: true, filebrowserUploadUrl: '/userfiles/Upload.ashx', skin: 'moono-lisa' });
                                            </script>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="col-xs-4">
                                                    <span class="btn btn-default btn-file" id="choosefile7">
                                                        Editor Attachment <input type="file" name="file7" id="file7" runat="server" onchange="ShowFileNames7(this)" />
                                                    </span>
                                                </div>
                                                <div class="col-xs-1"></div>
                                                <div class="col-xs-1">@*<button class="form-control" type="button" data-toggle="tooltip" title="Save User Info" onclick="SaveUserContent()"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span></button>*@</div>
                                                <div class="col-xs-1">@*<button class="form-control" type="button" data-toggle="tooltip" title="Retrieve User Info" onclick="UserCacheContent()"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></button>*@</div>
                                                <div class="col-xs-5"></div>
                                            </div>
                                            <script type="text/javascript">
                                        function ShowFileNames7(oFile) {
                                            ajaxFileUpload7();
                                        }
                                        function ajaxFileUpload7() {
                                            $.ajaxFileUpload
                                            (
                                                {
                                                    url: '/userfiles/ImageUpload.ashx',
                                                    secureuri: false,
                                                    fileElementId: 'file7',
                                                    dataType: 'HTML',
                                                    success: function (data, status) {
                                                        var wholeval = CKEDITOR.instances.editor2.getData() + data;
                                                        CKEDITOR.instances.editor2.setData(wholeval);
                                                    },
                                                    error: function (e) {
                                                        alert(e);
                                                    }
                                                }
                                            )
                                            return false;
                                        }
                                            </script>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-xs-12">&nbsp;</div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        Result
                                    </div>

                                    <div class="form-group">
                                        <div>
                                            <textarea name="resulteditor" id="resulteditor" rows="10" cols="80"></textarea>
                                            <script>
                                        CKEDITOR.replace('resulteditor', { htmlEncodeOutput: true, filebrowserUploadUrl: '/userfiles/Upload.ashx', skin: 'moono-lisa' });
                                            </script>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="col-xs-4">
                                                    <span class="btn btn-default btn-file" id="choosefile8">
                                                        Editor Attachment <input type="file" name="file8" id="file8" runat="server" onchange="ShowFileNames8(this)" />
                                                    </span>
                                                </div>
                                                <div class="col-xs-1"></div>
                                                <div class="col-xs-1">@*<button class="form-control" type="button" data-toggle="tooltip" title="Save User Info" onclick="SaveUserContent()"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span></button>*@</div>
                                                <div class="col-xs-1">@*<button class="form-control" type="button" data-toggle="tooltip" title="Retrieve User Info" onclick="UserCacheContent()"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></button>*@</div>
                                                <div class="col-xs-5"></div>
                                            </div>
                                            <script type="text/javascript">
                                        function ShowFileNames8(oFile) {
                                            ajaxFileUpload8();
                                        }
                                        function ajaxFileUpload8() {
                                            $.ajaxFileUpload
                                            (
                                                {
                                                    url: '/userfiles/ImageUpload.ashx',
                                                    secureuri: false,
                                                    fileElementId: 'file8',
                                                    dataType: 'HTML',
                                                    success: function (data, status) {
                                                        var wholeval = CKEDITOR.instances.resulteditor.getData() + data;
                                                        CKEDITOR.instances.resulteditor.setData(wholeval);
                                                    },
                                                    error: function (e) {
                                                        alert(e);
                                                    }
                                                }
                                            )
                                            return false;
                                        }
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-1"></div>
                        </div>

                    </div>
                </div>
            </div>

        }
        <hr style="border-color:#006DC0;" />
        <div class="row">
            <div MYTP="red" class="row" style="margin-left:3px"><a data-toggle="collapse" href="#CommentInput" aria-expanded="false" aria-controls="collapseExample" style="font-size:18px;font-family:'Arial Narrow';"><font color="black"><strong>&nbsp;&nbsp;General Comment Input</strong></font>&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/Content/images/icon/extend.png" style="height:25px; width:auto"></a></div>
            <div class="row">
                <div class="col-xs-12">&nbsp;</div>
            </div>
            <div class="row" style="margin-left:10px">
                <div class="collapse" id="CommentInput">
                    <div class="row">
                        <div class="row">
                            <div class="col-xs-1"></div>
                            <div class="col-xs-10">
                                <div class="form-group">
                                    <div>
                                        <textarea name="editor1" id="editor1" rows="10" cols="80"></textarea>
                                        <script>
                                        CKEDITOR.replace('editor1', { htmlEncodeOutput: true, filebrowserUploadUrl: '/userfiles/Upload.ashx', skin: 'moono-lisa' });
                                        </script>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="col-xs-4">
                                                <span class="btn btn-default btn-file" id="choosefile9">
                                                    Editor Attachment <input type="file" name="file9" id="file9" runat="server" onchange="ShowFileNames9(this)" />
                                                </span>
                                            </div>
                                            <div class="col-xs-1"></div>
                                            <div class="col-xs-1">@*<button class="form-control" type="button" data-toggle="tooltip" title="Save User Info" onclick="SaveUserContent()"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span></button>*@</div>
                                            <div class="col-xs-1">@*<button class="form-control" type="button" data-toggle="tooltip" title="Retrieve User Info" onclick="UserCacheContent()"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></button>*@</div>
                                            <div class="col-xs-5"></div>
                                        </div>
                                        <script type="text/javascript">
                                        function ShowFileNames9(oFile) {
                                            ajaxFileUpload9();
                                        }
                                        function ajaxFileUpload9() {
                                            $.ajaxFileUpload
                                            (
                                                {
                                                    url: '/userfiles/ImageUpload.ashx',
                                                    secureuri: false,
                                                    fileElementId: 'file9',
                                                    dataType: 'HTML',
                                                    success: function (data, status) {
                                                        var wholeval = CKEDITOR.instances.editor1.getData() + data;
                                                        CKEDITOR.instances.editor1.setData(wholeval);
                                                    },
                                                    error: function (e) {
                                                        alert(e);
                                                    }
                                                }
                                            )
                                            return false;
                                        }
                                        </script>

                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-1"></div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <hr style="border-color:#006DC0;" />
        <div class="row">
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="col-xs-2">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                    <div class="col-xs-2">
                        <button class="btn btn-success" type="button" value="ErrorKey=@(Model.ErrorKey)&ToWho=" onclick="PushTask(this)">Push</button>
                    </div>
                    <div class="col-xs-8"><input class="form-control text-box single-line" value="" id="pushtowho" name="pushtowho" type="hidden" /></div>
                </div>
            </div>
            <script type="text/javascript">
                function PushTask(oBT) {
                    document.getElementById("pushtowho").value = oBT.value;
                    if (CKEDITOR.instances.editor1.getData()) {
                        document.getElementById("issuereason").value = 'WITHCOMMENT:' + CKEDITOR.instances.editor1.getData();
                    }
                    $('#towhotag').modal({ backdrop: 'static' });
                }

                function realpush() {
                    var myurl = ""
                    $.base64.utf8encode = true;
                    var tempreason = '';
                    if (document.getElementById("issuereason").value) {
                        tempreason = $.base64.btoa(document.getElementById("issuereason").value);
                    }

                    if (document.getElementById("towhoinput").value) {
                        myurl = "/Project/IPushDebug?" + document.getElementById("pushtowho").value + document.getElementById("towhoinput").value + "&Reason=" + tempreason;
                    }
                    else {
                        myurl = "/Project/IPushDebug?" + document.getElementById("pushtowho").value + document.getElementById("towholist").value + "&Reason=" + tempreason;
                    }

                    $('#towhotag').modal('hide');

                    window.location.href = myurl
                }
            </script>
        </div>

        <div class="modal" id="towhotag" tabindex="-1" role="dialog" aria-labelledby="towhoLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="towhoLabel">Push Debug Tree</h4>
                    </div>
                    <div class="row"></div>
                    <div class="row col-xs-12">
                        <div class="col-xs-3">
                            <label class="control-label">To Who</label>
                        </div>
                        <div class="col-xs-9">
                            @if (ViewBag.towholist != null)
                            {
                                @Html.DropDownList("towholist", null, new { @id = "towholist", @class = "form-control", @onchange = "chooseapusher()" })
                            }
                        </div>
                        <script type="text/javascript">
                            function chooseapusher() {
                                document.getElementById("towhoinput").value = document.getElementById("towhoinput").value + ';' + document.getElementById("towholist").value;
                            }
                        </script>
                    </div>
                    <hr />
                    <div class="row col-xs-12">
                        <div class="col-xs-3">
                            <label class="control-label">To who Input</label>
                        </div>
                        <div class="col-xs-9" data-toggle="tooltip" data-placement="center" title="Exampel: Email Address; Email Address;Email Address;...">
                            <textarea class="form-control col-xs-12" name="towhoinput" id="towhoinput" style="height:100px;min-width:300px;"></textarea>
                        </div>
                    </div>
                    <hr />
                    <div class="row col-xs-12">
                        <div class="col-xs-3">
                            <label class="control-label">Push Comment<font color="red">*</font></label>
                        </div>
                        <div class="col-xs-9" data-toggle="tooltip" data-placement="center" title="Your Comment">
                            <textarea class="form-control col-xs-12" name="issuereason" id="issuereason" style="height:100px;min-width:300px;"></textarea>
                        </div>
                    </div>
                    <div class="row"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-success" onclick="realpush()">Push</button>
                    </div>
                </div>
            </div>
        </div>
    }


}
