
@model IEnumerable<Prometheus.Models.ProjectViewModels>

@{
    ViewBag.Title = "Project View All";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var idx = 0;
}

<div class="row">
    <div class="col-xs-3" data-toggle="modal" data-target="#myModal">
        <div class="nav navbar-nav navbar-left">
            <img src="~/Content/images/ucicon/IProjectIcons.png" style="height:40px; width:40px">
        </div>
        <div class="nav navbar-nav navbar-left">
            <ol class="breadcrumb">
                <li><a href="/Project/ViewAll">All Projects</a></li>
            </ol>
        </div>
    </div>
    <div class="col-xs-6 text-right">
        @if ((ViewBag.IsSuper != null && ViewBag.IsSuper)
                || (ViewBag.IsManage != null && ViewBag.IsManage))
        {
            <button class="btn btn-success" type="button"
                    onclick="LoadProject()" data-intro="Add or delete product here." data-step="2">
                Load Projects
            </button>
            <a class="btn btn-danger" href="/Project/ClosedProjects">Closed Projects</a>
        }
    </div>
    <div class="col-xs-3" data-intro="Search specify product here." data-step="1">
        @Html.DropDownList("pjfilterlist", null, new { @id = "pjfilterlist", @class = "form-control", @style = "font-family:'Arial Narrow';border-color:#006DC0;", @onchange = "ShowProjectDetail()" })
    </div>
    <script type="text/javascript">
        function ShowProjectDetail() {
            if (document.getElementById("pjfilterlist").value && document.getElementById("pjfilterlist").value != 'NONE') {
                window.location.href = '/Project/ProjectDetail?ProjectKey=' + document.getElementById("pjfilterlist").value;
            }
        }
        function LoadProject() {
            window.location.href = '/Project/LoadProjects';
        }
        $('body').on('click', '.close-project', function () {
            if (!confirm("If you close project, this project will not display in projectlist")) {
                return false;
            }
            var pKey = $(this).attr("data-pkey");
            $.post('/Project/CloseProject', {
                pKey: pKey,
            }, function (output) {
                if (output.success) {
                    window.location.reload();
                }
            })
        })
        $('body').on('click', '.edit-project', function () {
            var pKey = $(this).attr("data-pkey");
            window.location.href = "/Project/EditProject?ProjectKey=" + pKey;
        })
    </script>
</div>

@if (ViewBag.showie8modal)
{
    <script type="text/javascript">
        $(function () {
            $('#forie8modal').modal('show');
        });

        function closeie8modal() {
            $("#forie8modal").modal('hide');
            return false;
        }
    </script>

    <div class="modal" id="forie8modal" tabindex="-1" role="dialog" aria-labelledby="forie8modalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content ie8popup">
                <div class="modal-header">
                    <h4 class="modal-title" id="forie8modalLabel">To IE8 User</h4>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <label>Please Update to IE10+ or FireFox to get better user experience</label>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <img src="~/Content/images/mainpage.png" style="height:200px;width:auto;">
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="closeie8modal()">OK</button>
                </div>
            </div>
        </div>
    </div>
}

<div class="panel-group" data-intro="Your project(s) list here." data-step="3">
    @foreach (var pjtype in ViewBag.pjtypelist)
    {
        if (ViewBag.pjtpdict.ContainsKey(pjtype))
        {
            <div class="panel panel-default" id="panel@(idx)" style="border:none !important;margin-bottom:8px;">
                <div class="panel-heading collapsed va-pro-info" data-toggle="collapse" data-target="#collapse@(idx)">
                    <h4 class="panel-title">
                        <font color="white">@pjtype</font>
                    </h4>
                </div>

                <div id="collapse@(idx)" class="panel-collapse collapse">
                    <div class="panel-body">
                    @foreach (var item in Model)
                    {
                        if (string.Compare(item.ProjectType, pjtype, true) != 0)
                        { continue; }
                        <div class="row" MYTP="HOVER" style="margin-top:8px;margin-bottom:8px;">
                            <div>
                                <div class="col-xs-2">
                                    <div class="well" style="margin-bottom:8px;background-color:transparent !important;border-left-color:#006DC0;border-top-color:transparent !important;border-right-color:transparent !important;border-bottom-color:transparent !important;border-top-left-radius:0px;border-bottom-left-radius:0px;padding-top:4px;padding-bottom:4px">
                                        <div class="row text-left">
                                        @if (!ViewBag.IsOutSide)
                                        {
                                            <a href="/Project/ProjectDetail?ProjectKey=@item.ProjectKey" style="font-size:18px;">@item.ProjectName</a>
                                        }
                                        else
                                        {
                                            <strong>@item.ProjectName</strong>
                                        }
                                        </div>
                                        @if (!string.IsNullOrEmpty(item.TransferFlg))
                                        {
                                            <div class="row text-left">
                                                <div class="col-xs-1"></div>
                                                <div class="col-xs-11">
                                                    <red>Transfer to @item.TransferFlg</red>
                                                </div>
                                            </div>
                                        }
                                        @if (!string.IsNullOrEmpty(item.CurrentNPIProc)
                                                && !string.IsNullOrEmpty(item.PIP1Date)
                                                && !string.IsNullOrEmpty(item.MVTDate))
                                            {
                                            <div class="row text-left">
                                                <div class="col-xs-1"></div>
                                                <div class="col-xs-11">
                                                    <a href="/Issue/UpdateIssue?issuekey=@item.CurrentNPIProcKey" style="font-size:14px;"><strong>@item.CurrentNPIProc</strong></a>
                                                </div>
                                            </div>
                                            <div class="row text-left">
                                                <div class="col-xs-1"></div>
                                                <div class="col-xs-11" style="font-size:14px;"><strong>@item.PIP1Date</strong></div>
                                            </div>
                                            <div class="row text-left">
                                                <div class="col-xs-1"></div>
                                                <div class="col-xs-11" style="font-size:14px;"><strong>@item.MVTDate</strong></div>
                                            </div>
                                            <div class="row text-left">
                                                <div class="col-xs-1"></div>
                                                <div class="col-xs-11">
                                                    <input type="button" class="btn btn-success btn-sm edit-project" data-pkey="@item.ProjectKey" value="Edit" />
                                                    @if ((ViewBag.IsSuper != null && ViewBag.IsSuper)
                                                            || (ViewBag.IsManage != null && ViewBag.IsManage))
                                                    {
                                                        <input type="button" class="btn btn-danger btn-sm close-project" data-pkey="@item.ProjectKey" value="Close" />
                                                    }
                                                </div>
                                            </div>
                                            }
                                            else
                                            {
                                            <div class="row">
                                                <div style="font-size:14px;">&nbsp;</div>
                                            </div>
                                            <div class="row">
                                                <div style="font-size:14px;">&nbsp;</div>
                                            </div>
                                            <div class="row">
                                                <div style="font-size:14px;">&nbsp;</div>
                                            </div>
                                            <div class="row text-left">
                                                <div class="col-xs-1"></div>
                                                <div class="col-xs-11">
					                                <input type="button" class="btn btn-success btn-sm edit-project" data-pkey="@item.ProjectKey" value="Edit" />
                                                    @if ((ViewBag.IsSuper != null && ViewBag.IsSuper)
                                                            || (ViewBag.IsManage != null && ViewBag.IsManage))
                                                    {
                                                        <input type="button" class="btn btn-danger btn-sm close-project" data-pkey="@item.ProjectKey" value="Close" />
                                                    }
                                                </div>
                                            </div>
                                            }
                                    </div>
                                </div>

                                @if (string.Compare(item.ProjectType, Prometheus.Models.ProjectTypeInf.QM) != 0)
                                {
                                    var m = 0;
                                    foreach(var mod in ViewBag.uProModules[item.ProjectKey])
                                    {
                                        if(m >= 5)
                                        {
                                            break;
                                        }
                                        <div class="col-xs-2 row-margin margin-top-15" data-sort-val="@mod.key">
                                            <div class="col-xs-7" data-toggle="modal" data-target="#myModal">
                                                <div data-toggle="tooltip" title="@mod.key">
                                                    <a href="@(ViewBag.Default_Modules[mod.key].Url)?ProjectKey=@item.ProjectKey"><img src="@(ViewBag.Default_Modules[mod.key].ImgUrl)" style="height:75px; width:75px"></a>
                                                </div>
                                            </div>
                                            @if(string.Compare(mod.key, "Yield", true) == 0)
                                            {
                                                <div class="col-xs-5">
                                                    @if (item.FirstYield > 0)
                                                    {
                                                        <span class="badge margin-left-30" style="color:white;background-color:red">FPY @((item.FirstYield * 100.0).ToString("0.0")) %</span>
                                                    }
                                                    @if (item.RetestYield > 0)
                                                    {
                                                        <span class="badge margin-left-30" style="color:white;background-color:red">FY @((item.RetestYield * 100.0).ToString("0.0")) %</span>
                                                    }
                                                </div>
                                            }
                                            @if(string.Compare(mod.key, "FA", true) == 0)
                                            {
                                                <div class="col-xs-3">
                                                    @if (item.FinishRating < 90)
                                                    {
                                                        <span class="badge margin-left-30" style="color:white;background-color:red">@item.PendingFACount</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge margin-left-30" style="color:white;background-color:forestgreen">@item.PendingFACount</span>
                                                    }
                                                </div>
                                            }
                                            @if(string.Compare(mod.key, "Task", true) == 0)
                                            {
                                                <div class="col-xs-3">
                                                    <span class="badge margin-left-30" style="color:white;background-color:red">@item.PendingTaskCount</span>
                                                </div>
                                            }
                                            @if(string.Compare(mod.key, "RMA", true) == 0)
                                            {
                                                <div class="col-xs-3">
                                                    <span class="badge margin-left-30" style="color:white;background-color:red">@item.PendingRMACount</span>
                                                </div>
                                            }
                                            @if (string.Compare(mod.key, "Critical Task", true) == 0)
                                            {
                                                <div class="col-xs-3">
                                                    <span class="badge margin-left-30" style="color:white;background-color:red">@item.PendingSptCount</span>
                                                </div>
                                            }
                                        </div>
                                        m++;
                                    }
                                }
                                else
                                {
                                <div class="col-xs-2">
                                    <div class="col-xs-7" data-toggle="modal" data-target="#myModal">

                                        <div class="row">
                                            <div style="font-size:14px;">&nbsp;</div>
                                        </div>
                                        <div class="row" data-toggle="tooltip" title="Task">
                                            <a href="/Project/ProjectIssues?ProjectKey=@item.ProjectKey"><img src="~/Content/images/PJ/Task.png" MYTP="HOVER" style="height:80px; width:80px"></a>
                                        </div>
                                    </div>
                                    <div class="col-xs-5">

                                        <div class="row">
                                            <div style="font-size:14px;">&nbsp;</div>
                                        </div>
                                        <div class="row"><span class="badge" style="color:white;background-color:red">@item.PendingTaskCount</span></div>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="col-xs-7" data-toggle="modal" data-target="#myModal">
                                        <div class="row">
                                            <div style="font-size:14px;">&nbsp;</div>
                                        </div>
                                        <div class="row" data-toggle="tooltip" title="Reliability">
                                            <a href="/Project/ProjectReliability?ProjectKey=@item.ProjectKey"><img src="~/Content/images/PJ/REL.png" MYTP="HOVER" style="height:80px; width:80px"></a>
                                        </div>
                                    </div>
                                    <div class="col-xs-5">

                                        <div class="row">
                                            <div style="font-size:14px;">&nbsp;</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="col-xs-7" data-toggle="modal" data-target="#myModal">

                                        <div class="row">
                                            <div style="font-size:14px;">&nbsp;</div>
                                        </div>
                                        <div class="row" data-toggle="tooltip" title="OBA">
                                            <a href="/Project/ProjectOBA?ProjectKey=@item.ProjectKey"><img src="~/Content/images/PJ/OBA.png" MYTP="HOVER" style="height:80px; width:80px"></a>
                                        </div>
                                    </div>
                                    <div class="col-xs-5">

                                        <div class="row">
                                            <div style="font-size:14px;">&nbsp;</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-2">
                                    <div class="col-xs-7" data-toggle="modal" data-target="#myModal">

                                        <div class="row">
                                            <div style="font-size:14px;">&nbsp;</div>
                                        </div>
                                        <div class="row" data-toggle="tooltip" title="IQC">
                                            <a href="/Project/ProjectIQC?ProjectKey=IQE"><img src="~/Content/images/PJ/IQC.png" MYTP="HOVER" style="height:80px; width:80px"></a>
                                        </div>
                                    </div>
                                    <div class="col-xs-5">

                                        <div class="row">
                                            <div style="font-size:14px;">&nbsp;</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-2">
                                    <div class="col-xs-7" data-toggle="modal" data-target="#myModal">

                                        <div class="row">
                                            <div style="font-size:14px;">&nbsp;</div>
                                        </div>
                                        <div class="row" data-toggle="tooltip" title="RMA">
                                            <a href="/Project/ProjectRMAStatus?ProjectKey=CQE"><img src="~/Content/images/PJ/RMA.png" MYTP="HOVER" style="height:80px; width:80px"></a>
                                        </div>
                                    </div>
                                    <div class="col-xs-5">

                                        <div class="row">
                                            <div style="font-size:14px;">&nbsp;</div>
                                        </div>
                                    </div>
                                </div>
                                }

                            </div>
                        </div>

                        <hr style="border-color:#ECECEC;margin-top:4px;margin-bottom:4px;" />

                        }
                    </div>
                </div>
            </div>

            idx = idx + 1;
        }
    }
</div>  
@*</div>*@


